<div id="cookiesView" class="row indexcontent">
    <div class="col-xs-12">
        <h1>Cookies</h1>

        <h3>Information about cookies</h3>

        <p>A cookie is a small piece of data sent from a website and stored in a user's web browser or other IT
            equipment
            when the user is using the website. It enables the browser to collect information about user behavior but
            may also be
            used for security or user functionality. Cookies are used by most websites and is often a requirement for
            the website
            to function properly.</p>

        <h3>Cookies on this site</h3>

        <p>On this site cookies are used for</p>
        <table id="cookietable">
            <tr>
                <td class="def">User functionality</td>
                <td>Caching of user preferences such as last used map type</td>
            </tr>
            <tr>
                <td class="def">Caching of data</td>
                <td>Caching of static data (e.g. ports) to lower the amount of data transfered between computer (often
                    on a
                    ship) and the server.
                </td>
            </tr>
            <tr>
                <td class="def">Security</td>
                <td>Identification of logged in user as well as preventing unauthorized users to interact with the
                    website
                </td>
            </tr>
        </table>

        <p>Other websites may use cookies for purposes such as marketing and statistics</p>

        <h3>Avoiding cookies</h3>

        <p>If you should wish to not use cookies, then your can do this by configuring your browser settings.</p>

        <p>If you should choose to not use cookies completely via your browser setting, then your activity on the
            Internet
            will NOT be registered. You will however also prevent ArcticWeb as well as many other websites from working
            properly.</p>

        <p>If cookies are not desired and if browser settings allows to do so, then we suggest to set browser settings
            that only prevent marketing and statistics cookies as well as other third party cookies.</p>


        <h3>Why are we informing about cookies?</h3>

        <p>
            We are as other Danish websites obligated to inform about cookies as stated in <a
                href="//erhvervsstyrelsen.dk/file/253401/cookie-exec-order-english-version.pdf">Executive Order on
            Information
            and Consent Requiring in Case of Storing or Accessing Information in End-User Terminal Equipment (pdf)</a>
        </p>
    </div>
</div>
