<div x-ng-controller="embryo.FeedbackCtrl" class="indexcontent">
    <h1>Leave feedback</h1>

    <form id="feedbackForm" name="feedbackForm" class="form-signin">
        <div x-ng-show="alertMessages" class="alert alert-danger">
            <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
        </div>
        <div x-ng-show="message" class="alert alert-info">{{message}}</div>

        <p>Please fill out the form below to tell us about your experience with ArcticWeb.</p>

        <p>MMSI-number may be left blank if you do not report from a particular vessel.</p>

        <div class="embryo-form-controls">
            <div class="form-group">
                <label for="rName">Name:</label> <input
                    type="text" class="form-control" placeholder="Name"
                    id="rName" x-ng-model="feedback.name" required/>
            </div>
            <div class="form-group">
                <label for="rEmailAddress">Email Address:</label> <input type="email"
                                                                         class="form-control"
                                                                         placeholder="Email Address" id="rEmailAddress"
                                                                         x-ng-model="feedback.emailAddress" required/>
            </div>
            <div class="form-group">
                <label for="rUserType">User Type:</label>
                <select id="rUserType" class="form-control" x-ng-model="feedback.userType"
                        x-ng-options="userType for userType in userTypes">
                </select>
            </div>
            <div class="form-group">
                <label for="rMmsiNumber">MMSI-number:</label> <input type="number"
                                                                     class="form-control" placeholder="MMSI-number"
                                                                     id="rMmsiNumber"
                                                                     x-ng-model="feedback.mmsiNumber"
                                                                     x-ng-pattern="/^([0-9]{8})?$/" max="99999999"/>
            </div>
            <div class="form-group">
                <label for="rMessage">Message:</label> <textarea rows="10" class="form-control"
                                                                 placeholder="Message" id="rMessage"
                                                                 x-ng-model="feedback.message" required></textarea>
            </div>
            <div id="feedbackFormBtns" class="clearfix">
            <button class="btn btn-primary pull-right" x-ng-disabled="!feedbackForm.$valid"
                        x-ng-click="sendFeedback($event)">Send Feedback
                </button>
            </div>
        </div>
    </form>
</div>