<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="img/front/ice.jpg" alt="">
			<div class="container">
				<div class="carousel-caption">
					<h2>Tailored Weather Forecasts and Ice Charts</h2>
					<p class="lead">Latest ice charts from Danish Meteorological Institute. Tailored weather forecasts for uploaded
						sailing routes.</p>
				</div>
			</div>
		</div>

		<div class="item">
			<img src="img/front/Konsol_h350.jpg" alt="">
			<div class="container">
				<div class="carousel-caption">
					<h2>Coordinated Voyage</h2>
					<p class="lead">Share routes and schedules with other ships and Arctic Command.</p>
				</div>
			</div>
		</div>

		<div class="item">
            <img src="img/front/img6.jpg" alt="">

            <div class="container">
				<div class="carousel-caption">
					<h2>Live AIS-data and Streamlined Reporting</h2>
					<p class="lead">AIS-data from satellite and base stations. Simplified and streamlined Greenpos reporting.</p>
				</div>
			</div>
		</div>
	</div>
    <a class="left carousel-control" href="../../#myCarousel" data-slide="prev">&lsaquo;</a> <a
        class="right carousel-control"
        href="../../#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!-- ================================================= -->

<hr>

<div class="pagecontainer">

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-content">
		<H1 style="margin-top: 30px; margin-bottom: 20px;">Welcome to ArcticWeb</H1>
		<p>ArcticWeb is an effort from the Danish Maritime Authority to improve maritime safety in the Arctic region. ArcticWeb serves as a
			single access point to safety related information, provides streamlined reporting and allows for voluntary
			coordinated voyage through sharing of positions and planned routes. Ships in the area and their organizations may
			request access to ArcticWeb via the button below.</p>
		<a class="btn btn-large btn-primary" id="requestAccessBigButton" role="button" data-toggle="modal">Request Access</a>

	</div>

    <hr>

	<!-- Top row -->
	<div class="row-fluid">
		<div class="span4 subsection">
			<p>
				<img src="img/front/iceChart.png">
			</p>
			<h3 class="header">Ice Charts</h3>
			<p>The Danish Meteorological Institute, Greenland Ice Service, collects information regarding ice conditions in
				the waters around Greenland and distributes this information to ships primarily as ice charts and reports.</p>
			<ul>
				<li><a target="_blank"
					href="http://www.soefartsstyrelsen.dk/SiteCollectionDocuments/CMR/DMI%20ice%20service%20updated%20feb%202011.pdf">DMI
						Ice Service</a></li>
				<li><a target="_blank"
					href="http://www.soefartsstyrelsen.dk/SiteCollectionDocuments/CMR/6%20-%20Greenland%20Ice%20Service.pdf">Greenland
						Ice Service</a></li>
				<li><a target="_blank" href="http://www.dmi.dk/en/groenland/hav/ice-charts/">Latest Ice Charts</a></li>
			</ul>
		</div>
		<div class="span4 subsection">
			<p>
				<img src="img/front/weather.png">
			</p>
			<h3>Weather</h3>
			<p>Warnings and forecasts are broadcasted by KNR (Greenland Radio) and Greenland coast radio stations. For
				schedules, frequencies and areas see "Admiralty List of Radio Signals".</p>

			<ul>
				<li><a target="_blank" href="http://www.dmi.dk/en/groenland/hav/sea-areas-forecast/"> Sea Areas Forecast</a></li>
			</ul>
		</div>
		<div class="span4 subsection">
			<p>
				<img src="img/front/safety_h270.jpg">
			</p>
			<h3 class="header">Safety of Navigation - Greenland</h3>
			<p>A safety package containing regulations and information about special Greenland conditions is available to
				ships embarking on voyages in Greenland waters. The documents are available from the links below</p>

			<ul>
				<li><a target="_blank"
					href="http://www.soefartsstyrelsen.dk/SiteCollectionDocuments/CMR/Welcome%20to%20Greenland%20waters.pdf">Welcome
						to Greenland Waters</a></li>
				<li><a target="_blank"
					href="http://www.soefartsstyrelsen.dk/SiteCollectionDocuments/CMR/Order%20on%20technical%20regulation%20on%20safety%20of%20navigation,%20FEB%2011%20updated%20translation.pdf">
						DMA Order on Technical Regulation on Safety of Navigation</a></li>
				<li><a target="_blank"
					href="http://www.dma.dk/SiteCollectionDocuments/CMR/3%20-%20Mandatory%20Ship%20Reporting%20Systems%20in%20Greenland.pdf">Mandatory
						Ship Reporting Systems in Greenland</a></li>
				<li><a target="_blank"
					href="http://www.dma.dk/SiteCollectionDocuments/CMR/Links%20to%20important%20information%20when%20navigating%20Greenland%20waters%20-%202013.pdf">Links
						to Important Information when Navigating Greenland Waters</a></li>
				<li><a target="_blank"
					href="http://www.soefartsstyrelsen.dk/SiteCollectionDocuments/CMR/5%20-%20Precutions%20in%20using%20%20navigational%20charts%20in%20Greenland%20waters.pdf">Precautions
						in using Navigational Charts in Greenland Waters</a></li>
				<li><a target="_blank" href="docs/CoastRadioInformation.ver2.pdf">Coast Radio Information</a></li>
				<li><a target="_blank" href="http://www.dma.dk/Ships/Sider/Greenlandwaters.aspx">Danish Maritime Authority</a></li>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(function() {
        $('#myCarousel').carousel({
            interval : 8000
        });
    });
</script>

