<div x-ng-controller="embryo.RequestAccessCtrl" class="indexcontent">
    <h1>Request Access</h1>

    <form id="accessForm" name="accessForm" class="form-signin">
        <div x-ng-show="alertMessages" class="alert alert-danger">
            <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
        </div>
        <div x-ng-show="message" class="alert alert-info">{{message}}</div>

        <p>Please fill out the form below to get access to ArcticWeb.</p>

        <p>MMSI-number may be left blank if you do not want your account
            to be tied to a particular vessel.</p>

        <div class="embryo-form-controls">
            <div class="form-group">
                <label for="rPreferredLogin">Preferred Login:</label> <input
                    type="text" class="form-control" placeholder="Preferred Login"
                    id="rPreferredLogin" x-ng-model="request.preferredLogin" required>
            </div>
            <div class="form-group">
                <label for="rContactPerson">Contact Person:</label> <input
                    type="text" class="form-control" placeholder="Contact Person"
                    id="rContactPerson" x-ng-model="request.contactPerson" required>
            </div>
            <div class="form-group">
                <label for="rEmailAddress">Email Address:</label>
                <input type="email" class="form-control" placeholder="Email Address" id="rEmailAddress"
                       name="rEmailAddress" x-ng-model="request.emailAddress" required>
                <span x-ng-if="accessForm.rEmailAddress.$error.email"
                      class="text-danger">Not a valid email address</span>
            </div>
            <div class="form-group">
                <label for="rMmsiNumber">MMSI-number:</label>
                <input type="text" class="form-control" placeholder="MMSI-number"
                       id="rMmsiNumber" name x-ng-model="request.mmsiNumber">
            </div>
            <div id="accessFormBtns">
                <button class="btn btn-primary pull-right"
                        x-ng-click="sendRequest()" x-ng-disabled="accessForm.$invalid">Send Request
                </button>
            </div>
        </div>
    </form>
</div>