<div x-ng-controller="embryo.ChangePasswordCtrl" class="indexcontent">
    <h1>Request Access</h1>

    <form id="changePasswordForm" name="changePasswordForm" class="form-signin">
        <div x-ng-show="alertMessages" class="alert alert-danger">
            <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
        </div>
        <div x-ng-show="message" class="alert alert-info">{{message}}</div>

        <p>If you forgot your password, you can change it below.</p>

        <p x-ng-show="user">You are changing the password for the user <b>{{user}}</b>.</p>

        <label>New password: <input type="password" id="passwordfield" class="input-block-level"
                                    x-ng-model="change.password" x-ng-disabled="!user" autofocus required/></label>
        <label>Repeat password: <input type="password" class="input-block-level" x-ng-model="change.passwordrepeat"
                                       x-ng-disabled="!user" required/></label>

        <div id="accessFormBtns">
            <button class="btn btn-primary pull-right"
                    x-ng-disabled="!user || !changePasswordForm.$valid || change.password != change.passwordrepeat"
                    x-ng-click="changePassword()">Change password
            </button>
        </div>
    </form>
</div>