<footer class="footer">
    <div class="container">
        <hr/>
        <div>
            <div class="mini-logos">
                <a href="http://www.dmi.dk" target="_blank">
                    <img src="img/common/dmi-logo.png" alt="Danish Meteorological Institute"/></a>
                <a href="http://www.soefartsstyrelsen.dk/" target="_blank">
                    <img src="img/common/dma-logo-h50.png" alt="Søfartsstyrelsen / Danish Maritime Authority"/></a>
                <a href="https://www.barentswatch.no/" target="_blank">
                    <img src="img/common/barentsWatch.png" alt="BarentsWatch"/></a>
                <a href="http://gst.dk/" target="_blank"><img src="img/common/danishGeodataAgency.png"/></a>
                <a href="http://www.kystverket.no/" target="_blank">
                    <img src="img/common/logo-kystverket.png" alt="Kystverket / The Norwegian Coastal Administration"/></a>
                <a href="http://naalakkersuisut.gl/" target="_blank">
                    <img src="img/common/governmentOfGreenland-blue.png"
                         alt="Naalakkersuisut / Government of Greenland"/></a>
                <a href="https://fcoo.dk/" target="_blank">
                    <img src="img/common/FCOO_logo.png"
                         alt="Forsvarets Center for Operativ Oceanografi / Defence Centre for Operational Oceanography (FCOO)"/></a>
                <a href="http://www.norden.org/da/nordisk-ministerraad" target="_blank">
                    <img src="img/common/nmr.jpeg" alt="The Nordic Council of Ministers"/></a>
            </div>
        </div>
        <hr/>
        <div class="row top-border">
            <div class="col-xs-6 copyright">
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav navtabs">
                            <li><span class="navbar-text">&copy; 2013 - 2014</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 content">
                <div class="nav">
                    <div class="navbar-inner">
                        <ul class="nav navbar-nav navtabs pull-right">
                            <li><a href="content.html#disclaimer">Disclaimer</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="content.html#cookies">Cookies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</footer>
