<div class="navbar navbar-default navbar-fixed-top"
     x-ng-controller="embryo.MenuCtrl">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bar"></span>
            <span class="fa fa-bar"></span>
            <span class="fa fa-bar"></span>
        </button>
        <a class="navbar-brand" href="../"> <font color="#0080C0">Arctic</font><font color="#888888">Web</font></a>

    </div>
    <div class="navbar-collapse collapse" id="navigationBar">
        <ul class="nav navbar-nav navtabs" show-active>
            <li>
                <a href="map.html#/vessel">
                    <i class="fa fa-anchor" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Vessels
                </a>
            </li>
            <li>
                <a href="map.html#/ice">
                    <i class="fa fa-asterisk" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Ice
                </a>
            </li>
            <li>
                <a href="map.html#/msi">
                    <i class="fa fa-bullhorn" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Maritime Safety
                </a>
            </li>
            <li>
                <a href="map.html#/weather">
                    <i class="fa fa-cloud" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Weather
                </a>
            </li>
            <li>
                <a href="map.html#/forecasts">
                    <i class="fa fa-bar-chart" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Forecasts
                </a>
            </li>
            <li>
                <a href="map.html#/sar">
                    <i class="fa fa-life-ring" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Search and Rescue
                </a>
            </li>
            <li x-requires-authenticated>
                <a href="map.html#/setup">
                    <i class="fa fa-wrench" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Setup
                </a>
            </li>
            <li x-requires-permissions="Administration">
                <a href="admin.html#/users">
                    <i class="fa fa-user" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Users
                </a>
            </li>
            <li x-requires-permissions="Administration">
                <a href="admin.html#/log">
                    <i class="fa fa-fire" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Log
                </a>
            </li>
            <!-- li><a href="map.html#/adt"> <i class="fa fa-gift"
                        style="vertical-align: middle; margin-bottom: 4px"></i> Assistance
                </a></li -->
        </ul>
        <p class="navbar-text navbar-right" x-requires-unauthenticated>
				<span> <a href="" x-ng-click="loginDlg()">Log In</a> | <a
                        href="content.html#/requestAccess">Request Access</a>
				</span>
        </p>
        <ul class="nav navbar-nav navtabs navbar-right" style="padding-right: 20px;">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="collapse" href="#">About</a>
                <ul style="width: 70px;" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li><a tabindex="-1" href="content.html#feedback">Feedback</a></li>
                    <li><a tabindex="-1" href="content.html#cookies">Cookies</a></li>
                    <li><a tabindex="-1" href="content.html#disclaimer">Disclaimer</a></li>
                </ul>
            </li>
            <li class="dropdown" x-requires-authenticated>
                <a class="dropdown-toggle" data-toggle="collapse" href="#">
                    <i class="fa fa-user" style="vertical-align: middle; margin-bottom: 4px"></i>
                    {{authentication.userName}}
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li><a tabindex="-1" href="docs/" target="_blank">Manual as HTML (10 MB)</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="#" x-ng-click="logout($event)">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
