html, body {


}
#map {
    height: auto;

}
/* The max width is dependant on the container (more info below) */
.popover {
    max-width: 800px; /* optional max width */
    width: intrinsic; /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}
.mouse-position {
    /*position: absolute;
    width: 100px;
    right: 40%;
    */
    top: 20px;
    color: #F5F5FF;
    font-size: 11px;
}
.scale-line {
    position: absolute;
    width: auto;
    right: 30%;
    top: 20px;

}
.ol-scale-line {
    position: relative;
    bottom: 0px;
    right: 0px;
    background-color: black;
}
#footercontainer{
    color: #eee;
}


.dialog-close-btn {
    float: right;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2000;
}

.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}


/** NW-NM Message Details Dialog **/

.message-details-item {
    padding: 10px!important;
    font-size: 11px;
}

.message-details-item-field {
    font-weight: bold;
    color: gray;
    padding-top: 5px;
}

.message-details-item-value {
    padding-top: 5px;
}

.message-details-item-value ol {
    padding-left: 0;
}

ol.message-details-positions {
    margin-left: 20px;
    color: darkgray;
}

ol.message-details-positions li span {
    color:#333;
}
