html, body {




}
#map {
    height: auto;

}
.mouse-position {
    /*position: absolute;
    width: 100px;
    right: 40%;
    */
    top: 20px;
    color: #F5F5FF;
    font-size: 11px;
}
.scale-line {
    position: absolute;
    width: auto;
    right: 30%;
    top: 20px;

}
.ol-scale-line {
    position: relative;
    bottom: 0px;
    right: 0px;
    background-color: black;
}
#footercontainer{
    color: #eee;
}