
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}
/* Sticky footer styles
-------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
}

.push {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
}

.panel-title {
    font-size: 12px;
}

.navbar {
    margin: 0;
}

.dialog-close-btn {
    float: right;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2000;
}

.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}

/** Map and sidebar **/
/*
.maritimeweb-map {
    position: absolute;
    top: 50px;
    left: 0;
    right: 200px;
    bottom: 0;
    background-color: #b5d0d0;
}

.maritimeweb-sidebar {
    padding: 5px;
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;
}

@media (min-width: 600px) {
    .maritimeweb-map {
        right: 300px;
    }

    .maritimeweb-sidebar {
        width: 300px;
    }
}

@media (min-width: 800px) {
    .maritimeweb-map {
        right: 400px;
    }

    .maritimeweb-sidebar {
        width: 400px;
    }
}

@media (min-width: 1000px) {
    .maritimeweb-map {
        right: 500px;
    }

    .maritimeweb-sidebar {
        width: 500px;
    }
}*/
.maritimeweb-sidebar {
    padding: 0px;
   /* overflow-y: scroll;*/
}

.sidebar-panel {
    padding: 10px 5px;
}

.sidebar-badge {
    background-color: lightgray;
    font-size: 10px;
}

/** Maps **/

.map {
    padding: 5px;
    margin-right: 0px;
    height: 600px;

}
@media (min-width: 300px) {
    .map {
        height: 475px;
    }
}

@media (min-width: 400px) {
    .map {
        height: 500px;
    }
}
@media (min-width: 600px) {
    .map {
        height: 600px;
    }
}
@media (min-width: 1000px) {
    .map {
        height: 700px;
    }
}


.map-current-pos-btn {
    left: 12px;
    top: 80px;
    font-size: 1.5em;
    position: absolute;
    z-index: 100;
    margin: 0;
    padding: 3px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0.8;

}

.map-current-pos-btn:hover {
    cursor: hand;
    background-color: rgba(255, 255, 255, 0.8);

}
.map-current-pos-btn span {
    color: white;
    border-radius: 4px;
    padding: 4px;
    background-color: rgba(0, 60, 136, 0.5);
    list-style-type: none;
}

.map-current-pos-btn:hover span {
    cursor: pointer;
    color: white;
    border-radius: 4px;
    padding: 4px;
    background-color: rgba(0, 60, 136, 0.9);
}

.map-current-pos-orientation-btn {
    left: 12px;
    top: 100px;
    font-size: 1.5em;
    position: absolute;
    z-index: 100;
    margin: 0;
    padding: 3px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0.8;
    cursor: hand;
}

.map-current-pos-orientation-btn span {
    color: white;
    border-radius: 4px;
    padding: 4px;
    background-color: rgba(0, 60, 136, 0.5);
    list-style-type: none;
}



.map-scale-line {
    left: 50px;
    top: 18px;
    position: absolute;
    z-index: 100;
}

.ol-scale-line {
    background-color: rgba(0, 60, 136, 0.5);
    position: relative;
}

.map-mouse-position {
    position: absolute;
    left: 240px;
    top: 10px;
    border-radius: 4px;
    padding: 4px;
    width: 160px;
    height: 21px;
    text-align: center;
    font-size: 10px;
    color: white;
    z-index: 100;
    background-color: rgba(0, 60, 136, 0.5);
}

.layer-switcher {
    top: 10px;
    right: 20px;
}

.popover {
    font-size: 1em;
    width: 240px;
}

/** Vessel list **/

.vessel-login {
    margin: 10px 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: lightgray;
    text-align: center;
}

.vessel-item {
    font-size: 10px;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

/** NW-NM list **/

.message-services {
    margin: 10px 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: lightgray;
}

.message-services {

}

.message-item {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.message-area-heading {
    padding: 10px 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: lightgray;
    color: white;
}

/** NW-NM Message Details Dialog **/

.message-details-item {
    padding: 10px !important;
    font-size: 11px;
}

.message-details-item-field {
    font-weight: bold;
    color: gray;
    padding-top: 5px;
}

.message-details-item-value {
    padding-top: 5px;
}

.message-details-item-value ol {
    padding-left: 0;
}

ol.message-details-positions {
    margin-left: 20px;
    color: darkgray;
}

ol.message-details-positions li span {
    color: #333;
}

.message-details-map {
    width: 100%;
    height: 200px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
    background-color: #b5d0d0;
}

/*@media (min-width: 800px) {
    .message-details-map {
        height: 300px;
    }
}*/

.message-details-map .ol-zoom {
    top: auto;
    bottom: 10px;
}

.message-details-close-btn {
    float: right;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2000;
}


/*
Making room for the beta ribbon banner
*/
.navbar-brand{
    padding-left: 50px;
}
/*
beta ribbon banner in pure css
*/

body:after {
    content: "beta";
    position: absolute;
    width: 80px;
    height: 25px;
    background: red;
   /* opacity: 0.90;
    fill-opacity: 0.90;*/
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 27px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 9999;
}