
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 0px;
    overflow-y: scroll !important; /* fixing */
}
/* Sticky footer styles
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: -70px;
    width: 100%;
    font-size: x-small;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: white;

}

.push {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
}

.panel-title {
    font-size: 12px;
}

.navbar {
    margin: 0;

}
.ng-hide {
    height: 0;
    opacity: 0;
}

.dialog-close-btn {
    float: right;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2000;
}

.dialog-input-strong{
    font-weight: bold;
}


.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}

#refuse {
    background: url(/img/bgr_refuse.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    /* Vessel Traffic Service */

.vts-popup-hero {
    opacity: 1;
    animation: fade .5s linear;
    padding: 1px 2px 2px 3px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    /*border:1px solid #888888;*/
    position:absolute;
    top:-80px;
    height:67px;
    white-space:normal;
    width:100%;
    color: #333333;
    /*background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #d6d6d6 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#d6d6d6 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#d6d6d6 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    background-color: #fcb400;
    display: table;
    text-align: center;
}
@keyframes fade {
    0%,100% { opacity: 0 }
    100% { opacity: 1 }
}
.vts-align-middle{
    display: table-cell;
    vertical-align: middle;
}
.vts-popup-hero:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -21px;
    width: 0;
    height: 0;
    border-top: 21px solid #fcb400;
    border-left: solid 21px transparent;
    border-right: solid 21px transparent;
}
.vts-popup-hero-small{height:44px;}
.vts-popup-hero-medium{height:65px;}
.vts-popup-hero-large{height:88px}
.vts-popup-hero:hover{
    display: none;
    width:0px;
    height:0px;
}

.bold{font-weight:bold;}
.italic{font-style: italic;}
.vts-text-center{text-align: center;}
.vts-text-right{text-align: right;}
.vts-absolute{position: absolute;}
.vts-topleft{top:0px;left:0px;}
.vts-bottom{bottom:0px;}
.vts-grey-text{color:#999999;}
.vts-white-text{color:#ffffff;}
.vts-red-text{color:#bb0000;}
.vts-text-xxlarge{font-size: 1.8em;}
.vts-text-xlarge{font-size: 1.6em;}
.vts-text-large{font-size: 1.3em;}
.vts-text-normal{font-size: 1.0em;}
.vts-text-small{font-size: 0.8em;}
.vts-text-shadow{text-shadow:0px 0px 9px #222222, 2px 2px 2px #333333}
.vts-button-green{background-color:rgba(0,254,119,0.4) !important;}
.vts-button-green:hover{background-color:rgba(0,254,119,0.2) !important;}
.vts-button-green:active{background-color:rgba(0,254,119,0.6) !important;}
.vts-button-green:focus{background-color:rgba(0,254,119,0.3) !important;}
.vts-button-modifier-slim{padding:4px 8px !important}
.vts-button-modifier-superslim{padding:0px 8px !important}
.vts-button-modifier-displayinline{display:inline !important}
.vts-button-modifier-floatright{float:right !important}
.vts-pad-top{padding-top:8px;}
.vts-pad-bottom{padding-bottom:8px;}
.vts-input{width:160px;}
.vts-input-small{width:50px;}
.vts-input-medium{width:70px;}
.vts-input-standard{width:100px;}
.vts-input-large{width:200px;}

.vts-sidemenu-listitem{
    height:23px;
    background-color:#ffffff;
}
.vts-sidemenu-listitem:hover{
    background-color:#f2f2f2;
}

.vts-textarea-standard{
    position:relative;
    top:8px;
    width:240px;
    height:32px;
    max-width:240px;
    max-height:350px
}
.vts-textarea-large{
    position:relative;
    top:0px;
    width:300px;
    height:100px;
    max-width:350px;
    max-height:350px
}
.vts-cargo-input-forced-disabled:disabled {
    background: #eeeeee;
}
.vts-less-lineheight{
    line-height: 1;
}
.vts-lesspadding{
    padding: 2px 6px;
}
.vts-padding-list{
    padding: 0px 0px 9px 4px;
}
.vts-nopadding{
    padding: 0;
}
.vts-select-lesspadding{
    padding:0;
    height:26px;
}
.vts-hr{
    padding: 0px;
    margin: 4px;
    color: #999999;
    border-color: #999999;
    width:100%;
}
.vts-hr-seperator{
    position: relative;
    top:8px;
    padding: 4px;
    margin: 0px;
    margin-left: 5%;
    color: #eeeeee;
    border-color: #eeeeee;
    width:90%;
}
.vts-popup{
}
.vts-popup:hover{
}
.vts-popup-icon{
}

.vts-popup-icon:hover{
    color:rgba(100,100,100,1);
}
.vtsinvalid{
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}
.vtsvalid{
    border-color: rgba(68, 142, 24, 0.8);
    box-shadow: 0 1px 1px rgba(78, 229, 50, 0.07) inset, 0 0 8px rgba(114, 229, 56, 0.6);
    outline: 0 none;
}
.vtsvalid:focus {
    border-color: rgba(68, 142, 24, 0.8);
    box-shadow: 0 1px 1px rgba(78, 229, 50, 0.07) inset, 0 0 8px rgba(114, 229, 56, 0.6);
    outline: 0 none;
}
.vtsneutral{
    border-color: rgba(102, 101, 103, 0.8);
    box-shadow: 0 1px 1px rgba(219, 214, 229, 0.07) inset, 0 0 8px rgba(226, 223, 229, 0.6);
    outline: 0 none;
}
.vtsinvalid:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none !important;
}
.vts-force-spacing-50{
    min-width:50px;
    max-width:50px;
    display: inline-block;
}
.vts-force-spacing-80{
    min-width:80px;
    max-width:80px;
    display: inline-block;
}
.vts-force-spacing-100{
    min-width:100px;
    max-width:100px;
    display: inline-block;
}
.vts-force-spacing-150{
    min-width:150px;
    max-width:150px;
    display: inline-block;
}
.vts-force-spacing-200{
    min-width:200px;
    max-width:200px;
    display: inline-block;
}
.vts-force-spacing-300{
    min-width:300px;
    max-width:300px;
    display: inline-block;
}
.vts-force-spacing-350{
    min-width:350px;
    max-width:350px;
    display: inline-block;
}
.vts-force-spacing-400{
    min-width:400px;
    max-width:3400px;
    display: inline-block;
}

.vts-checkbox[type=checkbox] { /* larger checkbox */
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -3px;
}
.vts-checkbox-label{
    display: inline;
    padding-left: 6px;
    padding-right:10px;
}
.vts-checkbox-label-blue{
    color:#0000bb;
}
.datetime-input.date .display .date{
    font-size:1.6em !important;
}
.datetime-input.time .display .time{
    font-size:1.6em !important;
}
.vts-timedatepicker{
    height:3em !important;
    min-height:3em !important;
    max-height:3em !important;
}
.vts-time-picker-box-highlight{
    border: solid 2px #474bc3 !important;
}
.vts-datetime-picker-box-highlight-invalid{
    border-radius: 4px;
    background: #ff7171 !important;
    height:3em !important;
    min-height:3em !important;
    max-height:3em !important;
}
.vts-datetime-picker-box-highlight-valid{
    border-radius: 4px;
    background: #8ad64e !important;
    height:3em !important;
    min-height:3em !important;
    max-height:3em !important;
}
.clear-button{
    display: none !important;
}
.vts-btn-highlight{
    background-color: #97fba0 !important;
}
.vts-btn-highlight-danger{
    background-color: #fb5858 !important;
}

.time-picker-mod{
    min-width:200px !important;
    width:200px !important;
    max-width:200px !important;
}
.vts-utc-label{
    margin-right: 10px;
}
.vts-align-utc-label{
    top: -13px;
    position: relative;
    left: 9px;
    font-size: 1.6em;
}
.vts-cargotype-border{
    border:solid 1px #eeeeee;
}
.vts-cargotype-hover-highlight:hover {
    border:solid 1px #666666;
}
.vts-cargotype-selected-highlight {
    background:#cccccc;
}
.vts-cargolist-border{
    border:solid 1px #666666;
}
.vts-cargoentry-listitem{
    overflow:hidden;
    max-height:29px;
    min-height:29px;
    padding-top:3px;
}
.vts-placeholder-highlight::-webkit-input-placeholder { /* Chrome */
    color: #7376c7;
}
.vts-placeholder-highlight::-webkit-input-placeholder{ /* Chrome */
    color: #7376c7;
}

.vts-placeholder-highlight:-ms-input-placeholder { /* IE 10+ */
    color: #7376c7;
}
.vts-placeholder-highlight::-moz-placeholder { /* Firefox 19+ */
    color: #7376c7;
    opacity: 1;
}
.vts-placeholder-highlight:-moz-placeholder { /* Firefox 4 - 18 */
    color: #7376c7;
    opacity: 1;
}

.vts-pulse {
    background-color: #b3ccff;
    animation-name: vts-pulse;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 0ms;
    animation-direction: alternate;
    animation-iteration-count: 10;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes vts-pulse {
    0% {
        background-color: #b3ccff;
    }
    50% {
        background-color: #989bff;
    }
    100% {
        background-color: #b3ccff;
    }
}

.pulse-text-once {
    background-color: #ffffff;
    animation-name: pulse-text-once;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0ms;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes pulse-text-once {
    0% {
        background-color: #ffffff;
    }
    50% {
        background-color: rgba(0,254,119,0.4);
    }
    100% {
        background-color: #ffffff;
    }
}
.vts-quick-pulse {
    background-color: #ffffff;
    animation-name: vts-pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0ms;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes vts-quick-pulse {
    0% {
        background-color: #ffffff;
    }
    50% {
        background-color: #a4c5ff;
    }
    100% {
        background-color: #ffffff;
    }
}

.vts-responsive-info-container{
    min-height:30px;
    position: relative;
    left:-10px;
    float:right;
    text-align: right;
}
.vts-inline-block{
    display:inline-block;
}

@media screen and (max-width: 992px) {
    .vts-responsive-minimap{
        width: 100%;
        height: 200px;
    }
    .vts-responsive-info-container{
        left:0px;
        text-align:left;
        float:none;
    }
}
@media screen and (min-width: 610px) and (max-width: 992px) {
    .vts-responsive-minimap{
        width: 100%;
        height: 270px;
    }
    .vts-responsive-info-container{
        left:0px;
        text-align:left;
        float:none;
    }
}
@media screen and (min-width: 993px) {
    .vts-responsive-minimap{
        width: 100%;
        height: 300px;
    }
}



    /* END Vessel Traffic Service */


.maritimeweb-sidebar {
    position: absolute;
    min-width: 240px;
    top: 51px;
    bottom: 3%;
    right: 24px;
    margin: 1em;
    z-index: 300;
    height: 75%;
    background-color: white ;
    border-radius: 4px;
    padding: 4px;
    overflow-y: scroll;
    opacity: 0.90;
    border: 1px #269 solid;
}

.sidebar-minimized{
    height:105px !important;
}
.sidebar-normal{
    height:auto;
}


@media screen and (max-width: 768px) {
    .sidebar-minimized{
        height:300px !important;

    }
}

.sidebar-panel {
    padding: 10px 5px;
}
.cursor-default{
    cursor: default !important;
}
.sidebar-badge {
    background-color: lightgray;
    font-size: 10px;
}

/** Maps **/

.map {
    padding: 0px;
    margin-right: 0px;
    height: 90%;
    width: 100%;
    position: absolute;
    border: 1px #269 solid;
    background-color:#269;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
    /*
    background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2M8c+bMfxMTE0YGKADxwRyYBIxGUQHTgV0lNjMBG7MizEwu19wAAAAASUVORK5CYII=
    ) repeat;
    */
}

.map-sr-browser {
    padding: 0px;
    height: 90%;
    width: 70%;
    position: absolute;
    border: 1px #269 solid;
    background-color:#269;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
    /*
    background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2M8c+bMfxMTE0YGKADxwRyYBIxGUQHTgV0lNjMBG7MizEwu19wAAAAASUVORK5CYII=
    ) repeat;
    */
}

.map-sr-sidebar {
    position: absolute;
    width: 30%;
    right: 0px;
    z-index: 300;

    background-color: white ;

    border-radius: 4px;
    padding: 4px;
    overflow-y: scroll;


    border: 1px #269 solid;

}

.json-formatter-dark{
    background-color: #2e2e2e;
}
.xml-formatter-dark{
    background-color: #2e2e2e;
    font-family: monospace;
    color: #fefefe;

}



.sidebar-toggle-btn {
    color: white;
    top: 10px;
    right: 12px;
    position: absolute;
    z-index: 100;
    margin: 0;
    padding: 3px;
    border-radius: 4px;
    border: 2px  rgba(255, 255, 255, 0.9) solid;
    background-color: rgba(0, 60, 136, 0.5);
    transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out;
}

.sidebar-toggle-btn:hover {
    cursor: hand;
    background-color: rgba(0, 60, 136, 0.9);

}

.map-weather-box {
    left: 1rem;
    bottom: -30rem;
    height: auto;
    font-size: 1.2rem;
    width: 70rem;
    position: absolute;
    z-index: 100;
    margin: 0;
    padding: 3px;
    border-radius: 4px;
    opacity: 1.0;
}
.map-weather {
    right: 1rem;
    bottom: -8rem;
    font-size: 1.0em;
    z-index: 100;
    margin: 0;
    padding: 3px;
    border-radius: 4px;
}
.map-weather-btn {
    left: 1rem;
    bottom: -10rem;
    font-size: 1.0rem;
    z-index: 100;
    margin: 0;
    padding: 3px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0.8;
}

.map-weather-btn:hover {
    cursor: hand;
    background-color: rgba(255, 255, 255, 0.8);
}
.map-weather-btn span {
    color: white;
    border-radius: 4px;
    padding: 4px;
    background-color: rgba(0, 60, 136, 0.5);
}

.map-no-go-btn{
    left: 12px;
    top: 160px;
/*    font-size: 1.0em;
    width: 8em;*/
    position: absolute;
    z-index: 100;
    margin: 0;
    padding: 3px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0.8;
}
.map-no-go-btn:hover {
    cursor: hand;
    background-color: rgba(255, 255, 255, 0.8);
}
.map-no-go-btn span {
    color: white;
    border-radius: 4px;
    padding: 4px;
    background-color: rgba(0, 60, 136, 0.5);
}
.map-no-go-btn:hover span {
    cursor: pointer;
    color: white;
    border-radius: 4px;
    padding: 4px;
    background-color: rgba(0, 60, 136, 0.9);
}

.map-current-pos-btn {
    left: 12px;
    top: 80px;
    font-size: 1.5em;
    position: absolute;
    z-index: 100;
    margin: 0;
    padding: 3px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0.8;

}

.map-current-pos-btn:hover {
    cursor: hand;
    background-color: rgba(255, 255, 255, 0.8);

}
.map-current-pos-btn span {
    color: white;
    border-radius: 4px;
    padding: 4px;
    background-color: rgba(0, 60, 136, 0.5);
    list-style-type: none;
}

.map-current-pos-btn:hover span {
    cursor: pointer;
    color: white;
    border-radius: 4px;
    padding: 4px;
    background-color: rgba(0, 60, 136, 0.9);
}

.map-current-pos-orientation-btn {
    left: 12px;
    top: 100px;
    font-size: 1.5em;
    position: absolute;
    z-index: 100;
    margin: 0;
    padding: 3px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0.8;
    cursor: hand;
}

.map-current-pos-orientation-btn span {
    color: white;
    border-radius: 4px;
    padding: 4px;
    background-color: rgba(0, 60, 136, 0.5);
    list-style-type: none;
}



.map-scale-line {
    left: 50px;
    top: 18px;
    position: absolute;
    z-index: 100;
}

.ol-scale-line {
    background-color: rgba(0, 60, 136, 0.5);
    position: relative;
}

.map-mouse-position {
    position: absolute;
    left: 240px;
    top: 10px;
    border-radius: 4px;
    padding: 4px;
    width: auto;
    height: 1.85em;
    text-align: center;
    font-size: 0.8em;
    color: white;
    z-index: 100;
    background-color: rgba(0, 60, 136, 0.5);
}
.map-mouse-position-toggle{
    font-size: 1.4em !important;
    position: absolute;
    left: 110%;
    top:0px;
    border-radius: 4px;
    padding: 4px;
    width: 22px;
    height: 100%;
    text-align: center;
    font-size: 0.8em;
    color: white;
    z-index: 100;
    background-color: rgba(0, 60, 136, 0.5);
}


.popover {
    font-size: 1em;
    width: 240px;
}

/** Vessel list **/

.vessel-login {
    margin: 10px 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: lightgray;
    text-align: center;
}

.vessel-item {
    font-size: 10px;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

/** NW-NM list **/

.message-services {
    font-size: 11px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid lightgray;
}

.message-services-header {
    text-align: center;
    background-color: lightgray;
    padding: 5px;
}

.message-service {
    padding: 5px 10px;
}

.message-item {
    font-size: 11px;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.message-area-heading {
    padding: 10px 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: lightgray;
    color: white;
}

/** NW-NM Message Details Dialog **/

.message-details-item {
    padding: 10px !important;
    font-size: 11px;
}

table.message-details-item-fields {
    font-size: 11px;
    width: 100%;
}

table.message-details-item-fields th {
    width: 85px;
    max-width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    color: gray;
    padding-top: 5px;
}

table.message-details-item-fields td {
    padding-top: 5px;
}

.label-message-id {
    background-color: gray;
    font-size: 10px;
    display: inline-block;
    margin-bottom: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


/** For tables in the message rich text description field **/
.message-description table {
    border-collapse: collapse;
    border: 1px solid #333;
}

.message-description table td, .message-description table th {
    vertical-align: top;
    border: 1px solid #333;
    padding: 3px;
}

.message-description ol, .message-description ul {
    padding-left: 20px;
    margin-bottom: 0;
}

.message-description ol li, .message-description ul li {
    margin-bottom: 3px;
}

.message-description ol li:last-child, .message-description ul li:last-child {
    margin-bottom: 0;
}

.message-description p, .message-description p {
    margin: 0 0 3px 0;
}

.message-description ol li p:last-child, .message-description ul li p:last-child {
    padding: 0;
    margin: 0;
}

table.no-border {
    border: 0;
}

table.no-border td, table.no-border th {
    border: 0;
}

table.condensed {
    padding: 0;
}

table.condensed td, table.condensed th {
    padding: 0;
}

tr.underline td {
    border-bottom: 1px solid #333;
}

td.underline {
    border-bottom: 1px solid #333;
}

table.positions {
    border: 0;
    margin-bottom: 1mm;
}

table.positions td, table.positions th {
    color: #333;
    border: 0;
    padding: 0 3mm 0 0;
    text-align: left;
    white-space: nowrap;
}

table.positions td:nth-child(1) {
    text-align: right;
    color: darkgray;
}

.message-details-map {
    width: 100%;
    /* height: 200px;*/
    border: 1px solid lightgray;
    margin-bottom: 20px;
    background-color: #b5d0d0;
    position: relative;
    height: 200px;
}

.message-details-route {
    /* height: 200px;*/
    border: 1px solid #b5d0d0;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 1em;

    z-index: 100;
}

.message-details-optimized-route {
    /* height: 200px;*/
    border: 1px solid #b5d0d0;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 1em;
    z-index: 100;
}

.route-details-map {
    width: 100%;

     height: 660px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
    background-color: #b5d0d0;
    position: relative;
}

@media (min-width: 800px) {
    .message-details-map {
        height: 300px;
    }
}

.message-details-map .ol-zoom {
    top: auto;
    bottom: 10px;
}

.message-details-close-btn {
    float: right;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2000;
}


/*
Making room for the beta ribbon banner
*/
.navbar-brand{
    padding-left: 41px;
    cursor: pointer;
}
/*
beta ribbon banner in pure css
*/

body:after {
    content: "beta";
    position: absolute;
    width: 80px;
    height: 25px;
    background: red;
   /* opacity: 0.90;
    fill-opacity: 0.90;*/
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 27px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 9999;
}

.ol-attribution ul{
    font-size: small;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}


/* aligning of content in table of vesseldata.*/
.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

/*  compass */
.compass-div {
    border: 0;
    display: inline-block;
    position: relative;
}
.compass-circle {
    width: 98px;
    height: 98px;
}
.compass-circle-small {
    width: 51px;
    height: 51px;
}
.compass-needle {
    width: 98px;
    height: 98px;
    position: absolute;
    left: 0;
    top: 0;
}.compass-needle-small {
    width: 51px;
    height: 51px;
    position: absolute;
    left: 0;
    top: 0;
}


 /* active table
 */
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {

    background-color: cornflowerblue;
}

 /*  FILE upload */
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

/* loader */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}