<html lang="en" xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

	<!-- Add data-toggle="context" to any element that needs a custom context menu and via CSS set position: relative to the element. -->
	<div id="map" style="position: relative"></div>

	<div id="children">
		<div wicket:id="childComponentGroup">
			<div wicket:id="childComponent"></div>
		</div>
	</div>

	<div>
		<div id="context-menu" ng-controller="embryo.contextMenu.Ctrl">
			<ul class="dropdown-menu" role="menu">
				<li ng-show="shown(item, getSelectedFeature())" ng-repeat="item in getMenuItems()"><a tabindex="-1" href="#"
					ng-click="choose(item, getSelectedFeature())">{{item.text}}</a></li>

				<li class="dropdown-submenu"><a tabindex="-1" href="#">Layers</a>
					<ul class="dropdown-menu">
						<li ng-repeat="layer in getLayers()"><a tabindex="-1" href="#" ng-click="toggleLayer(layer)"><i ng-show="layer.getVisible()" class="icon-ok"></i>{{layer.name}}</a></li>
					</ul>					
				</li>

			</ul>
		</div>
	</div>

	<div id="filtering">
		<div class="smallText">Presets</div>
		<select name="filter_preset" class="filteringSelect" onchange="useFilterPreset(this);">
			<option value="">None</option>
			<option value="country=DNK">Danish ships</option>
			<option
				value="country=BEL,BGR,CYP,CZE,DNK,EST,FRO,FIN,AUT,FRA,DEU,GBR,GRC,HUN,IRL,ITA,LVA,LTU,LUX,MLT,NLD,POL,PRT,ROU,SVK,SVN,ESP,SWE">
				EU ships</option>
			<option value="country=CHN">Chinese ships</option>
			<option value="sourceType=SAT">Satellite</option>
			<option value="sourceRegion=804">Satellite (NO)</option>
			<option value="sourceRegion=802">Satellite (ExactEarth)</option>
			<option value="sourceRegion=808">Satellite (ORBCOMM)</option>
			<option value="sourceCountry=DNK">Source DK</option>
			<option value="sourceSystem=AISD">AISD</option>
			<option value="sourceSystem=IALA">IALA.net</option>
			<option value="sourceSystem=MSSIS">MSSIS</option>
			<option value="sourceSystem=TEST">AIS-TEST</option>
		</select>

		<form name="targetFilter">
			<hr class="tight">
			<div id="sidebarTable">
				<div class="detailsRow">
					<div class="smallText">Target country</div>
					<div class="detailsRightCol">
						<input id="country" type="text" class="filteringInput" />
					</div>
				</div>
				<div class="detailsRow">
					<div class="smallText">Source country</div>
					<div class="detailsRightCol">
						<input id="sourceCountry" type="text" class="filteringInput" />
					</div>
				</div>
				<div class="detailsRow">
					<div class="smallText">Source type</div>
					<div class="detailsRightCol">
						<input id="sourceType" type="text" class="filteringInput" />
					</div>
				</div>
				<div class="detailsRow">
					<div class="smallText">Source region</div>
					<div class="detailsRightCol">
						<input id="sourceRegion" type="text" class="filteringInput" />
					</div>
				</div>
				<div class="detailsRow">
					<div class="smallText">Source BS</div>
					<div class="detailsRightCol">
						<input id="sourceBs" type="text" class="filteringInput" />
					</div>
				</div>
				<div class="detailsRow">
					<div class="smallText">Source system</div>
					<div class="detailsRightCol">
						<input id="sourceSystem" type="text" class="filteringInput" />
					</div>
				</div>
				<div class="detailsRow">
					<div class="smallText">Vessel class</div>
					<div class="detailsRightCol">
						<input id="vesselClass" type="text" class="filteringInput" />
					</div>
				</div>
			</div>

			<input class="btn btn-small btn-primary" type="button" value="Apply filter" onclick="applyFilter();" /> <input
				class="btn btn-small" type="button" value="Clear filter" onclick="clearFilters();applyFilter();" />

		</form>

	</div>


	<div id="rightSide">

		<div id="feedPanel" class="panel whiteOpacity shadowsIE arrowDown">
			<div id="feedHeader" class="panelHeader">Abnormal behaviors</div>

			<div id="feedContainer" class="panelContainer"></div>
		</div>
	</div>

	<div id="loadingPanel" class="whiteOpacity shadowsIE">
		&nbsp; &nbsp; Loading vessels <img src="img\load.gif">
	</div>

	<div id="vesselNameBox" class="whiteOpacity shadowsIE"></div>

	<div id="bottomOptions" class="btn-group">
		<button class="btn btn-inverse">Distance tool</button>
		<button class="btn btn-inverse">Routes</button>
		<button class="btn btn-inverse">MSI</button>
		<button class="btn btn-inverse">ICE</button>
	</div>

</wicket:panel>
</html>
