<div class="ng-cloak">

    <div class="modal-body " style="padding: 1em; margin: 1em;">

        <div ng-if="warning">
            <h2>{{warning}}</h2>
        </div>

        <div class="row " ng-if="msg">
            <!--
            {"data":
            {"mmsi":null,
            "maritimeId":null,
            "commCapabilities":null,
            "maxSpeed":null,
            "grossTon":null,
            "maxPersons":null,
            "iceClass":null,
            "helipad":null,
            "additionalInformation":
                {"schedule":false,
                "routeId":null,
                "historicalTrack":false},
            "aisVessel":
                {"country":"DE",
                "sourceRegion":"806",
                "lastReport":1465200424215,
                "mmsi":211501590,
                "targetType":"B",
                "callsign":"DF6348",
                "cog":101.9,
                "lat":54.167362,
                "length":12,
                "lon":11.58399,
                "moored":false,
                "name":"EVA MARIA",
                "sog":4.3,
                "vesselType":"SAILING",
                "width":3},
            "mmsiNumber":211501590}


               var navStatusTexts = {
                    0: "Under way using engine",
                    1: "At anchor",
                    2: "Not under command",
                    3: "Restricted manoeuvrability",
                    4: "Constrained by her draught",
                    5: "Moored",
                    6: "Aground",
                    7: "Engaged in fishing",
                    8: "Under way",
                    12: "Power-driven vessel pushing ahead or towing alongside",
                    14: "Ais SART",
                    15: "Undefined"
                }

                    navStatusText = function (navStatus) {
                    if (navStatus && navStatusTexts.hasOwnProperty(navStatus)) {
                        return navStatusTexts[navStatus]
                    }
                    return null;
                };

            -->

            <h3>
                {{msg.data.aisVessel.name}} <flag country="{{msg.data.aisVessel.country}}" size="32"></flag>
            </h3>

            <table class="table table-striped table-hover">
                <tr ng-if="msg.data.aisVessel.lat && msg.data.aisVessel.lon ">
                    <th scope="row"><span class="glyphicon glyphicon-flag"></span> Position</th>
                    <td>{{ toLonLat(msg.data.aisVessel.lon, msg.data.aisVessel.lat) | lonlat:{ decimals : 3, pp: true} }}</td>
                    <td></td>
                </tr>

                <tr ng-if="msg.data.aisVessel.lastReport">
                    <th scope="row"><i class="fa fa-clock-o" aria-hidden="true"></i></span> Position received</th>
                    <td><bold>{{msg.data.aisVessel.lastReport | timeAgo}}</bold> <br> {{msg.data.aisVessel.lastReport | date:'yyyy-MM-dd HH:mm:ss' : 'UTC'}} UTC</td>
                    <td></td>
                </tr>

                <tr>
                    <th scope="row"><i class="fa fa-history" aria-hidden="true"></i> Historical track</th>
                    <td ng-if="!routePoints">
                        <btn class="btn btn-primary" uib-popover="Download any tracked position points available and show animation on map. The animation can be computationel intensive." ng-click="getHistoricalTrack(msg.data.aisVessel.mmsi)"
                             popover-trigger="mouseenter"
                             popover-placement="right" type="button" class="btn btn-info">Display historical Track
                            <i class="fa fa-arrow-down" aria-hidden="true"></i></btn><br>
                    </td>
                    <td  ng-if="routePoints.length>0">
                        <btn uib-popover="Watch all {{routePoints.length}} points as a route animation on the map below. Timestamps, Speed-over-ground and position is displayed in
                         the bottom left frame and reflects the status at the current position. Jittery movement may be caused by variable GPS-position precision. Precision is not present in data."
                             popover-trigger="mouseenter"
                             popover-placement="right" type="button" class="btn btn-info"
                             ng-click="getHistoricalTrack(msg.data.aisVessel.mmsi)" >{{routePoints.length}} tracked positions <i class="fa fa-refresh" aria-hidden="true"></i></btn>
                    </td>
                    <td  ng-if="routePoints.length==0">
                        <btn uib-popover="No positions tracked for this vessel."
                             popover-trigger="mouseenter"
                             popover-placement="right" type="button" class="btn btn-danger"
                             ng-click="getHistoricalTrack(msg.data.aisVessel.mmsi)" >{{routePoints.length}} tracked positions <i class="fa fa-refresh" aria-hidden="true"></i></btn>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr ng-if="routeFeatures && routePoints.length > 0">
                    <td colspan="3">
                        <ol-map  class="route-details-map">
                            <map-tile-layer name="OSM" visible="true" source="OSM"></map-tile-layer>
                            <route points="routePoints" feat="routeFeatures" autoplay="true"></route>
                        </ol-map>
                    </td>
                </tr>

                <tr ng-if="historicalTrackOutput.length > 1">
                    <th scope="row"><i class="fa fa-tachometer" aria-hidden="true"></i> <b>SOG</b> <br><small> Speed Over the Ground <br>is the speed of the vessel <br>relative to the surface of the earth. Values are in knots.</small></th>
                    <td>
                        <canvas id="line" class="chart chart-line" chart-data="sogChartdata"
                                chart-labels="sogChartlabels" chart-series="sogChartseries" chart-options="sogChartoptions"
                                chart-dataset-override="sogChartdatasetOverride" chart-click="onClick">
                        </canvas>
                    </td>
                </tr>

                <tr ng-if="historicalTrackOutput.length > 1">

                    <th scope="row"><i class="fa fa-history" aria-hidden="true"></i> Table of tracked <br>
                                    positions<br>
                                    <i class="fa fa-table fa-2x" aria-hidden="true"></i>
                    </th>
                    <td>
                        <uib-accordion close-others="oneAtATime">
                            <uib-accordion-group heading="Expand table of tracked positions" is-open="false" is-disabled="false">
                                <table class="table table-striped table-hover table-bordered table-condensed">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Time</th>
                                        <th>Timestamp</th>
                                        <th>Position</th>
                                        <th>Course-over-Ground</th>
                                        <th>Speed-over-Ground</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="object in historicalTrackOutput | orderBy : 'ts' : true | limitTo: 100">
                                        <td>{{$index+1}}</td>
                                        <td>{{object.ts | timeAgo}}</td>
                                        <td>{{object.ts | date:'yyyy-MM-dd HH:mm:ss' : 'UTC'}} UTC</td>
                                        <td>{{ toLonLat(object.lon, object.lat) | lonlat:{ decimals : 3, pp: true} }}</td>
                                        <td>{{object.cog}}</td>
                                        <td>{{object.sog}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </uib-accordion-group>
                        </uib-accordion>
                    </td>
                    <td></td>


                </tr>

                <tr ng-if="msg.data.aisVessel.country">
                    <th scope="row"><span class="glyphicon glyphicon-home"></span> Country</th>
                    <td ><span>{{msg.data.aisVessel.country}}  - {{msg.data.aisVessel.country | isoCountry}} -
                        <flag country="{{msg.data.aisVessel.country}}" size="16"></flag></span>
                    </td>
                    <td></td>
                </tr>

                <tr ng-if="msg.data.aisVessel.callsign">
                    <th scope="row"><span class="glyphicon glyphicon-volume-up"></span> Radio callsign</th>
                    <td>{{msg.data.aisVessel.callsign}}</td>
                    <td></td>
                </tr>

                <tr ng-if="msg.data.aisVessel.mmsi">
                    <th scope="row"><i class="glyphicon glyphicon-globe"></i> MMSI</th>
                    <td>{{msg.data.aisVessel.mmsi}} <br>
                        <a target="_blank"
                           href="http://www.marinetraffic.com/ais/shipdetails.aspx?mmsi={{msg.data.aisVessel.mmsi}}">marinetraffic.com/ais/details/ships/{{msg.data.aisVessel.mmsi}}</a>
                    </td>
                    <td></td>
                </tr>

                <tr ng-if="msg.data.aisVessel.imoNo">
                    <th scope="row"><i class="glyphicon glyphicon-globe"></i> IMO number</th>
                    <td>{{msg.data.aisVessel.imoNo}} <br>
                        <a target="_blank"
                           href="http://maritime-connector.com/ship-search/?keyword=&ship=&imo={{msg.data.aisVessel.imoNo}}&type=&limit=25&sort=&sort_type=">maritime-connector.com/ship/{{msg.data.aisVessel.imoNo}}</a>
                    </td>
                    <td></td>
                </tr>

                <tr ng-if="msg.data.aisVessel.length && msg.data.aisVessel.width">
                    <th scope="row"><span class="glyphicon glyphicon-move"></span> Length &times; Width</th>
                    <td>{{msg.data.aisVessel.length}}m &times; {{msg.data.aisVessel.width}}m</td>
                    <td></td>
                </tr>

                <tr ng-if="msg.data.aisVessel.vesselType">
                    <th scope="row"><span class="glyphicon glyphicon-tag"></span> Vessel Type</th>
                    <td>{{msg.data.aisVessel.vesselType}}</td>
                    <td></td>
                </tr>

                <tr ng-if="msg.data.aisVessel.destination">
                    <th scope="row"><i class="fa fa-calendar" aria-hidden="true"></i> Destination</th>
                    <td>{{msg.data.aisVessel.destination}}</td>
                    <td></td>
                </tr>

                <tr ng-if="msg.data.aisVessel.eta">
                    <th scope="row"><i class="fa fa-calendar" aria-hidden="true"></i> Estimated Time of Arrival</th>
                    <td>~ {{msg.data.aisVessel.eta | timeAgo}} <br> {{msg.data.aisVessel.eta | date:'yyyy-MM-dd HH:mm:ss Z' : 'UTC'}} UTC</td>
                    <td></td>
                </tr>

                <tr ng-if="msg.data.aisVessel.navStatus">
                    <th scope="row"><i class="fa fa-compass" aria-hidden="true"></i> Navigational status</th>
                    <td>{{navStatusText(msg.data.aisVessel.navStatus)}}</td>
                    <td></td>
                </tr>

                <tr ng-if="msg.data.aisVessel.draught">
                    <th scope="row"><i class="fa fa-compass" aria-hidden="true"></i> Draught</th>
                    <td>{{msg.data.aisVessel.draught}}</td>
                    <td></td>
                </tr>

                <tr ng-if="msg.data.aisVessel.cog">
                    <th scope="row"><i class="fa fa-compass" aria-hidden="true"></i> COG <br> the actual course the vessel is <br> sailing relative to the Earth</th>
                    <td>
                        <div>{{msg.data.aisVessel.cog}}°</div>
                        <div class='compass-div'>
                            <img id='compasscircle' class='compass-circle' src='/img/compass.png' alt='Compass illustration. The actual course the vessel is {{msg.data.aisVessel.cog}}°'>
                            <img id='compassneedle' rotate-element data-rotationdegree='{{msg.data.aisVessel.cog}}'
                                 uib-popover=" The actual course the vessel is {{msg.data.aisVessel.cog}}°"
                                 popover-trigger="mouseenter"
                                 popover-placement="left"
                                 class='compass-needle' src='/img/compass-needle.png' alt='{{msg.data.aisVessel.cog}}°'>
                        </div>
                    </td>
                    <td></td>
                </tr>

                <tr ng-if="msg.data.aisVessel.heading">
                    <th scope="row"><i class="fa fa-compass" aria-hidden="true"></i> Heading</th>
                    <td>
                        <div>{{msg.data.aisVessel.heading}}°</div>
                        <div class='compass-div'>
                            <img id='compasscircle' class='compass-circle' src='/img/compass.png' alt='Compass illustration. The course the vessel is heading{{msg.data.aisVessel.heading}}°'
                                >
                            <img id='compassneedle' rotate-element data-rotationdegree='{{msg.data.aisVessel.heading}}'
                                 class='compass-needle' src='/img/compass-needle.png' alt='{{msg.data.aisVessel.heading}}°'
                                 uib-popover=" The vessel is heading at course {{msg.data.aisVessel.heading}}°"
                                 popover-trigger="mouseenter"
                                 popover-placement="left">
                        </div>
                    </td>
                </tr>

                <tr ng-if="msg.data.aisVessel.sog"
                    tooltip="Speed Over the Ground (SOG) is the speed of the vessel relative to the surface of the earth.">
                    <th scope="row"><i class="fa fa-tachometer" aria-hidden="true"></i> SOG</th>
                    <td>{{msg.data.aisVessel.sog}} knots</td>
                    <td></td>
                </tr>


                <tr ng-if="msg.data.aisVessel.rot">
                    <th scope="row"><i class="fa fa-compass" aria-hidden="true" tootltip="the speed at which a ship, vessel, or unit is turning at, or is capable of turning at."></i> ROT</th>
                    <td>{{msg.data.aisVessel.rot}}</td>
                    <td></td>
                </tr>

                <tr ng-if="msg.data.aisVessel.targetType">
                    <th scope="row"><span class="glyphicon glyphicon-flag"></span> AIS Transponder Type <a href="http://www.dma.dk/AIS/WORTHKNOWINGABOUTAIS/Sider/AISclassAandB.aspx#" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a></th>
                    <td>{{msg.data.aisVessel.targetType}}</td>
                    <td></td>
                </tr>
            </table>

            <button type="button" class="close dialog-close-btn" ng-click="$dismiss('aborted')">x</button>

        </div>
        <div>

        </div>
        <div class="row" style="margin-top: 24px">
            <div class="form-group col-xs-12" style="text-align: right">
                <button class="btn btn-primary btn-sm" ng-click="$dismiss('aborted')">Close</button>
            </div>
        </div>
    </div>
</div>
