<div class="modal-header vts-less-lineheight">
    <h3 class="modal-title" ng-show="showReportInterface">
        <div ng-show="VTSSelectedTrafficCenterLogo!=''" class="vts-inline-block" style='min-width:48px;width:100%'>
            <div class="vts-inline-block" style="float:left">
                <img style='max-height:60px;' src='{{VTSSelectedTrafficCenterLogo}}'>
            </div>
            <div class="vts-inline-block" style="position: relative;left:10px;">
                <div style="margin-top: 9px;">
                    <strong>{{VTSSelectedTrafficCenterName}}</strong>
                </div>
                <div class="" style="margin-top: -13px;">
                    <span style="font-size:14px;">Vessel Traffic Service report form<span ng-show="VTSSelected"> for {{VTSSelectedTrafficCenterShortname}} </span></span>
                </div>
            </div>
        </div>
    </h3>
    <h3 class="modal-title vts-text-center vts-text-xxlarge" ng-show="!showReportInterface">
        Warning! <!-- warn on exit -->
    </h3>
</div>

<div id="modalbody" class="modal-body ng-hide vts-modal-body">
    <div ng-show="showReportInterface">
        <select ng-show="showVtsCenterSelect" class="form-control" name="vts-center-select" ng-options="p.shortname as p.shortname for p in (VTSCenterData | filter:isListItemNull)" ng-model="VTSCenterData.shortname" ng-change="selectVTSCenterChange(VTSCenterData.shortname,null)">
            <option selected value="" class="ng-binding ng-scope">Please select a Vessel Traffic Service center</option>
        </select>
    </div>

    <!-- VTS CENTRE INFORMATION -->
    <div id="vtsparentdiv" class="vts-pad-top" ng-show="VTSSelected && showReportInterface">
        <div class="vts-pad-top vts-pad-bottom " style="position: relative;min-height:40px; padding-bottom:8px;min-width:336px;">
                    <button id="contactDetailsButton" class='btn  vts-button-modifier-slim' style="float:left"
                        ng-class="{false:'btn-primary', true:'btn-info'}[displayVtsCenterData]"
                        ng-click="toggleDisplayVtsCenterData()" type='button'>
                        Contact details <span ng-class="{false:'glyphicon glyphicon-chevron-down', true:'glyphicon glyphicon-chevron-up'}[displayVtsCenterData]"></span>
                    </button>
                    &nbsp;&nbsp;
                    <button id="mastersguideButton" class='btn btn-primary vts-button-modifier-slim vts-inline-block' style="float:right"
                        ng-mouseover="displayPopupInfo($event,'The Masters Guide opens in a seperate window and is not part of the BalticWeb interface.','large')"
                        ng-mouseleave="removePopupInfo()"
                        ng-click="openMastersGuideNewWindow()" type='button'>
                        View Masters guide online <span class="glyphicon glyphicon-new-window"></span>
                    </button>
        </div>
        <div ng-hide="!displayVtsCenterData" style="position: relative;min-height:78px;margin-bottom:5px;border: 3px solid #5bc0de;border-radius:8px;padding-left: 3px;padding-right: 13px;" >
            <span style='min-width:220px;max-width:220px;display: inline-block; text-align: left;'><span class="bold">Call sign:</span> &#34;{{VtsDataCallsign}}&#34;</span>
            <br>
            <div ng-show="VtsDataVhf1!=''" class="vts-force-spacing-300">
                <span ng-show="VtsDataVhf1!=''" style='min-width:140px;max-width:140px;display: inline-block;'><span class="bold">VHF ch1.</span> {{VtsDataVhf1}}</span>
                <span ng-show="VtsDataVhf2!=''" style='min-width:140px;max-width:140px;display: inline-block;'><span class="bold">VHF ch2.</span> {{VtsDataVhf2}}</span>
                <span ng-show="VtsDataVhf3!=''" style='min-width:140px;max-width:140px;display: inline-block;'><span class="bold">VHF ch3.</span> {{VtsDataVhf3}}</span>
                <span ng-show="VtsDataVhf4!=''" style='min-width:140px;max-width:140px;display: inline-block;'><span class="bold">VHF ch4.</span> {{VtsDataVhf4}}</span>
            </div>
            <div ng-show="VtsDataReserveVhf1!=''" class="vts-force-spacing-350 vts-grey-text">
                <span ng-show="VtsDataReserveVhf1!=''" style='min-width:150px;max-width:150px;display: inline-block;'><span class="bold">VHF Reserve ch1.</span> {{VtsDataReserveVhf1}}</span>
                <span ng-show="VtsDataReserveVhf2!=''" style='min-width:150px;max-width:150px;display: inline-block;'><span class="bold">VHF Reserve ch2.</span> {{VtsDataReserveVhf2}}</span>
            </div>
            <hr class="vts-hr-seperator">
            <div ng-show="VtsDataEmail!=''" class="vts-force-spacing-300">
                <span class="bold">Email:</span>
                <span class="bold">{{VtsDataEmail}}</span>
            </div>
            <div ng-show="VtsDataTelephone1!=''" class="vts-force-spacing-300">
                <span class="bold">Telephone:</span>
                <span class="bold">{{VtsDataTelephone1}}</span>
            </div>
            <div ng-show="VtsDataTelephone2!=''" class="vts-force-spacing-300">
                <span class="bold">Telephone 2:</span>
                <span>{{VtsDataTelephone2}}</span>
            </div>
            <div ng-show="VtsDataFax!=''" class="vts-force-spacing-300">
                <span class="bold">Fax:</span>
                <span>{{VtsDataFax}}</span>
            </div>
        </div>

        <!-- VTS AREA MINIMAP -->
        <div id="minimapContainer" class="vts-pad-top vts-responsive-minimap" style="position: relative;" >
            <div id='minimap' class="vts-responsive-minimap" style="position:absolute;left:0px;top:0px;" ></div>
            <div class="vts-responsive-minimap vts-absolute-top-left" style="background-color:#ffffff;opacity:0.1;cursor: default;" ng-click="doNothing()" ></div>

            <div class="vts-text-shadow vts-white-text vts-text-xxlarge" style="position:absolute;left:0px;top:0px;width:100%;" >
                &nbsp;&nbsp;&nbsp;&nbsp; {{VTSSelectedTrafficCenterCountry}}
            </div>
            <div class="vts-text-shadow vts-white-text vts-text-large" style="position:absolute;text-align:right; left:0px;bottom:0px;width:100%;">
                {{VTSSelectedTrafficCenterShortname}} reporting area &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div ng-show="vtsDisplayNonIntersectWarning" class="vts-responsive-nonintersectwarning-container" style="min-width:200px;">
                <div ng-click="toggleDisplayNonIntersectWarningText()" ng-class="{false:'', true:'vts-responsive-nonintersectwarning-button-active vts-responsive-nonintersectwarning-button-clickedborder'}[vtsDisplayNonIntersectWarningText]" class="vts-responsive-nonintersectwarning-button vts-inline-block">
                    <div class="vts-responsive-nonintersectwarning-alertbox">!</div>
                </div>
                <div ng-show="vtsDisplayNonIntersectWarningText" class="vts-inline-block vts-responsive-nonintersectwarning-text">
                    <div class="vts-nonintersectwarning-text-headline">Your route does not cross the VTS reporting line!</div>
                    <div class="vts-nonintersectwarning-text-body">
                        You have selected to send a report to <strong>{{VTSSelectedTrafficCenterShortname}}</strong>, but your route does not intersect with the reporting area.
                        <br>
                        <button class='btn btn-warning vts-button-modifier-superslim vts-black-text' style="position: relative;" ng-click="toggleDisplayNonIntersectWarningText()" type='button'>
                            <span class="glyphicon glyphicon-chevron-left"></span>OK
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="vts-hr"> <!-- ETA ------------------------------------------------------------------- -->
        <div style="padding-bottom:6px;">
            <span class="bold vts-pad-top">
                Estimated Time of Arrival at {{VTSSelectedTrafficCenterShortname}} reporting area:
            </span>
            <span id="timedateutclabel" class="vts-force-spacing-200">{{vtsDisplayEtaDateTime}}</span>
            <div class="vts-pad-top" style="position: relative;">
                <div id="etaDateContainer" class="vts-force-spacing-200"
                    ng-mouseover="displayPopupInfo($event,'Manually change the date of ETA','small')"
                    ng-mouseleave="removePopupInfo()">
                    <date-input date="now" class="vts-timedatepicker" on-change="dateInputChange(now)" placeholder="{{vtsCurrentDateStamp}}"></date-input>
                </div>
                <div class="vts-force-spacing-350 ">
                    <div id="etaTimeContainer"  class="vts-force-spacing-200"
                         ng-mouseover="displayPopupInfo($event,'Manually change the time of ETA','small')"
                         ng-mouseleave="removePopupInfo()">
                        <time-input time="time" class="vts-timedatepicker"  on-change="timeInputChange(time)" ng-click="timeInputClick()"></time-input>
                    </div>
                    <span class="vts-align-utc-label">UTC</span>
                </div>
                <div ng-show="detectedRouteETA!=null && !vtsDisplayNonIntersectWarning" ng-mouseleave="removePopupInfo()">
                    <button id="useRouteEtaButton" class='btn btn-default vts-button-modifier-slim vts-inline-block' style="position: relative;"
                            ng-click="setRouteEtaTimeDatePicker()" type='button' >
                            <i class="glyphicon glyphicon-paste" aria-hidden="true"></i>
                            Use route ETA
                    </button>
                    <span class="vts-grey-text"> ({{renderedStaticRouteETA}})</span>
                </div>
            </div>

        </div>

        <hr class="vts-hr vts-pad-top vts-pos-relative" > <!-- VESSEL INFORMATION ------------------------------------------------------------------- -->
        <span class="bold vts-pad-top vts-pos-relative">
            Vessel information
        </span>
        <div>
            <span class="vts-force-spacing-200">
                {{vtsvesselmmsilabel}}
            </span>
            <br>
            <div style="position: relative;">
                <input class="vts-input-standard vts-pos-relative" ng-trim="false" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselMMSIValid]" type="text" ng-model="vtsvesselmmsiinput" ng-change="VTSVesselMMSIValidation()" >
                <div class="vts-pad-top vts-force-spacing-200 vts-pos-relative" ng-show="isLoggedIn">
                    <div  style="width:124px;" id="vtsAisPopupInfo"
                        ng-mouseenter="displayPopupInfo($event,'Inserting AIS data does not overwrite previously inserted data.','large')"
                        ng-mouseleave="removePopupInfo()">
                        <button class="btn btn-default vts-less-padding vts-inline-block" ng-class="{false:'', true:'vts-pulse'}[setvtsvesselMMSIValid]" ng-disabled="!isLoggedIn || !setvtsvesselMMSIValid" type="button" ng-click="populateInputsWithAisData()"><i class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></i>
                            Insert AIS data
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="vts-hr-seperator" >

        <div>
            <div class="vts-force-spacing-200 vts-pad-top">
                <span class="vts-force-spacing-100">Vessel name:</span>
                <input class="vts-input vts-placeholder-highlight" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselnameValid]" type="text" ng-model="vtsvesselnameinput" ng-change="VTSVesselNameValidation(true)" placeholder="{{placeholderAisVesselName}}">
            </div>
            <div class="vts-force-spacing-200 vts-pad-top" >
                <span class="vts-force-spacing-100">Callsign:</span>
                <input class="vts-input vts-placeholder-highlight" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselcallsignValid]" type="text" ng-model="vtsvesselcallsigninput" ng-change="VTSVesselCallsignValidation(true)"  placeholder="{{placeholderAisVesselCallsign}}">
            </div>
            <div class="vts-force-spacing-200 vts-pad-top">
                <span class="vts-force-spacing-100" >{{vtsvesselimolabel}}</span>
                <input class="vts-input-standard vts-placeholder-highlight" ng-trim="false" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselIMOValid]" type="text" ng-model="vtsvesselimoinput" ng-change="VTSVesselIMOValidation(true)"  onfocus="this.value = this.value;"  placeholder="{{placeholderAisVesselImo}}">
            </div>
        </div>
        <div>
            <div class="vts-force-spacing-350 vts-pad-top">
                <span class="vts-force-spacing-300">Port of destination:</span>
                <input class="vts-input-large vts-placeholder-highlight" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselPortOfDestinationValid]" type="text" ng-model="vtsvesselportofdestinationinput" ng-change="VTSVesselPortOfDestinationValidation(true)"  placeholder="{{placeholderAisPortOfDestination}}">
            </div>
        </div>

        <div class="vts-pad-top">
            <div class="vts-force-spacing-200 ">
                <span class="vts-force-spacing-200">Number of people on board</span>
                <input class="vts-input-medium vts-text-center" ng-trim="false" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselPersonsValid]"  ng-model="vtsvesselpersonsinput" ng-change="VTSVesselPersonsValidation(true)">
            </div>
            <div class="vts-force-spacing-200 " ng-show="showMaxDraught">
                <span class="vts-force-spacing-200">Draught (<span ng-class="{'vtsvalid-alert': maxDraughtExceedsLimit}">max. {{VTSSelectedTrafficCenterDraughtMax}}m</span>)
                    <span class="vts-force-spacing-20" ng-show="maxDraughtExceedsLimit">
                    &nbsp;<abbr style="top:3px"  data-title="Max. draught has been exceeded. You may still send this report, please contact {{VTSSelectedTrafficCenterShortname}} as soon as possible. " class="glyphicon glyphicon-question-sign vts-warning-abbr"></abbr>
                    </span>
                </span>

                <input ng-model="vtsvesseldraughtinput" class="vts-input-small vts-text-center vts-placeholder-highlight"
                    ng-trim="false"
                    ng-class="{'vtsvalid': (setvtsvesselDraughtValid && maxDraughtExceedsLimit == false) == true,
                    'vtsinvalid': setvtsvesselDraughtValid == false,
                    'vtsvalid-alert': (setvtsvesselDraughtValid && maxDraughtExceedsLimit == true) == true}"
                    ng-change="VTSVesselDraughtValidation(true)"
                    placeholder="{{placeholderAisVesselDraught}}"
                >
                <div class="vts-force-spacing-20">
                    &nbsp;<abbr data-title="Draught is the maximum depth of a vessel below waterline." class="glyphicon glyphicon-question-sign vts-abbr"></abbr>
                </div>
            </div>

            <div class="vts-force-spacing-200 " ng-show="showAirDraught">
                <span class="vts-force-spacing-200">Air draught (<span ng-class="{'vtsvalid-alert': maxAirdraughtExceedsLimit}">max. {{VTSSelectedTrafficCenterAirdraughtMax}}m</span>)
                    <span class="vts-force-spacing-20" ng-show="maxAirdraughtExceedsLimit">
                    &nbsp;<abbr style="top:3px"  data-title="Max. air draught has been exceeded. You may still send this report, please contact {{VTSSelectedTrafficCenterShortname}} as soon as possible. " class="glyphicon glyphicon-question-sign vts-warning-abbr"></abbr>
                    </span>
                </span>
                <input class="vts-input-small vts-text-center" ng-trim="false"
                       ng-class="{'vtsvalid': (setvtsvesselAirDraughtValid && maxAirdraughtExceedsLimit == false) == true,
                    'vtsinvalid': setvtsvesselAirDraughtValid == false,
                    'vtsvalid-alert': (setvtsvesselAirDraughtValid && maxAirdraughtExceedsLimit == true) == true}"
                    ng-model="vtsvesselairdraughtinput"
                    ng-change="VTSVesselAirDraughtValidation(true)"
                >
                <div  class="vts-force-spacing-20">
                    &nbsp;<abbr data-title="Air Draught is the maximum height of a vessel over waterline. Please contact the VTS center directly for more information." class="glyphicon glyphicon-question-sign vts-abbr"></abbr>
                </div>
            </div>


            <div  class="vts-force-spacing-300">
                <textarea class="vts-textarea-standard vts-force-spacing-250" ng-model="vtsvesseldefectsinput" placeholder="Defects, deficiencies or limitations?"></textarea>
                <div  class="vts-force-spacing-20">
                    &nbsp;<abbr data-title="Any information related to lowered safety level of a vessel or its ability to maneuver should be reported as soon as possible." class="glyphicon glyphicon-question-sign vts-abbr"></abbr>
                </div>
            </div>
        </div>
        <div class="vts-pad-top">
            <div class="vts-force-spacing-200 " ng-show="showVesselType">
                <span class="vts-force-spacing-200">Vessel Type:</span>
                <select class="form-control vts-force-spacing-150 vts-select" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsVesselTypeValid]"   name="vts-center-select" ng-options="items as items.type for items in vesselTypes" ng-model="selectedVesselType" ng-change="selectVesselTypeChange(selectedVesselType)" >
                    <option value="" selected disabled class="ng-binding ng-scope">Select a type:</option>
                </select>
            </div>
            <div class="vts-force-spacing-200 " ng-show="showVesselLength">
                <span class="vts-force-spacing-200">Vessel length (m):</span>
                <input class="vts-input-small vts-text-center vts-placeholder-highlight" ng-trim="false" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsVesselLengthValid]"  ng-model="vtsvessellengthinput" ng-change="VTSVesselLengthValidation(true)" placeholder="{{placeholderAisVesselLength}}">
            </div>
            <div class="vts-force-spacing-200 " ng-show="showDeadWeightTonnage">
                <span class="vts-force-spacing-200">Deadweight Tonnage (DWT):</span>
                <input class="vts-input-medium vts-text-center vts-placeholder-highlight" ng-trim="false" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselDeadWeightValid]"  ng-model="vtsvesseldeadweightinput" ng-change="VTSVesselDWTValidation(true)">
            </div>
            <div class="vts-force-spacing-200 " ng-show="showGrossTonnage">
                <span class="vts-force-spacing-200">Gross Tonnage (GT):</span>
                <input class="vts-input-medium vts-text-center"  ng-model="vtsvesselgrosstonnageinput" ng-trim="false" ng-change="VTSVesselGTValidation(true)">
            </div>
        </div>
        <div class="vts-pad-top" ng-show="showFuelQuantity">
            <div class="vts-force-spacing-200 " >
                <span class="vts-force-spacing-200">Total Fuel (MT)</span>
                <input class="vts-input-small vts-text-center" ng-model="vtsvesselfuelquantityinput" ng-trim="false" ng-change="VTSVesselFuelQuantityValidation(true)"><span class="vts-grey-text"> (if over 5000 MT fuel)</span>
            </div>
        </div>

        <!-- FUEL INFORMATION ------------------------------------------------------------------- -->
        <div class="vts-pad-top" ng-show="showFuelDetails">
            <hr class="vts-hr" >
            <span class="vts-force-spacing-200 bold">Fuel information:</span>
            <div class="vts-pad-top">Reporting all fuel carried on board is mandatory, please select a fuel type from the list, or "other" if you are in doubt:</div>
            <!--ng-repeat=”(key, value) in statuses”-->

            <div style="position: relative;min-height: 120px;">
                <div class="vts-force-spacing-222 vts-pad-top" >
                    <div class="vts-fuel-icon-container" ng-repeat="p in fuelTypes.slice(0,3)" ng-mouseover="fuelTypeMouseOver(p.description)" ng-click="fuelTypeMouseClick(p.name, p.shortname, p.description, p.sulphurPercentageMax,p.iconimageurl)" ng-class="{false:'', true:'vts-box-selected-highlight'}[p.selected]">
                        <div class="vts-fuel-icon-label">{{p.shortname}}</div>
                        <div class="vts-fuel-icon" style="background-image: url({{p.iconimageurl}})"></div>
                    </div>
                </div>
                <div class="vts-force-spacing-222 vts-pad-top">
                    <div class="vts-fuel-icon-container"  ng-repeat="p in fuelTypes.slice(3,6)" ng-mouseover="fuelTypeMouseOver(p.description)" ng-click="fuelTypeMouseClick(p.name, p.shortname, p.description, p.sulphurPercentageMax,p.iconimageurl)" ng-class="{false:'', true:'vts-box-selected-highlight'}[p.selected]">
                        <div class="vts-fuel-icon-label">{{p.shortname}}</div>
                        <div class="vts-fuel-icon" style="background-image: url({{p.iconimageurl}})"></div>
                    </div>
                </div>
                <div class="vts-force-spacing-222 vts-pad-top">
                    <div class="vts-fuel-icon-container"  ng-repeat="p in fuelTypes.slice(6,9)" ng-mouseover="fuelTypeMouseOver(p.description)" ng-click="fuelTypeMouseClick(p.name, p.shortname, p.description, p.sulphurPercentageMax,p.iconimageurl)" ng-class="{false:'', true:'vts-box-selected-highlight'}[p.selected]">
                        <div class="vts-fuel-icon-label">{{p.shortname}}</div>
                        <div class="vts-fuel-icon" style="background-image: url({{p.iconimageurl}})"></div>
                    </div>
                </div>

                <div class="vts-fuel-specification-container" ng-show="showFuelSpecification">
                    <div class="vts-fuel-specification-control" style="">
                        <div style="position:relative;width:100%;height:40px;">
                            <button class="btn btn-danger vts-less-padding" style="position:relative;top:0%;float:right;margin:5px;"  type="button" ng-click="fuelCancelFunction()">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                        <div style="position:absolute;bottom:0;height:35px;width:100%">
                            <button class="btn btn-success vts-less-padding" ng-disabled="!setvtsAddFuelButtonEnabled" style="position:relative;float:right;margin:5px;" type="button" ng-click="fuelAddToManifestFunction()">
                                <i class="glyphicon glyphicon-plus"></i>
                                Add
                            </button>
                        </div>
                    </div>
                    <div class="vts-fuel-specification">
                        <div style="max-width:330px;">
                            Please enter fuel quantity in
                            <button class="btn btn-secondary vts-less-padding vts-fuel-unitchange-button" type="button" ng-click="VTSFuelUnitInputChange()">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                {{fuelQuantitySelectedUnitText}}.
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>

                        <hr class="vts-hr-seperator" style="margin-left:0px;top:0px;padding:0px;color:#c2c2c2;">

                        <div class="vts-pad-top vts-fuel-inputs">
                            <div class="" style="position:relative;width:70%;height:100%;float:left;">
                                <img src="{{vtsFuelSelectedTypeImageUrl}}" style="width:24px;height:24px;"> {{fuelTypeSelectedText}}
                            </div>
                            <div class="" style="position: relative;width:30%;height:100%;float:right;">
                                <input id="vts-fuel-quantity-input" ng-keypress="fuelInputKeypress($event)" class="vts-input-medium vts-text-center vts-input-fuel-modheight" ng-trim="false" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsFuelQuantityInputValid]"  ng-change="fuelTypeQuantityInputValidate()" ng-model="fuelTypeQuantityInput"> {{fuelQuantitySelectedUnit}}&nbsp;
                            </div>
                        </div>
                        <div class="vts-pad-top vts-fuel-inputs" ng-show="displayFuelSulphurPercentageInput">
                            <div class="" style="position:relative;width:70%;height:100%;float:left;">
                                Percentage of Sulphur in fuel:
                            </div>
                            <div class="" style="position: relative;width:30%;height:100%;float:right;">
                                <input class="vts-input-medium vts-text-center vts-input-fuel-modheight" ng-keypress="fuelInputKeypress($event)" ng-trim="false"  ng-model="fuelSulphurPercentageInput" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsFuelSulphurInputValid]" ng-change="fuelSulphurInputValidate()"> &percnt;
                            </div>
                        </div>
                        <div class=" vts-fuel-inputs" style="padding-top:4px;min-height:24px;">
                            <input class="vts-input-fuel-large vts-input-fuel-modheight" ng-keypress="fuelInputKeypress($event)" ng-trim="false" ng-model="fuelNoteInput" ng-change="fuelNoteInputValidate()" placeholder=" Notes and/or other specifications">
                        </div>
                    </div>

                </div>
            </div>

            <div class="vts-fuel-description-box vts-grey-text">
                {{vtsFuelSelectedTypeDescriptionText}}
            </div>
            <div class="vts-fuel-manifest-list" style="position: relative;">
                <div class=""  ng-repeat="f in reportSummary.fuelManifest track by $index" >
                    <div style="display:inline-block;width:36px;">
                        <button class="btn btn-danger vts-less-padding" style="position:relative;margin:5px;top:-8px;" type="button"
                                ng-mouseover="fuelManifestItemRemoveMouseOver($index)" ng-mouseout="fuelManifestItemRemoveMouseOver()"
                                ng-click="fuelManifestRemoveItem($index)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </div>
                    <div style="display:inline-block;width:88%;max-width:632px;overflow:hidden;white-space:nowrap;"
                         ng-class="[{true:'vts-fuel-manifest-item-selected-remove', false:''}[setvtsFuelIndexSelected[$index].remove && !fuelTypeMouseOverDisabled],
                            {true:'vts-fuel-manifest-item-selected-edit', false:''}[setvtsFuelIndexSelected[$index].edit && !fuelTypeMouseOverDisabled]]"
                         ng-mouseover="fuelManifestItemEditMouseOver($index)" ng-mouseout="fuelManifestItemEditMouseOver()" ng-click="fuelManifestEditItemClick($index)"
                         ng-class-odd="'vts-fuel-even-backcolor'">

                        <img src="{{f.iconimageurl}}" style="width:24px;height:24px;">{{f.name}} - ({{f.shortname}}) - {{f.quantity}} {{f.unit}}
                        <span ng-show="f.note.length > 0"> - {{f.note}}</span>
                   </div>
                </div>
                <div class="vts-element-cover-fuel-manifestlist" ng-class="{true:'block', false:'unblock'}[fuelTypeMouseOverDisabled]">
                    <!--covers the entire element with a semi transparent background color to disable interaction-->
                </div>
            </div>
            <hr class="vts-hr-seperator">
            <div class="vts-pad-top" ng-show="fuelTotalTonnageText!=''">
                <span>Total tonnage of fuel:</span>
                <span class="bold">{{fuelTotalTonnageText}} metric tonnes</span>
            </div>
        </div>



        <!-- CARGO INFORMATION ************************************************************************************* -->


        <div class="vts-pad-top" >
            <hr class="vts-hr" >
            <div ><span class="bold" >Cargo information </span><span class="vts-grey-text" > - detailed cargo description</span></div>

            <div class="vts-pad-top" style="padding-bottom: 10px;" >
                <span class="vts-force-spacing-250">
                    <select class="form-control vts-force-spacing-200 vts-select" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsCargoTypeValid]"
                            name="vts-center-select" ng-options="items for items in cargoTypes" data-ng-model="selectedCargoType"
                            ng-change="selectVesselCargoChange(selectedCargoType)" >
                    </select>
                </span>
                <span class="vts-force-spacing-250" ng-show="showCargoTypesCheckbox" style="line-height: 13px;">
                    <input type="checkbox" ng-disabled="vtsDangCargoCheckDisabled" class="vts-checkbox" ng-checked="vtsDangCargoCheckBoxState" ng-change="VTSDangerousCargoCheckbox(vtsDangCargoCheckBoxState)" ng-model="vtsDangCargoCheckBoxState"><span class="vts-checkbox-label">Dangerous cargo on board</span>
                </span>
            </div>

            <div ng-show="showCargoTypeFields" style="position: relative;">

                <div class="vts-pad-top " >
                    <div class="">
                        <!-- DEFAULT MSG, changes according to what user does-->
                        <div class="vts-pad-top" ng-show="!showCargoSpecification">Please select an IMO dangerous goods classification:</div>
                        <!-- USER HAS SELECTED A CARGO CLASS MSG-->
                        <div class="vts-pad-top bold" ng-show="showCargoSpecification && selectedCargoSubClassObject.IMOSubClass == 0">You have selected to report cargo <span style="color:#345ec6">IMO class {{selectedCargoTypeObject.IMOClass}}: {{selectedCargoTypeObject.description}}</span>.</div>
                        <!-- USER HAS SELECTED A CARGO SUBCLASS MSG-->
                        <div class="vts-pad-top bold" ng-show="showCargoSpecification && selectedCargoSubClassObject.IMOSubClass > 0">You have selected to report cargo <span style="color:#345ec6">IMO class, {{selectedCargoSubClassObject.IMOSubClass}}: {{selectedCargoSubClassObject.name}}</span>.</div>

                        <!-- CARGO CLASS SELECTION BOX -->
                        <div class="vts-pad-top" ng-show="!showCargoSpecification" style="position:relative;">
                            <div class="vts-cargo-icon-container"
                                 ng-mouseover="cargoClassMouseOver(x.IMOClass +' - '+ x.description)"
                                 ng-repeat="x in IMODangerousCargoTypes track by $index"
                                 ng-mouseleave="cargoClassMouseOver('')"
                                 ng-click="cargoClassMouseClick(x)">
                                <div class="vts-cargo-icon-label" >{{x.shortname}}</div>
                                <div class="vts-cargo-diamond vts-cargolabel-color-rotate vts-cargo-color-{{x.IMOClass}}">
                                    <div class="vts-cargo-diamond-internal-bordered">
                                        <div class="vts-cargo-reversediamond-label">{{x.IMOClass}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vts-pad-top">
                                <span class="vts-grey-text vts-cargo-description-box"><span class="bold">Dangerous Goods IMO class: </span>{{vtsSelectedCargoClassDescription}}&nbsp;</span>
                            </div>
                        </div>

                        <!-- CARGO SUBCLASS SELECTION BOX -->
                        <div class="vts-cargo-specification-container" ng-show="showCargoSpecification">
                            <!-- ADD & CANCEL BUTTONS -->
                            <div class="vts-cargo-specification-control" style="">
                                <div style="position:relative;width:100%;height:40px;">
                                    <button class="btn btn-danger vts-less-padding" style="z-index:10;position:relative;top:0%;float:right;margin:5px;"
                                            type="button" ng-click="cargoCancelFunction()">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </div>
                                <div style="position:absolute;bottom:0;height:35px;width:100%;">
                                    <button class="btn btn-success vts-less-padding" ng-disabled="!setvtsCargoQuantityInputValid" style="z-index:11;position:relative;float:right;margin:5px;"
                                            type="button" ng-click="cargoAddToManifestFunction()">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        Add
                                    </button>
                                </div>
                            </div>
                            <div class="vts-cargo-specification">
                                <div style="position:relative;left:-6px;min-height:30px;max-width:340px;width:340px;margin-left:auto;margin-right:auto;text-align:center;">
                                    <!-- UNIT SELECTOR TON/KG -->
                                    <span ng-show="showCargoUnitSelection">Please enter cargo weight in </span>
                                    <button ng-show="showCargoUnitSelection" class="btn btn-secondary vts-less-padding vts-cargo-unitchange-button" type="button" ng-click="VTSCargoUnitInputChange()">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                        {{cargoQuantitySelectedUnitText}}.
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </button>
                                    <!-- SELECT A CARGO SUB CLASS MSG -->
                                    <span class="bold" ng-show="!showCargoUnitSelection">Please select a cargo subclass</span>
                                </div>

                                <hr class="vts-hr-seperator" style="margin-left:auto;margin-right:auto;width:80%;top:0px;padding:0px;"
                                    ng-class="{true:'vts-hr-valid',false:'vts-hr-invalid'}[selectedCargoSubClassObject.selected == true]">

                                <div class="vts-pad-top vts-subcargo-inputs">
                                    <div class="" style="position:relative;width:100%;height:100%;">
                                        <div class="vts-cargo-subclass-icon-container vts-cargotype-hover-highlight"
                                             ng-repeat="p in selectedCargoTypeObject.types track by $index"
                                             ng-mouseover="cargoSubClassMouseOver(p)"
                                             ng-mouseleave="cargoSubClassMouseOver()"
                                             ng-click="cargoSubClassMouseClick(p, $index)"
                                             ng-class="[{true:'vts-box-selected-highlight',false:''}[(cargoSubTypeSelectedIndex == $index)],
                                             {true:'', false:'vts-icon-disabled'}[selectedCargoSubClassObject.selected==false]]">
                                            <img src="{{p.iconimageurl}}" style="width:100%"/>
                                        </div>
                                    </div>
                                </div>

                                <!-- QUANTITY INPUT & NOTE -->
                                <hr class="vts-hr-seperator" style="height:8px;margin-left:auto;margin-right:auto;width:80%;top:0px;padding:0px;"
                                    ng-show="selectedCargoSubClassObject.selected == true"
                                >
                                <div class="vts-cargo-input-container" ng-show="selectedCargoSubClassObject.selected == true">
                                    <div style="width:313px;text-align:right;">
                                        Quantity of goods, <span style="color:#345ec6">IMO class {{selectedCargoSubClassObject.IMOSubClass}}</span>:&nbsp;
                                        <span style="float: right">&nbsp;{{cargoQuantitySelectedUnit}}&nbsp;</span>
                                        <input style="float:right;" id="vts-cargo-quantity-input" ng-keypress="cargoInputKeypress($event)"
                                               class="vts-input-medium vts-text-center vts-input-fuel-modheight"
                                               ng-trim="false" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsCargoQuantityInputValid]"
                                               ng-change="cargoSubClassQuantityInputValidate()" ng-model="cargoSubClassQuantityInput"
                                        >
                                    </div>
                                    <div class=" vts-fuel-inputs" style="padding-top:4px;min-height:24px;">
                                        <input class="vts-input-fuel-large vts-input-fuel-modheight" ng-keypress="cargoInputKeypress($event)"
                                               style="top:5px;position:relative;"
                                               ng-trim="false" ng-model="cargoNoteInput" placeholder=" Notes and/or other specifications"
                                        >
                                    </div>
                                </div>

                                <hr class="vts-hr-seperator" style="margin-left:auto;margin-right:auto;width:80%;top:0px;padding:0px;"
                                    ng-class="{true:'vts-hr-valid',false:'vts-hr-invalid'}[selectedCargoSubClassObject.selected == true]">

                                <!-- DESCRIPTION TEXT -->
                                <div ng-show="showCargoSpecification" class="vts-cargo-subclass-description-box ">
                                    <span style="color:#345ec6;" ng-class="{true:'bold',false:'vts-grey-text'}[selectedCargoSubClassObject.selected == true]">
                                        {{vtsCargoSelectedSubTypeSelectionText_Subclass_Name}}
                                    </span>
                                    <br>
                                    <span class="vts-grey-text">{{vtsCargoSelectedSubTypeSelectionText_Description}}</span>
                                </div>
                            </div>
                        </div>

                        <!-- CARGO MANIFEST LIST -->
                        <hr class="vts-hr-seperator" ng-show="reportSummary.cargoManifest.length > 0">
                        <div class="cargo-cargo-manifest-list" style="position: relative;">
                            <div class=""  ng-repeat="f in reportSummary.cargoManifest track by $index" >
                                <div style="display:inline-block;width:36px;">
                                    <button class="btn btn-danger vts-less-padding" style="position:relative;margin:5px;top:-8px;" type="button"
                                            ng-mouseover="cargoManifestItemRemoveMouseOver($index)" ng-mouseout="cargoManifestItemRemoveMouseOver()"
                                            ng-click="cargoManifestRemoveItem($index)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </div>
                                <div style="display:inline-block;width:88%;max-width:632px;overflow:hidden;white-space:nowrap;"
                                    ng-class="[{true:'vts-cargo-manifest-item-selected-remove', false:''}[setvtsCargoIndexSelected[$index].remove && !cargoTypeMouseOverDisabled],
                                    {true:'vts-cargo-manifest-item-selected-edit', false:''}[setvtsCargoIndexSelected[$index].edit && !cargoTypeMouseOverDisabled]]"
                                    ng-mouseover="cargoManifestItemEditMouseOver($index)" ng-mouseout="cargoManifestItemRemoveMouseOver()" ng-click="cargoManifestEditItemClick($index)"
                                    ng-class-odd="'vts-cargo-even-backcolor'">

                                    <img src="{{f.iconimageurl}}" style="width:24px;height:24px;">{{f.IMOSubClass}}: {{f.name}} - {{f.quantity}} {{f.unit}}
                                    <span ng-show="f.note.length > 0"> - {{f.note}}</span>
                                </div>
                            </div>
                            <div class="vts-element-cover-cargo-manifestlist" ng-class="{true:'block', false:'unblock'}[cargoTypeMouseOverDisabled]">
                                <!--covers the entire element with a semi transparent background color to disable interaction-->
                            </div>
                        </div>
                        <hr class="vts-hr-seperator" >
                    </div>

                </div>
            </div>

        <div ng-show="showCargoTypeFields">
            <!-- Dangerous cargo classes on board and total tonnage -->
            <div class="vts-pad-top " >
                <div class="" >
                    <div ng-show="reportSummary.cargoManifest.length > 0" class="vts-pad-top">IMO classes of dangerous cargo on board: <strong>{{vtsdangerouscargotypeslabel}}</strong></div>
                    <div ng-show="reportSummary.cargoManifest.length > 0" class="vts-pad-top">Total tonnage of dangerous cargo on board: <strong>{{vtsdangerouscargotonnagelabel}}</strong> metric tonnes.</div>
                    <div class="vts-pad-top">More information on dangerous cargo can be found at: <a href="http://www.unece.org/trans/danger/publi/unrec/rev18/18files_e.html" target="_blank">unece.org</a>
                        &nbsp;<abbr style="top:3px"  data-title="This link opens a new window to unece.org. Please contact {{VTSSelectedTrafficCenterShortname}} as soon as possible if you are in doubt." class="glyphicon glyphicon-question-sign vts-warning-abbr"></abbr>
                    </div>
                </div>
            </div>

        </div>

            <hr class="vts-hr-seperator" >

            <div >
                <div class="vts-force-spacing-350 vts-pad-top" ng-show="showCargoContactInformationInput">
                    <span>Designated Person Ashore (DPA) or cargo agent:</span>
                    <div class="vts-pad-top">
                        <span class="vts-force-spacing-100">Name:</span>
                        <input class="vts-input-large" ng-model="vtscargodesignatedpersonashorenameinput" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselDPANameValid]" ng-change="VTSDangerousCargoContactNameValidation(true)">
                    </div>
                    <div class="vts-pad-top">
                        <span class="vts-force-spacing-100">Telephone:</span>
                        <input class="vts-input-large" ng-model="vtscargodesignatedpersonashoretelephoneinput" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselDPAPhoneValid]" ng-change="VTSDangerousCargoContactPhonenumberValidation(true)">
                    </div>
                    <div class="vts-pad-top">
                        <span class="vts-force-spacing-100">Email:</span>
                        <input class="vts-input-large" ng-model="vtscargodesignatedpersonashoreemailinput" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselDPAEmailValid]" ng-change="VTSDangerousCargoContactEmailValidation(true)">
                    </div>
                </div>
                <div class="vts-force-spacing-350 vts-pad-top" style="position: relative; top:7px;" ng-show="showCargoContactInformationInput">
                    <span class="vts-pad-top">Additional contact details for information of cargo:</span>
                    <textarea class="vts-textarea-large" ng-model="vtscargoadditionalcontactdetailsinput"  ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselContactDetailsValid]" ng-change="VTSCargoContactInformationChange()"></textarea>
                </div>
                <br>

                <hr class="vts-hr-seperator" >

                <div class="vts-force-spacing-350 vts-pad-top" >
                    <span >Pollution or dangerous cargo lost overboard:</span>
                    <textarea class="vts-textarea-large" ng-model="vtsdangerouscargooverboard" placeholder="Please describe the pollutant and where it was lost. Any additional information may be of great value."></textarea>
                </div>
            </div>
        </div>

        <hr class="vts-hr"> <!-- VOYAGE INFORMATION ------------------------------------------------------------------- -->

        <span class="bold">Voyage information</span><span class="vts-grey-text"> - data extracted from AIS or route (RTZ)</span>

            <div class="vts-pad-top" ng-show="showPortOfDestination || showPortOfDestinationEta">
                <div ng-show="showPortOfDestinationEta">
                    <span> ETA at destination port according to AIS:</span><span style="font-style: italic;"> {{vtsvesselportofdestinationetalabel}}</span>
                    <div >
                        <!-- ETA at destination port from AIS data -->
                    </div>
                </div>
            </div>

            <div class="vts-pad-top" style="padding-left:5px;">
                <div class="" ng-show="showCourseOverGround">
                    <span class="">ETA at VTS area:</span> <span class="vts-grey-text">{{vtsDisplayEtaDateTime}}</span>
                </div>
                <div class="" ng-show="showCourseOverGround">
                    <span class="">Expected COG entering VTS area:</span> <span class="vts-grey-text">{{vtsvesselcourseovergroundinput}} degrees</span>
                </div>
                <div class="" ng-show="showCourseOverGround">
                    <span class="">Expected VTS area entry point:</span> <span class="vts-grey-text">{{vtsEtaLonDegree}}&deg; {{vtsEtaLonDecMinutes}} - {{vtsEtaLatDegree}}&deg; {{vtsEtaLatDecMinutes}}</span>
                </div>
            </div>
        </div>

        <hr class="vts-hr"> <!-- END ------------------------------------------------------------------- -->

    </div>



    <!-- Exit prompt -->
    <div ng-show="!showReportInterface && VTSSelected" style="position:relative;top:0px;left:0px;height:100%;width:100%;max-height:500px;">
        <div style="position:relative;height:50%;top:25%;width:100%;">
            <div class="vts-text-xlarge vts-text-center">
                You are about to exit the VTS reporting interface
            </div>
            <div class="vts-text-normal vts-text-center">
                Your changes will be saved but not sent.
                <br>
            </div>
            <br>
            <div class="vts-text-normal vts-text-center">
                <button class="btn btn-danger" type="button" ng-click="exitInterface(true)"><i class="fa fa-ban" aria-hidden="true"></i>
                    Save and exit
                </button>
                <span class="vts-force-spacing-100"></span>
                <button class="btn btn-primary" type="button" ng-click="exitInterface(false)">
                    Cancel
                </button>
            </div>
        </div>
    </div>


<!--<div id="infodiv" style="position:fixed;width:140px;height:80px;background-color:#bb0000;" ng-style="{left:popupInfoPos.left,top:popupInfoPos.top}"></div>-->


</div>





<div class="modal-footer">
    <div class="col-md-12 text-center" ng-hide="!showReportInterface" >
        <button class="btn btn-primary" ng-disabled="!showReportInterface" ng-show="!isLoggedIn" type="button" ng-click="login()">
            Login
        </button>
        <button class="btn btn-success" ng-class="{true:'',false:'disabled'}[isLoggedIn]" ng-show="VTSReadyToSend" type="button" ng-click="sendVTSForm()">
            <i class="fa fa-check" aria-hidden="true"></i> Send
        </button>
        <button class="btn btn-danger" type="button" ng-click="hideVTSForm()"><i class="fa fa-ban" aria-hidden="true"></i>
            <span ng-show="VTSSelected && showReportInterface">Save and </span>Exit
        </button>
    </div>
    <div class="col-md-12 text-center vts-grey-text vts-text-small"  ng-show="!showReportInterface">
        Please note that your changes are saved in your browser cache.
        <br>
        Browsing in incognito mode or clearing your cache will clear all your changes.
    </div>
</div>