<div class="modal-header vts-less-lineheight">
    <h3 class="modal-title" ng-show="showReportInterface">
        <div ng-show="VTSSelectedTrafficCenterLogo!=''" class="vts-inline-block" style='min-width:48px;width:100%'>
            <div class="vts-inline-block" style="float:left">
                <img style='max-height:60px;' src='{{VTSSelectedTrafficCenterLogo}}'>
            </div>
            <div class="vts-inline-block" style="position: relative;left:10px;">
                <div style="margin-top: 9px;">
                    <strong>{{VTSSelectedTrafficCenterName}}</strong>
                </div>
                <div class="" style="margin-top: -13px;">
                    <span style="font-size:14px;">Vessel Traffic Service report form<span ng-show="VTSSelected"> for {{VTSSelectedTrafficCenterShortname}} </span></span>
                </div>
            </div>
        </div>
    </h3>
    <h3 class="modal-title vts-text-center vts-text-xxlarge" ng-show="!showReportInterface">
        Warning! <!-- warn on exit -->
    </h3>
</div>

<div id="modalbody" class="modal-body ng-hide vts-modal-body">
    <div ng-show="showReportInterface">
        <select ng-show="showVtsCenterSelect" class="form-control" name="vts-center-select" ng-options="p.shortname as p.shortname for p in (VTSCenterData | filter:isListItemNull)" ng-model="VTSCenterData.shortname" ng-change="selectVTSCenterChange(VTSCenterData.shortname,null)">
            <option selected value="" class="ng-binding ng-scope">Please select a Vessel Traffic Service center</option>
        </select>
    </div>

    <!-- VTS CENTRE INFORMATION -->
    <div id="vtsparentdiv" class="vts-pad-top" ng-show="VTSSelected && showReportInterface">
        <div class="vts-pad-top vts-pad-bottom " style="position: relative;min-height:40px; padding-bottom:8px;min-width:336px;">
                    <button id="contactDetailsButton" class='btn  vts-button-modifier-slim' style="float:left"
                        ng-class="{false:'btn-primary', true:'btn-info'}[displayVtsCenterData]"
                        ng-click="toggleDisplayVtsCenterData()" type='button'>
                        Contact details <span ng-class="{false:'glyphicon glyphicon-chevron-down', true:'glyphicon glyphicon-chevron-up'}[displayVtsCenterData]"></span>
                    </button>
                    &nbsp;&nbsp;
                    <button id="mastersguideButton" class='btn btn-primary vts-button-modifier-slim vts-inline-block' style="float:right"
                        ng-mouseover="displayPopupInfo($event,'The Masters Guide opens in a seperate window and is not part of the BalticWeb interface.','large')"
                        ng-mouseleave="removePopupInfo()"
                        ng-click="openMastersGuideNewWindow()" type='button'>
                        View Masters guide online <span class="glyphicon glyphicon-new-window"></span>
                    </button>
        </div>
        <div ng-hide="!displayVtsCenterData" style="position: relative;min-height:78px;margin-bottom:5px;border: 3px solid #5bc0de;border-radius:8px;padding-left: 3px;padding-right: 13px;" >
            <span style='min-width:220px;max-width:220px;display: inline-block; text-align: left;'><span class="bold">Call sign:</span> &#34;{{VtsDataCallsign}}&#34;</span>
            <br>
            <div ng-show="VtsDataVhf1!=''" class="vts-force-spacing-300">
                <span ng-show="VtsDataVhf1!=''" style='min-width:140px;max-width:140px;display: inline-block;'><span class="bold">VHF ch1.</span> {{VtsDataVhf1}}</span>
                <span ng-show="VtsDataVhf2!=''" style='min-width:140px;max-width:140px;display: inline-block;'><span class="bold">VHF ch2.</span> {{VtsDataVhf2}}</span>
                <span ng-show="VtsDataVhf3!=''" style='min-width:140px;max-width:140px;display: inline-block;'><span class="bold">VHF ch3.</span> {{VtsDataVhf3}}</span>
                <span ng-show="VtsDataVhf4!=''" style='min-width:140px;max-width:140px;display: inline-block;'><span class="bold">VHF ch4.</span> {{VtsDataVhf4}}</span>
            </div>
            <div ng-show="VtsDataReserveVhf1!=''" class="vts-force-spacing-350 vts-grey-text">
                <span ng-show="VtsDataReserveVhf1!=''" style='min-width:150px;max-width:150px;display: inline-block;'><span class="bold">VHF Reserve ch1.</span> {{VtsDataReserveVhf1}}</span>
                <span ng-show="VtsDataReserveVhf2!=''" style='min-width:150px;max-width:150px;display: inline-block;'><span class="bold">VHF Reserve ch2.</span> {{VtsDataReserveVhf2}}</span>
            </div>
            <hr class="vts-hr-seperator">
            <div ng-show="VtsDataEmail!=''" class="vts-force-spacing-300">
                <span class="bold">Email:</span>
                <span class="bold">{{VtsDataEmail}}</span>
            </div>
            <div ng-show="VtsDataTelephone1!=''" class="vts-force-spacing-300">
                <span class="bold">Telephone:</span>
                <span class="bold">{{VtsDataTelephone1}}</span>
            </div>
            <div ng-show="VtsDataTelephone2!=''" class="vts-force-spacing-300">
                <span class="bold">Telephone 2:</span>
                <span>{{VtsDataTelephone2}}</span>
            </div>
            <div ng-show="VtsDataFax!=''" class="vts-force-spacing-300">
                <span class="bold">Fax:</span>
                <span>{{VtsDataFax}}</span>
            </div>



            <!--$scope.VtsDataEmail = VTSData[vtsID].email;-->
            <!--$scope.VtsDataTelephone = VTSData[vtsID].telephone1;-->
            <!--$scope.VtsDataTelephon2 = VTSData[vtsID].telephone2;-->
            <!--$scope.VtsDataFax = VTSData[vtsID].fax;-->


        </div>

        <!-- VTS AREA MINIMAP -->
        <div id="minimapContainer" class="vts-pad-top vts-responsive-minimap" style="position: relative;" >
            <div id='minimap' class="vts-responsive-minimap" style="position:absolute;left:0px;top:0px;" ></div>
            <div class="vts-responsive-minimap vts-absolute-top-left" style="background-color:#ffffff;opacity:0.1;cursor: default;" ng-click="doNothing()" ></div>

            <div class="vts-text-shadow vts-white-text vts-text-xxlarge" style="position:absolute;left:0px;top:0px;width:100%;" >
                &nbsp;&nbsp;&nbsp;&nbsp; {{VTSSelectedTrafficCenterCountry}}
            </div>
            <div class="vts-text-shadow vts-white-text vts-text-large" style="position:absolute;text-align:right; left:0px;bottom:0px;width:100%;">
                {{VTSSelectedTrafficCenterShortname}} reporting area &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div ng-show="vtsDisplayNonIntersectWarning" class="vts-responsive-nonintersectwarning-container" style="min-width:200px;">
                <div ng-click="toggleDisplayNonIntersectWarningText()" ng-class="{false:'', true:'vts-responsive-nonintersectwarning-button-active vts-responsive-nonintersectwarning-button-clickedborder'}[vtsDisplayNonIntersectWarningText]" class="vts-responsive-nonintersectwarning-button vts-inline-block">
                    <div class="vts-responsive-nonintersectwarning-alertbox">!</div>
                </div>
                <div ng-show="vtsDisplayNonIntersectWarningText" class="vts-inline-block vts-responsive-nonintersectwarning-text">
                    <div class="vts-nonintersectwarning-text-headline">Your route does not cross the VTS reporting line!</div>
                    <div class="vts-nonintersectwarning-text-body">
                        You have selected to send a report to <strong>{{VTSSelectedTrafficCenterShortname}}</strong>, but your route does not intersect with the reporting area.
                        <br>
                        <button class='btn btn-warning vts-button-modifier-superslim vts-black-text' style="position: relative;" ng-click="toggleDisplayNonIntersectWarningText()" type='button'>
                            <span class="glyphicon glyphicon-chevron-left"></span>OK
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="vts-hr"> <!-- ETA ------------------------------------------------------------------- -->
        <div style="padding-bottom:6px;">
            <span class="bold vts-pad-top">
                Estimated Time of Arrival at {{VTSSelectedTrafficCenterShortname}} reporting area:
            </span>
            <span id="timedateutclabel" class="vts-force-spacing-200">{{vtsDisplayEtaDateTime}}</span>
            <div class="vts-pad-top" style="position: relative;">
                <div id="etaDateContainer" class="vts-force-spacing-200"
                    ng-mouseover="displayPopupInfo($event,'Manually change the date of ETA','small')"
                    ng-mouseleave="removePopupInfo()">
                    <date-input date="now" class="vts-timedatepicker" on-change="dateInputChange(now)" placeholder="{{vtsCurrentDateStamp}}"></date-input>
                </div>
                <div class="vts-force-spacing-350 ">
                    <div id="etaTimeContainer"  class="vts-force-spacing-200"
                         ng-mouseover="displayPopupInfo($event,'Manually change the time of ETA','small')"
                         ng-mouseleave="removePopupInfo()">
                        <time-input time="time" class="vts-timedatepicker"  on-change="timeInputChange(time)" ng-click="timeInputClick()"></time-input>
                    </div>
                    <span class="vts-align-utc-label">UTC</span>
                </div>
                <div ng-show="detectedRouteETA!=null && !vtsDisplayNonIntersectWarning" ng-mouseleave="removePopupInfo()">
                    <button id="useRouteEtaButton" class='btn btn-default vts-button-modifier-slim vts-inline-block' style="position: relative;"
                            ng-click="setRouteEtaTimeDatePicker()" type='button' >
                            <i class="glyphicon glyphicon-paste" aria-hidden="true"></i>
                            Use route ETA
                    </button>
                    <span class="vts-grey-text"> ({{renderedStaticRouteETA}})</span>
                </div>
            </div>

        </div>

        <hr class="vts-hr vts-pad-top vts-pos-relative" > <!-- VESSEL INFORMATION ------------------------------------------------------------------- -->
        <span class="bold vts-pad-top vts-pos-relative">
            Vessel information
        </span>
        <div>
            <span class="vts-force-spacing-200">
                {{vtsvesselmmsilabel}}
            </span>
            <br>
            <div style="position: relative;">
                <input class="vts-input-standard vts-pos-relative" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselMMSIValid]" type="text" ng-model="vtsvesselmmsiinput" ng-change="VTSVesselMMSIValidation()" >
                <div class="vts-pad-top vts-force-spacing-200 vts-pos-relative" ng-show="isLoggedIn">
                    <div  style="width:124px;" id="vtsAisPopupInfo"
                        ng-mouseenter="displayPopupInfo($event,'Inserting AIS data does not overwrite previously inserted data.','large')"
                        ng-mouseleave="removePopupInfo()">
                        <button class="btn btn-default vts-less-padding vts-inline-block" ng-class="{false:'', true:'vts-pulse'}[setvtsvesselMMSIValid]" ng-disabled="!isLoggedIn || !setvtsvesselMMSIValid" type="button" ng-click="populateInputsWithAisData()"><i class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></i>
                            Insert AIS data
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="vts-hr-seperator" >

        <div>
            <div class="vts-force-spacing-200 vts-pad-top">
                <span class="vts-force-spacing-100">Vessel name:</span>
                <input class="vts-input vts-placeholder-highlight" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselnameValid]" type="text" ng-model="vtsvesselnameinput" ng-change="VTSVesselNameValidation(true)" placeholder="{{placeholderAisVesselName}}">
            </div>
            <div class="vts-force-spacing-200 vts-pad-top" >
                <span class="vts-force-spacing-100">Callsign:</span>
                <input class="vts-input vts-placeholder-highlight" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselcallsignValid]" type="text" ng-model="vtsvesselcallsigninput" ng-change="VTSVesselCallsignValidation(true)"  placeholder="{{placeholderAisVesselCallsign}}">
            </div>
            <div class="vts-force-spacing-200 vts-pad-top">
                <span class="vts-force-spacing-100" >{{vtsvesselimolabel}}</span>
                <input class="vts-input-standard vts-placeholder-highlight" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselIMOValid]" type="text" ng-model="vtsvesselimoinput" ng-change="VTSVesselIMOValidation(true)"  onfocus="this.value = this.value;"  placeholder="{{placeholderAisVesselImo}}">
            </div>
        </div>
        <div>
            <div class="vts-force-spacing-350 vts-pad-top">
                <span class="vts-force-spacing-300">Port of destination:</span>
                <input class="vts-input-large vts-placeholder-highlight" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselPortOfDestinationValid]" type="text" ng-model="vtsvesselportofdestinationinput" ng-change="VTSVesselPortOfDestinationValidation(true)"  placeholder="{{placeholderAisPortOfDestination}}">
            </div>
        </div>

        <div class="vts-pad-top">
            <div class="vts-force-spacing-200 ">
                <span class="vts-force-spacing-200">Number of people on board</span>
                <input class="vts-input-medium vts-text-center" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselPersonsValid]"  ng-model="vtsvesselpersonsinput" ng-change="VTSVesselPersonsValidation(true)">
            </div>
            <div class="vts-force-spacing-200 " ng-show="showMaxDraught">
                <span class="vts-force-spacing-200">Draught (<span ng-class="{'vtsvalid-alert': maxDraughtExceedsLimit}">max. {{VTSSelectedTrafficCenterDraughtMax}}m</span>)
                    <span class="vts-force-spacing-20" ng-show="maxDraughtExceedsLimit">
                    &nbsp;<abbr style="top:3px"  data-title="Max. draught has been exceeded. You may still send this report, please contact {{VTSSelectedTrafficCenterShortname}} as soon as possible. " class="glyphicon glyphicon-question-sign vts-warning-abbr"></abbr>
                    </span>
                </span>

                </span>
                <!--<span class="vts-force-spacing-200">Present max. draught (m)</span>-->
                <!--<input class="vts-input-small vts-text-center vts-placeholder-highlight" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselDraughtValid]"  ng-model="vtsvesseldraughtinput" ng-change="VTSVesselDraughtValidation(true)" placeholder="{{placeholderAisVesselDraught}}">-->
                <input class="vts-input-small vts-text-center vts-placeholder-highlight"
                       ng-class="{'vtsvalid': (setvtsvesselDraughtValid && maxDraughtExceedsLimit == false) == true,
                    'vtsinvalid': setvtsvesselDraughtValid == false,
                    'vtsvalid-alert': (setvtsvesselDraughtValid && maxDraughtExceedsLimit == true) == true}"
                       ng-model="vtsvesseldraughtinput"
                       ng-change="VTSVesselDraughtValidation(true)"
                       placeholder="{{placeholderAisVesselDraught}}"
                >
                <div class="vts-force-spacing-20">
                    &nbsp;<abbr data-title="Draught is the maximum depth of a vessel below waterline." class="glyphicon glyphicon-question-sign vts-abbr"></abbr>
                </div>
            </div>

            <div class="vts-force-spacing-200 " ng-show="showAirDraught">
                <span class="vts-force-spacing-200">Air draught (<span ng-class="{'vtsvalid-alert': maxAirdraughtExceedsLimit}">max. {{VTSSelectedTrafficCenterAirdraughtMax}}m</span>)
                    <span class="vts-force-spacing-20" ng-show="maxAirdraughtExceedsLimit">
                    &nbsp;<abbr style="top:3px"  data-title="Max. air draught has been exceeded. You may still send this report, please contact {{VTSSelectedTrafficCenterShortname}} as soon as possible. " class="glyphicon glyphicon-question-sign vts-warning-abbr"></abbr>
                    </span>
                </span>
                <input class="vts-input-small vts-text-center"
                    ng-class="{'vtsvalid': (setvtsvesselAirDraughtValid && maxAirdraughtExceedsLimit == false) == true,
                    'vtsinvalid': setvtsvesselAirDraughtValid == false,
                    'vtsvalid-alert': (setvtsvesselAirDraughtValid && maxAirdraughtExceedsLimit == true) == true}"
                    ng-model="vtsvesselairdraughtinput"
                    ng-change="VTSVesselAirDraughtValidation(true)"
                >
                <div  class="vts-force-spacing-20">
                    &nbsp;<abbr data-title="Air Draught is the maximum height of a vessel over waterline. Please contact the VTS center directly for more information." class="glyphicon glyphicon-question-sign vts-abbr"></abbr>
                </div>
            </div>


            <div  class="vts-force-spacing-300">
                <textarea class="vts-textarea-standard vts-force-spacing-250" ng-model="vtsvesseldefectsinput" placeholder="Defects, deficiencies or limitations?"></textarea>
                <div  class="vts-force-spacing-20">
                    &nbsp;<abbr data-title="Any information related to lowered safety level of a vessel or its ability to maneuver should be reported as soon as possible." class="glyphicon glyphicon-question-sign vts-abbr"></abbr>
                </div>
            </div>
        </div>
        <div class="vts-pad-top">
            <div class="vts-force-spacing-200 " ng-show="showVesselType">
                <span class="vts-force-spacing-200">Vessel Type:</span>
                <select class="form-control vts-force-spacing-150 vts-select" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsVesselTypeValid]"   name="vts-center-select" ng-options="items as items.type for items in vesselTypes" ng-model="selectedVesselType" ng-change="selectVesselTypeChange(selectedVesselType)" >
                    <option value="" selected disabled class="ng-binding ng-scope">Select a type:</option>
                </select>
            </div>
            <div class="vts-force-spacing-200 " ng-show="showVesselLength">
                <span class="vts-force-spacing-200">Vessel length (m):</span>
                <input class="vts-input-small vts-text-center vts-placeholder-highlight" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsVesselLengthValid]"  ng-model="vtsvessellengthinput" ng-change="VTSVesselLengthValidation(true)" placeholder="{{placeholderAisVesselLength}}">
            </div>
            <div class="vts-force-spacing-200 " ng-show="showDeadWeightTonnage">
                <span class="vts-force-spacing-200">Deadweight Tonnage (DWT):</span>
                <input class="vts-input-medium vts-text-center vts-placeholder-highlight" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselDeadWeightValid]"  ng-model="vtsvesseldeadweightinput" ng-change="VTSVesselDWTValidation(true)">
            </div>
            <div class="vts-force-spacing-200 " ng-show="showGrossTonnage">
                <span class="vts-force-spacing-200">Gross Tonnage (GT):</span>
                <input class="vts-input-medium vts-text-center"  ng-model="vtsvesselgrosstonnageinput" ng-change="VTSVesselGTValidation(true)">
            </div>
        </div>
        <div class="vts-pad-top" ng-show="showFuelQuantity">
            <div class="vts-force-spacing-200 " >
                <span class="vts-force-spacing-200">Total Fuel (MT)</span>
                <input class="vts-input-small vts-text-center" ng-model="vtsvesselfuelquantityinput" ng-change="VTSVesselFuelQuantityValidation(true)"><span class="vts-grey-text"> (if over 5000 MT fuel)</span>
            </div>
        </div>

        <!-- FUEL INFORMATION ------------------------------------------------------------------- -->
        <div class="vts-pad-top" ng-show="showFuelDetails">
            <hr class="vts-hr" >
            <span class="vts-force-spacing-200 bold">Fuel information:</span>
            <div class="vts-pad-top">Reporting all fuel carried on board is mandatory, please select a fuel type from the list, or "other" if you are in doubt:</div>
            <!--ng-repeat=”(key, value) in statuses”-->

            <div style="position: relative;min-height: 120px;">
                <div class="vts-force-spacing-222 vts-pad-top" >
                    <div class="vts-fuel-icon-container" ng-repeat="p in fuelTypes.slice(0,3)" ng-mouseover="fuelTypeMouseOver(p.description)" ng-click="fuelTypeMouseClick(p.shortname, p.description, p.iconImageUrl,p.sulphurPercentageMax)" ng-class="{false:'', true:'vts-box-selected-highlight'}[p.selected]">
                        <div class="vts-fuel-icon-label">{{p.shortname}}</div>
                        <div class="vts-fuel-icon" style="background-image: url({{p.iconImageUrl}})"></div>
                    </div>
                </div>
                <div class="vts-force-spacing-222 vts-pad-top">
                    <div class="vts-fuel-icon-container"  ng-repeat="p in fuelTypes.slice(3,6)" ng-mouseover="fuelTypeMouseOver(p.description)" ng-click="fuelTypeMouseClick(p.shortname, p.description, p.iconImageUrl,p.sulphurPercentageMax)" ng-class="{false:'', true:'vts-box-selected-highlight'}[p.selected]">
                        <div class="vts-fuel-icon-label">{{p.shortname}}</div>
                        <div class="vts-fuel-icon" style="background-image: url({{p.iconImageUrl}})"></div>
                    </div>
                </div>
                <div class="vts-force-spacing-222 vts-pad-top">
                    <div class="vts-fuel-icon-container"  ng-repeat="p in fuelTypes.slice(6,9)" ng-mouseover="fuelTypeMouseOver(p.description)" ng-click="fuelTypeMouseClick(p.shortname, p.description, p.iconImageUrl,p.sulphurPercentageMax)" ng-class="{false:'', true:'vts-box-selected-highlight'}[p.selected]">
                        <div class="vts-fuel-icon-label">{{p.shortname}}</div>
                        <div class="vts-fuel-icon" style="background-image: url({{p.iconImageUrl}})"></div>
                    </div>
                </div>

                <div class="vts-fuel-specification-container" ng-show="showFuelSpecification">
                    <div class="vts-fuel-specification-control" style="">
                        <div style="position:relative;width:100%;height:40px;">
                            <button class="btn btn-danger vts-less-padding" style="position:relative;top:0%;float:right;margin:5px;"  type="button" ng-click="fuelCancelFunction()">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                        <div style="position:absolute;bottom:0;height:35px;width:100%">
                            <button class="btn btn-success vts-less-padding" style="position:relative;float:right;margin:5px;" type="button" ng-click="fuelAddToManifestFunction()">
                                <i class="glyphicon glyphicon-plus"></i>
                                Add
                            </button>
                        </div>
                    </div>
                    <div class="vts-fuel-specification">
                        <div style="max-width:330px;">
                            Please enter fuel quantity in
                            <button class="btn btn-secondary vts-less-padding vts-fuel-unitchange-button" type="button" ng-click="VTSFuelUnitInputChange()">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                {{fuelQuantitySelectedUnitText}}.
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>

                        <hr class="vts-hr-seperator" style="margin-left:0px;top:0px;padding:0px;color:#c2c2c2;">

                        <div class="vts-pad-top vts-fuel-inputs">
                            <div class="" style="position:relative;width:75%;height:100%;float:left;">
                                <img src="{{vtsFuelSelectedTypeImageUrl}}" style="width:24px;height:24px;"> {{fuelTypeSelectedText}}
                            </div>
                            <div class="" style="position: relative;width:25%;height:100%;float:right;">
                                <input class="vts-input-small vts-text-center vts-input-fuel-modheight"  ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsFuelQuantityInputValid]"  ng-change="fuelTypeQuantityInputValidate()" ng-model="fuelTypeQuantityInput"> {{fuelQuantitySelectedUnit}}.&nbsp;
                            </div>
                        </div>
                        <div class="vts-pad-top vts-fuel-inputs" ng-hide="displayFuelSulphurPercentageInput">
                            <div class="" style="position:relative;width:75%;height:100%;float:left;">
                                Percentage of Sulphur in fuel:
                            </div>
                            <div class="" style="position: relative;width:25%;height:100%;float:right;">
                                <input class="vts-input-small vts-text-center vts-input-fuel-modheight"  ng-model="fuelSulphurPercentageInput"> &percnt;
                            </div>
                        </div>
                        <div class=" vts-fuel-inputs" style="padding-top:4px;min-height:24px;">
                            <input class="vts-input-fuel-large vts-input-fuel-modheight"  ng-model="fuelNoteInput" placeholder=" Notes and other specifications">
                        </div>
                    </div>

                </div>
            </div>
            <!--<div ng-show="showFuelDetails" class="" name="vts-fueltype-image-select" ng-options="q.Shortname as q.Shortname for q in (FuelTypes | filter:isListItemNull)" ng-model="FuelTypes.Shortname" ng-change="">-->
                <!--{{q.Shortname}}-->
            <!--</div>-->


            <div class="vts-fuel-description-box vts-grey-text">
                {{vtsFuelSelectedTypeDescriptionText}}
            </div>
            <div class="vts-fuel-manifest-list">
                {{vtsFuelSelectedTypeDescriptionText}}
            </div>
            <hr class="vts-hr" >
        </div>

        <!--<div class="vts-pad-top" ng-show="showFuelDetails">-->
            <!--<hr class="vts-hr" >-->
            <!--<div><span class="bold" >Fuel information </span><span class="vts-grey-text"> - current fuel quantity on board, in metric tonnes: {{vtsTotalFuel}}</span></div>-->

            <!--<span class="vts-force-spacing-350" style="position:relative;top:5px;">-->
                <!--<span class="bold">{{fuelTypes[0].name}}</span><span> - {{fuelTypes[0].description}}:</span>-->
            <!--</span>-->
            <!--<div class="">-->
                <!--<span class="vts-force-spacing-200 vts-pad-top">-->
                    <!--<input id="fueltype00_0" class="vts-input-medium vts-text-center" ng-model="vtsvesselfueltype00_0input" ng-change="VTSFuelTypeValidation('00_0')">-->
                    <!--<span class="vts-force-spacing-100">-->
                        <!--Regular-->
                    <!--</span>-->
                <!--</span>-->
                <!--<span class="vts-force-spacing-200 vts-pad-top">-->
                    <!--<input id="fueltype00_1" class="vts-input-medium vts-text-center" ng-model="vtsvesselfueltype00_1input" ng-change="VTSFuelTypeValidation('00_1')">-->
                    <!--<span class="vts-force-spacing-100">-->
                        <!--Low Sulpur-->
                    <!--</span>-->
                <!--</span>-->
                <!--<span class="vts-force-spacing-300 vts-pad-top">-->
                    <!--<input id="fueltype00_2" class="vts-input-medium vts-text-center" ng-model="vtsvesselfueltype00_2input" ng-change="VTSFuelTypeValidation('00_2')">-->
                    <!--<span class="vts-force-spacing-150">-->
                        <!--Ultra Low Sulpur-->
                    <!--</span>-->
                <!--</span>-->
            <!--</div>-->

            <!--<hr class="vts-hr-seperator" >-->

            <!--<span class="vts-force-spacing-350" style="position:relative;top:5px;">-->
                <!--<span class="bold">{{fuelTypes[1].name}}</span><span> - {{fuelTypes[1].description}}:</span>-->
            <!--</span>-->
            <!--<div class="">-->
                <!--<span class="vts-force-spacing-200 vts-pad-top">-->
                    <!--<input id="fueltype01_0" class="vts-input-medium vts-text-center" ng-model="vtsvesselfueltype01_0input" ng-change="VTSFuelTypeValidation('01_0')">-->
                    <!--<span class="vts-force-spacing-100">-->
                        <!--Regular-->
                    <!--</span>-->
                <!--</span>-->
                <!--<span class="vts-force-spacing-200 vts-pad-top">-->
                    <!--<input id="fueltype01_1" class="vts-input-medium vts-text-center" ng-model="vtsvesselfueltype01_1input" ng-change="VTSFuelTypeValidation('01_1')">-->
                    <!--<span class="vts-force-spacing-100">-->
                        <!--Low Sulpur-->
                    <!--</span>-->
                <!--</span>-->
                <!--<span class="vts-force-spacing-300 vts-pad-top">-->
                    <!--<input id="fueltype01_2" class="vts-input-medium vts-text-center" ng-model="vtsvesselfueltype01_2input" ng-change="VTSFuelTypeValidation('01_2')">-->
                    <!--<span class="vts-force-spacing-150">-->
                        <!--Ultra Low Sulpur-->
                    <!--</span>-->
                <!--</span>-->
            <!--</div>-->

            <!--<hr class="vts-hr-seperator" >-->

            <!--<span class="vts-force-spacing-350" style="position:relative;top:5px;">-->
                <!--<span class="bold">{{fuelTypes[2].name}}</span><span> - {{fuelTypes[2].description}}:</span>-->
            <!--</span>-->
            <!--<div class="">-->
                <!--<span class="vts-force-spacing-200 vts-pad-top">-->
                    <!--<input id="fueltype02_0" class="vts-input-medium vts-text-center" ng-model="vtsvesselfueltype02_0input" ng-change="VTSFuelTypeValidation('02_0')">-->
                    <!--<span class="vts-force-spacing-100">-->
                        <!--Regular-->
                    <!--</span>-->
                <!--</span>-->
                <!--<span class="vts-force-spacing-200 vts-pad-top">-->
                    <!--<input id="fueltype02_1" class="vts-input-medium vts-text-center" ng-model="vtsvesselfueltype02_1input" ng-change="VTSFuelTypeValidation('02_1')">-->
                    <!--<span class="vts-force-spacing-100">-->
                        <!--Low Sulpur-->
                    <!--</span>-->
                <!--</span>-->
                <!--<span class="vts-force-spacing-300 vts-pad-top">-->
                    <!--<input id="fueltype02_2" class="vts-input-medium vts-text-center" ng-model="vtsvesselfueltype02_2input" ng-change="VTSFuelTypeValidation('02_2')">-->
                    <!--<span class="vts-force-spacing-150">-->
                        <!--Ultra Low Sulpur-->
                    <!--</span>-->
                <!--</span>-->
            <!--</div>-->

            <!--<hr class="vts-hr-seperator" >-->

            <!--<span class="vts-force-spacing-350" style="position:relative;top:5px;">-->
                <!--<span class="bold">{{fuelTypes[3].name}}</span><span> - {{fuelTypes[3].description}}:</span>-->
            <!--</span>-->
            <!--<div class="">-->
                <!--<span class="vts-force-spacing-200 vts-pad-top">-->
                    <!--<input id="fueltype03_0" class="vts-input-medium vts-text-center" ng-model="vtsvesselfueltype03_0input" ng-change="VTSFuelTypeValidation('03_0')">-->
                    <!--<span class="vts-force-spacing-100">-->
                        <!--Regular-->
                    <!--</span>-->
                <!--</span>-->
                <!--<span class="vts-force-spacing-200 vts-pad-top">-->
                    <!--<input id="fueltype03_1" class="vts-input-medium vts-text-center" ng-model="vtsvesselfueltype03_1input" ng-change="VTSFuelTypeValidation('03_1')">-->
                    <!--<span class="vts-force-spacing-100">-->
                        <!--Low Sulpur-->
                    <!--</span>-->
                <!--</span>-->
                <!--<span class="vts-force-spacing-300 vts-pad-top">-->
                    <!--<input id="fueltype03_2" class="vts-input-medium vts-text-center" ng-model="vtsvesselfueltype03_2input" ng-change="VTSFuelTypeValidation('03_2')">-->
                    <!--<span class="vts-force-spacing-150">-->
                        <!--Ultra Low Sulpur-->
                    <!--</span>-->
                <!--</span>-->
            <!--</div>-->

            <!--<hr class="vts-hr-seperator" >-->

            <!--<span class="vts-force-spacing-200" style="position:relative;top:5px;">-->
                <!--<span class="bold">{{fuelTypes[4].name}}</span><span> - {{fuelTypes[4].description}}:</span>-->
            <!--</span>-->
                <!--<span class="vts-force-spacing-200 vts-pad-top">-->
                    <!--<input id="fueltype04_0" class="vts-input-medium vts-text-center" ng-model="vtsvesselfueltype04_0input" ng-change="VTSFuelTypeValidation('04_0')">-->
                <!--</span>-->

            <!--<hr class="vts-hr-seperator" >-->

            <!--<span class="vts-force-spacing-200" style="position:relative;top:5px;">-->
                <!--<span class="bold">{{fuelTypes[5].name}}</span><span> - {{fuelTypes[5].description}}:</span>-->
            <!--</span>-->
                <!--<span class="vts-force-spacing-200 vts-pad-top">-->
                    <!--<input id="fueltype05_0" class="vts-input-medium vts-text-center" ng-model="vtsvesselfueltype05_0input" ng-change="VTSFuelTypeValidation('05_0')">-->
                <!--</span>-->

            <!--<hr class="vts-hr-seperator" >-->



        <!--</div>-->


        <div class="vts-pad-top" >

            <hr class="vts-hr" > <!-- CARGO INFORMATION ------------------------------------------------------------------- -->
            <div ><span class="bold" >Cargo information </span><span class="vts-grey-text" > - detailed cargo description</span></div>

            <div class=" vts-pad-top" >
                <span class="vts-force-spacing-300">
                    <select class="form-control vts-force-spacing-200 vts-select" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsCargoTypeValid]"   name="vts-center-select" ng-options="items for items in cargoTypes" ng-model="selectedCargoType" ng-change="selectVesselCargoChange(selectedCargoType)" >
                        <option value="" selected disabled class="ng-binding ng-scope ">Select a cargo type:</option>
                    </select>
                </span>
                <span class="vts-force-spacing-300" ng-show="showCargoTypesCheckbox">
                    <input type="checkbox" ng-disabled="vtsDangCargoCheckDisabled" class="vts-checkbox" ng-checked="vtsDangCargoCheckBoxState" ng-change="VTSDangerousCargoCheckbox(vtsDangCargoCheckBoxState)" ng-model="vtsDangCargoCheckBoxState"><span class="vts-checkbox-label">Dangerous cargo on board</span>
                </span>
            </div>

            <div  ng-show="showCargoTypeFields">
                <!-- Cargo class icon selector -->
                <div class="vts-pad-top " >
                    <div class="" >
                        <div class="vts-pad-top">Please select an IMO dangerous goods classification:</div>
                        <div>
                            <div class="vts-force-spacing-350 vts-pad-top">
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType1]" ng-click="VTSDangerousCargoTypeSelection('1')">
                                    <div class="vts-center bold">Class 1</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.1.animated.gif">
                                    </div>
                                </div>
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType21]" ng-click="VTSDangerousCargoTypeSelection('2.1')">
                                    <div class="vts-text-center bold">Class 2.1</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.2.1.gif">
                                    </div>
                                </div>
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType22]" ng-click="VTSDangerousCargoTypeSelection('2.2')">
                                    <div class="vts-text-center bold">Class 2.2</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.2.2.animated.gif">
                                    </div>
                                </div>
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType23]" ng-click="VTSDangerousCargoTypeSelection('2.3')">
                                    <div class="vts-text-center bold">Class 2.3</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.2.3.gif">
                                    </div>
                                </div>
                            </div>
                            <div class="vts-force-spacing-350 vts-pad-top">
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType3]" ng-click="VTSDangerousCargoTypeSelection('3')">
                                    <div class="vts-text-center bold">Class 3</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.3.gif">
                                    </div>
                                </div>
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType41]" ng-click="VTSDangerousCargoTypeSelection('4.1')">
                                    <div class="vts-text-center bold">Class 4.1</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.4.1.gif">
                                    </div>
                                </div>
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType42]" ng-click="VTSDangerousCargoTypeSelection('4.2')">
                                    <div class="vts-text-center bold">Class 4.2</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.4.2.gif">
                                    </div>
                                </div>
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType43]" ng-click="VTSDangerousCargoTypeSelection('4.3')">
                                    <div class="vts-text-center bold">Class 4.3</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.4.3.gif">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="vts-force-spacing-350 vts-pad-top">
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType51]" ng-click="VTSDangerousCargoTypeSelection('5.1')">
                                    <div class="vts-text-center bold">Class 5.1</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.5.1.gif">
                                    </div>
                                </div>
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType52]" ng-click="VTSDangerousCargoTypeSelection('5.2')">
                                    <div class="vts-text-center bold">Class 5.2</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.5.2.gif">
                                    </div>
                                </div>
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType61]" ng-click="VTSDangerousCargoTypeSelection('6.1')">
                                    <div class="vts-text-center bold">Class 6.1</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.6.1.gif">
                                    </div>
                                </div>
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType62]" ng-click="VTSDangerousCargoTypeSelection('6.2')">
                                    <div class="vts-text-center bold">Class 6.2</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.6.2.gif">
                                    </div>
                                </div>
                            </div>
                            <div class="vts-force-spacing-350 vts-pad-top">
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType7]" ng-click="VTSDangerousCargoTypeSelection('7')">
                                    <div class="vts-text-center bold">Class 7</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.7.gif">
                                    </div>
                                </div>
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType8]" ng-click="VTSDangerousCargoTypeSelection('8')">
                                    <div class="vts-text-center bold">Class 8</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.8.gif">
                                    </div>
                                </div>
                                <div class="vts-force-spacing-80 vts-text-center vts-cargotype-hover-highlight vts-cargotype-border" ng-class="{false:'', true:'vts-box-selected-highlight'}[dgSelectedType9]" ng-click="VTSDangerousCargoTypeSelection('9')">
                                    <div class="vts-text-center bold">Class 9</div>
                                    <div>
                                        <img style="width:100%" src="img/cargo_labels/dg.9.animated.gif">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="vts-pad-top">
                            <span class="vts-grey-text">{{vtsSelectedDangerousCargoDescription}}&nbsp;</span>
                        </div>
                        <div >
                            <div class="vts-force-spacing-350 vts-pad-top">
                                <!--<input class="vts-input-standard vts-cargo-input-forced-disabled"  ng-model="vtsdangerouscargoselectedinput" ng-disabled="true">-->
                                <span class="vts-force-spacing-100 bold" >IMO class {{vtsdangerouscargoselectedinput}}</span>
                                <input class="vts-input-medium vts-cargo-tonnage-input-selector" ng-disabled="cargoAddToManifestDisabled" id="vts-cargo-tonnage-input" ng-keyup="cargoInputKeyUp($event)" ng-class="{'invalid':'vtsinvalid', 'valid':'vtsvalid', 'neutral':''}[setvtsCargoTonnageValidState]" ng-change="validateDangerousCargoTonnage()" ng-model="vtsdangerouscargotonnageinput">
                                <span class="vts-force-spacing-100">Metric tonnes</span>
                            </div>
                            <div class="vts-force-spacing-350 vts-pad-top">
                                <input class="vts-input-large" id="vts-selected-cargo-input" ng-disabled="cargoAddToManifestDisabled" ng-model="vtsdangerouscargonoteinput" placeholder="Additional cargo information">
                                <button class="btn btn-default vts-less-padding" ng-disabled="cargoAddToManifestDisabled"  ng-class="{false:'', true:'vts-button-green'}[!cargoAddToManifestDisabled]" type="button" ng-click="cargoAddToManifestFunction()"><i class="glyphicon glyphicon-plus"></i>
                                    Add to manifest
                                </button>
                            </div>
                        </div>
                        <hr class="vts-hr-seperator" >
                        <div class="vts-cargolist-border" compile="cargoManifestList"></div> <!-- CARGO LIST ENTERED HERE -->
                        <hr class="vts-hr-seperator" >
                    </div>
                </div>
            </div>


        <div  ng-show="showCargoTypeFields">

            <!-- Dangerous cargo classes on board and total tonnage -->
            <div class="vts-pad-top " >
                <div class="" >
                    <div class=" vts-pad-top">IMO classes of dangerous cargo on board: <strong>{{vtsdangerouscargotypeslabel}}</strong></div>
                    <div class=" vts-pad-top">Total tonnage of dangerous cargo on board: <strong>{{vtsdangerouscargotonnagelabel}}</strong></div>
                </div>
            </div>

        </div>

            <hr class="vts-hr-seperator" >

            <div >
                <div class="vts-force-spacing-350 vts-pad-top" ng-show="showCargoContactInformationInput">
                    <span>Designated Person Ashore (DPA) or cargo agent:</span>
                    <div class="vts-pad-top">
                        <span class="vts-force-spacing-100">Name:</span>
                        <input class="vts-input-large" ng-model="vtscargodesignatedpersonashorenameinput" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselDPANameValid]" ng-change="VTSDangerousCargoContactNameValidation(true)">
                    </div>
                    <div class="vts-pad-top">
                        <span class="vts-force-spacing-100">Telephone:</span>
                        <input class="vts-input-large" ng-model="vtscargodesignatedpersonashoretelephoneinput" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselDPAPhoneValid]" ng-change="VTSDangerousCargoContactPhonenumberValidation(true)">
                    </div>
                    <div class="vts-pad-top">
                        <span class="vts-force-spacing-100">Email:</span>
                        <input class="vts-input-large" ng-model="vtscargodesignatedpersonashoreemailinput" ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselDPAEmailValid]" ng-change="VTSDangerousCargoContactEmailValidation(true)">
                    </div>
                </div>
                <div class="vts-force-spacing-350 vts-pad-top" style="position: relative; top:7px;" ng-show="showCargoContactInformationInput">
                    <span class="vts-pad-top">Additional contact details for information of cargo:</span>
                    <textarea class="vts-textarea-large" ng-model="vtscargoadditionalcontactdetailsinput"  ng-class="{false:'vtsinvalid', true:'vtsvalid'}[setvtsvesselContactDetailsValid]" ng-change="VTSCargoContactInformationChange()"></textarea>
                </div>
                <br>
                <div class="vts-force-spacing-350 vts-pad-top" >
                    <span >Pollution or dangerous cargo lost overboard:</span>
                    <textarea class="vts-textarea-large" ng-model="vtsdangerouscargooverboard" placeholder="Please describe the pollutant and where it was lost. Any additional information may be of great value."></textarea>
                </div>
            </div>




            <!--<div class="vts-force-spacing-300 vts-pad-top">-->
                <!--<span class="vts-force-spacing-300">SafeSeaNet manifest reference:</span>-->
                <!--<input class="vts-input-standard" type="text" ng-model="vtsvesselcargossnidinput" ng-change="selectVesselSSNIDChange()" >-->
            <!--</div>-->


            <!--ng-show="showCargoTypeFields"-->
        </div>

        <hr class="vts-hr"> <!-- VOYAGE INFORMATION ------------------------------------------------------------------- -->

        <span class="bold">Voyage information</span><span class="vts-grey-text"> - data extracted from AIS or route (RTZ)</span>

            <div class="vts-pad-top" ng-show="showPortOfDestination || showPortOfDestinationEta">
                <div ng-show="showPortOfDestinationEta">
                    <span> ETA at destination port according to AIS:</span><span style="font-style: italic;"> {{vtsvesselportofdestinationetalabel}}</span>
                    <div >
                        <!-- ETA at destination port from AIS data -->
                    </div>
                </div>
            </div>

            <div class="vts-pad-top" style="padding-left:5px;">
                <div class="" ng-show="showCourseOverGround">
                    <span class="">ETA at VTS area:</span> <span class="vts-grey-text">{{vtsDisplayEtaDateTime}}</span>
                </div>
                <div class="" ng-show="showCourseOverGround">
                    <span class="">Expected COG entering VTS area:</span> <span class="vts-grey-text">{{vtsvesselcourseovergroundinput}} degrees</span>
                </div>
                <div class="" ng-show="showCourseOverGround">
                    <span class="">Expected VTS area entry point:</span> <span class="vts-grey-text">{{vtsEtaLonDegree}}&deg; {{vtsEtaLonDecMinutes}} - {{vtsEtaLatDegree}}&deg; {{vtsEtaLatDecMinutes}}</span>
                </div>
            </div>
        </div>

        <hr class="vts-hr"> <!-- END ------------------------------------------------------------------- -->

    </div>



    <!-- Exit prompt -->
    <div ng-show="!showReportInterface && VTSSelected" style="position:relative;top:0px;left:0px;height:100%;width:100%;max-height:500px;">
        <div style="position:relative;height:50%;top:25%;width:100%;">
            <div class="vts-text-xlarge vts-text-center">
                You are about to exit the VTS reporting interface
            </div>
            <div class="vts-text-normal vts-text-center">
                Your changes will be saved but not sent.
                <br>
            </div>
            <br>
            <div class="vts-text-normal vts-text-center">
                <button class="btn btn-danger" type="button" ng-click="exitInterface(true)"><i class="fa fa-ban" aria-hidden="true"></i>
                    Save and exit
                </button>
                <span class="vts-force-spacing-100"></span>
                <button class="btn btn-primary" type="button" ng-click="exitInterface(false)">
                    Cancel
                </button>
            </div>
        </div>
    </div>


<!--<div id="infodiv" style="position:fixed;width:140px;height:80px;background-color:#bb0000;" ng-style="{left:popupInfoPos.left,top:popupInfoPos.top}"></div>-->


</div>





<div class="modal-footer">
    <div class="col-md-12 text-center" ng-hide="!showReportInterface" >
        <button class="btn btn-primary" ng-disabled="!showReportInterface" ng-show="!isLoggedIn" type="button" ng-click="login()">
            Login
        </button>
        <button class="btn btn-success disabled" ng-show="VTSReadyToSend" type="button" ng-click="sendVTSForm()">
            <i class="fa fa-check" aria-hidden="true"></i> Send
        </button>
        <button class="btn btn-danger" type="button" ng-click="hideVTSForm()"><i class="fa fa-ban" aria-hidden="true"></i>
            <span ng-show="VTSSelected && showReportInterface">Save and </span>Exit
        </button>
    </div>
    <div class="col-md-12 text-center vts-grey-text vts-text-small"  ng-show="!showReportInterface">
        Please note that your changes are saved in your browser cache.
        <br>
        Browsing in incognito mode or clearing your cache will clear all your changes.
    </div>
</div>