<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>ArcticWeb - Greenland</display-name>

    <filter-mapping>
        <filter-name>SetCacheManifestContentTypeFilter</filter-name>
        <url-pattern>/map.cache-manifest</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SetCacheManifestContentTypeFilter</filter-name>
        <url-pattern>/index.cache-manifest</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SetCacheManifestContentTypeFilter</filter-name>
        <url-pattern>/content.cache-manifest</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
