<footer class="footer">
    <div class="container">
        <hr/>
        <div class="row top-border">
            <div class="col-xs-6 copyright">
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav navtabs">
                            <li><span class="navbar-text">&copy; 2013 - 2014</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 content">
                <div class="nav">
                    <div class="navbar-inner">
                        <ul class="nav navbar-nav navtabs pull-right">
                            <li><a href="content.html#disclaimer">Disclaimer</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="content.html#cookies">Cookies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</footer>
