<footer class="footer">
    <div class="container">
        <hr/>

        <div>
            <h3 class="logo-title">ArcticWeb is provided in a joint corporation between</h3>

            <div class="row logo">
                <div class="col-xs-3">
                    <img src="img/common/dmi-logo.png" height="50" alt="Danish Meteorological Institute"/>
                </div>
                <div class="col-xs-3">
                    <img src="img/common/dma-logo-h50.png" height="50"
                         alt="Søfartsstyrelsen / Danish Maritime Authority"/>
                </div>
                <div class="col-xs-3">
                    <img src="img/common/barentsWatch.png" height="50" alt="BarentsWatch"/>
                </div>
                <div class="col-xs-3 dmi">
                    <img src="img/common/danishGeodataAgency.png" height="50"
                         alt="Geodatastyrelsen / Danish Maritime Authority"/>
                </div>
            </div>
            <div class="row logo">
                <div class="col-xs-3">
                    <img src="img/common/logo-kystverket.png" height="50"
                         alt="Kystverket / The Norwegian Coastal Administration"/>
                </div>
                <div class="col-xs-3">
                    <img src="img/common/governmentOfGreenland-blue.png" height="50"
                         alt="Naalakkersuisut / Government of Greenland"/>
                </div>
                <div class="col-xs-3">
                    <img src="img/common/FCOO_logo.png" height="50"
                         alt="Forsvarets Center for Operativ Oceanografi / Defence Centre for Operational Oceanography (FCOO)"/>
                </div>
                <div class="col-xs-3">
                    <img src="img/common/nmr2.jpeg" height="50" alt="The Nordic Council of Ministers"/>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row top-border">
            <div class="col-xs-6 copyright">
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav navtabs">
                            <li><span class="navbar-text">&copy; 2013 - 2014</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 content">
                <div class="nav">
                    <div class="navbar-inner">
                        <ul class="nav navbar-nav navtabs pull-right">
                            <li><a href="content.html#disclaimer">Disclaimer</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="content.html#cookies">Cookies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</footer>
