<div class="container">
    <hr/>
    <div>
        <div class="logo mini-logos">
            <a href="http://www.dmi.dk" target="_blank">
                <img src="img/common/dmi-logo.png" alt="Danish Meteorological Institute"/></a>
            <a href="http://www.soefartsstyrelsen.dk/" target="_blank">
                <img src="img/common/dma-logo-h50.png" alt="Søfartsstyrelsen / Danish Maritime Authority"/></a>
            <a href="https://www.barentswatch.no/" target="_blank">
                <img src="img/common/barentsWatch.png" alt="BarentsWatch"/></a>
            <a href="http://gst.dk/" target="_blank"><img src="img/common/danishGeodataAgency.png"/></a>
            <a href="http://www.kystverket.no/" target="_blank">
                <img src="img/common/logo-kystverket.png" alt="Kystverket / The Norwegian Coastal Administration"/></a>
            <a href="http://naalakkersuisut.gl/" target="_blank">
                <img src="img/common/governmentOfGreenland-blue.png"
                     alt="Naalakkersuisut / Government of Greenland"/></a>
            <a href="https://fcoo.dk/" target="_blank">
                <img src="img/common/FCOO_logo.png"
                     alt="Forsvarets Center for Operativ Oceanografi / Defence Centre for Operational Oceanography (FCOO)"/></a>
            <a href="http://www.norden.org/da/nordisk-ministerraad" target="_blank">
                <img src="img/common/nmr.jpeg" alt="The Nordic Council of Ministers"/></a>
        </div>
    </div>
</div>
