<div id="disclaimer" class="row indexcontent">
    <div class="col-xs-12">

        <h1>Content Disclaimer</h1>

        <p>This disclaimer applies to all information on ArcticWeb. By accessing ArcticWeb and its sub-sites, you accept
            the disclaimer.</p>

        <p>The content on ArcticWeb is provided for information purposes in order to enhance public access to details
            that
            may support safe navigation in the Arctic. Every reasonable effort is made to present current and accurate
            information on ArcticWeb. Any errors will be regularly addressed. Information on ArcticWeb is subject to
            change
            without prior notice.</p>

        <p>ArcticWeb contain information that is created, compiled and maintained by a variety of sources both internal
            and external to the DMA. The DMA does not control, monitor or guarantee the information stemming from
            external
            sources.</p>

        <p>The information provided on ArcticWeb does not constitute a legal contract between the DMA and any person or
            entity.</p>

        <p>The DMA disclaims any liability for damages directly or indirectly related to the information provided on
            ArcticWeb, and stresses that the information provided does not in any way substitute safe and well-planned
            navigation
            by ships in the Arctic or alleviate the crew from its obligations in accordance with relevant rules,
            regulations and
            guidelines.</p>
    </div>
</div>