body{
	margin: 0;
	padding: 0;
}

.tight{
	margin: 0px;
	padding: 0px;
}

hr.tight{
	margin: 0px;
	margin-bottom: 2px;
	margin-top: 2px;
	padding: 0px;
}

#container
{
	width: 100%;
	height: 100%;
	position: relative;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#map 
{
	background-color:#d0e4fe;
	width: 100%;
	height: 100%;
	position: relative;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

#statusPanel
{
	width: 220px;
	padding: 4px;
	vertical-align:middle;
	float:right;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

#feedPanel
{
	width: 220px;
	padding: 4px;
	vertical-align:middle;
	float:right;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

#abnormalPanel
{
	width: 80%;
	height: 80%;
	padding: 4px;
	vertical-align:middle;
	position: absolute;
	top:60;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 20000;
 	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

#abnormalHeader 
{
	text-align:center;
}

#lightBoxEffect
{
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	visibility: hidden;
}

#loadingPanel
{
	width: 150px;
	padding: 4px;
	visibility: hidden;
	vertical-align:middle;
	position: absolute;
	top: 8px;
	vertical-align: middle;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

#leftSide
{
	width: 230px;
	padding: 0px;
	vertical-align:middle;
	position: absolute;
	top: 8px;
	left: 8px;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

#rightSide
{
	width: 350px;
	padding: 0px;
	vertical-align:middle;
	position: absolute;
	top: 8px;
	right: 8px;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

#vdHeader
{
	color: rgba(35, 35, 35, 1);
}

#feedContent
{
	visibility:hidden;
	position: absolute;
	height: 700px;
	overflow-y: scroll;
	top:0px;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#feedContainer
{
    overflow-y: scroll;
    max-height: 500px;
}

.newEvent
{
	background: rgb(207,231,250); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(207,231,250,1) 0%, rgba(99,147,193,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,231,250,1)), color-stop(100%,rgba(99,147,193,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
    
}

.event
{
	background-color: #33ff33;
	padding: 4px;
	margin-bottom: 4px;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 

	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #000000;
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-style:solid;
	border-width:1px;
	border-color:#777777;
}

.event:hover
{
	background: rgb(208,236,244); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(208,236,244,1) 0%, rgba(178,217,234,1) 37%, rgba(121,192,216,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,236,244,1)), color-stop(37%,rgba(178,217,234,1)), color-stop(100%,rgba(121,192,216,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(208,236,244,1) 0%,rgba(178,217,234,1) 37%,rgba(121,192,216,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(208,236,244,1) 0%,rgba(178,217,234,1) 37%,rgba(121,192,216,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(208,236,244,1) 0%,rgba(178,217,234,1) 37%,rgba(121,192,216,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(208,236,244,1) 0%,rgba(178,217,234,1) 37%,rgba(121,192,216,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0ecf4', endColorstr='#79c0d8',GradientType=0 ); /* IE6-9 */
}

.oldEvent{

	background: rgb(242,245,246); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

}

#vesselDetails
{
	visibility:hidden;
	position: absolute;
	top:0px;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#filteringHeader
{
	color: rgba(35, 35, 35, 1);
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#filtering
{
	visibility:hidden;
	position: absolute;
	top:0px;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#legendsHeader
{
	color: rgba(35, 35, 35, 1);
}

#legends
{
	visibility:hidden;
	position: absolute;
	top:0px;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#search
{
	visibility:hidden;
	position: absolute;
	top:0px;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#vesselNameBox
{
	visibility:hidden;
	position: absolute;
	padding: 2px;
	top:0px;
}

.customizedControlZoom {
	position: absolute;
	left:300px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}
.customizedControlZoom a {
    text-decoration: none;
    display: block;
    width: 50px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #369;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.customizedControlZoom a:hover {
    background: #036;
}

.panel {
	padding: 4px;
	margin-bottom: 6px;
	visibility: hidden;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

.exit {
	float:right;
	cursor: pointer;
	background-image:url('../img/exit.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	top: 0px;
	position: relative;
	width: 12;
	height: 12;
}

.arrowDown {
	background-image:url('../img/arrowDown.png');
	background-repeat: no-repeat;
	background-position: 210px 6px;
}

.arrowUp {
	background-image:url('../img/arrowUp.png');
	background-repeat: no-repeat;
	background-position: 210px 6px;
}


.arrowDownWide {
	background-image:url('../img/arrowDown.png');
	background-repeat: no-repeat;

	background-position: 410px 6px;
}

.arrowUpWide {
	background-image:url('../img/arrowUp.png');
	background-repeat: no-repeat;
	background-position: 410px 6px;
}

.tool
{
	cursor: pointer;
	height: 29;
	width: 29;
	padding: 2px;
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	padding: 1px;
	width: 74px;
}

.cellRight {
	display: table-cell;
	padding: 1px;
}

.whiteOpacity {
	background-color: white;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #000000;
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	opacity: 1.00;
	border-style:solid;
	border-width:1px;
	border-color:#777777;
	-moz-box-shadow: 0px 0px 5px #555;
	-webkit-box-shadow: 0px 0px 5px #555;
	box-shadow: 0px 0px 5px #555;
}

.shadowsIE {
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777');
}

.smallText {
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #808080;
}

.panelHeader {
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}

.information{
	right: 0px;
	padding-bottom: 4px;
	font-size: 11px;
	color: #000000;
}

.panelText{
	right: 0px;
	font-size: 11px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #000000;
}

.legendsIMG{
	vertical-align:middle;
}

.filteringSelect{
	width: 175px;
}

#searchField{
	width: 175px;
}

#searchMatch{
	height: 12px;
}

#searchLoad{
	visibility: hidden;
}

#searchResultsContainer{
	overflow-y: scroll;
    max-height: 250px;
}

.filteringInput{
	width: 175px;
}

select{
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

option {
	padding: 3px 0px 3px 0px;
}

hr {
	border: 0;
	color: #9E9E9E;
	background-color: #9E9E9E;
	height: 1px;
	width: 100%;
	text-align: left;
}

.formContainer {
	padding: 0px;
	height: 140px;
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px auto 16px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #d5d5d5;
	border-top-color: rgba(0,0,0,0);
	border-left-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0);
	background-color: #eaeaea;	
}

#eventTable {
	margin: 8px;
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-top-color: rgba(0,0,0,0);
	border-left-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0);
	border-bottom-color: #aaaaaa;
	border-collapse: collapse;
	margin: 0px auto;
}

#eventTable th {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 14px;
	color: #222222;
	border-width: 1px;
	padding: 12px;
	border-style: inset;
	border-top-color: rgba(0,0,0,0);
	border-left-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0);
	border-bottom-color: #dddddd;
	text-align: left;
}
#eventTable td {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 14px;
	color: #222222;
	border-width: 1px;
	padding: 12px;
	border-style: inset;
	border-top-color: rgba(0,0,0,0);
	border-left-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0);
	border-bottom-color: #dddddd;
	text-align: left;
}

.formTop {
	margin-left: auto;
	margin-right: auto;

}

.formBottom {
	margin-left: auto;
	margin-right: auto;

}

.formBox {
	float: left;
	height: 115px;
	width: 165px;
	margin: 8px;
	margin-top: 0px;
	padding: 8px;
	/*border-style: solid;*/
	/*border-width: 1px;*/
	/*border-color: #dddddd;*/
	/*background-color: #eaeaea;	*/
}

#numberOfEvents {
	margin: 8px;
	font-size: 28px;
	text-align: center;
	font-weight:bold;
	background-color: #77dd77;
	padding: 8px;
	visibility: hidden;
}

#flash {
	margin: 8px;
	font-size: 28px;
	text-align: center;
	font-weight:bold;
	padding: 8px;
	visibility: hidden;
}
