#contentContainer {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -120px;
}

.navbar {
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
    min-height: 40px;
}

.navbar-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-header {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand {
    /*text-shadow: 0px 0px 2px #000;*/
    height: 40px;
    padding: 10px;
}

.navbar-nav ul.dropdown-menu li a {
    padding: 5px;
}

.navbar-nav ul.dropdown-menu li.divider {
    margin: 5px 0;
}

.navbar-nav li a {
    padding: 10px;
}

/* Faded out hr */
hr.soften {
    height: 1px;
    margin-right: 32px;
    margin-left: 0px;
    background-image: -webkit-linear-gradient(left, white, #BBB, white);
    background-image: -moz-linear-gradient(left, white, #BBB, white);
    background-image: -ms-linear-gradient(left, white, #BBB, white);
    background-image: -o-linear-gradient(left, white, #BBB, white);
    border: 0;
}

.menuDivider {
    height: 42px;
    width: 100%;
}

.menu-container {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar {
    font-size: 14px;
}

.embryo-form-controls {
    font-size: 11px;
}

.e-small-font {
    font-size: 11px;
}

.embryo-small-modal > .model-dialog {
    width: 700px;
}

footer li {
    line-height: 10px;
}

footer .copyright {
    text-align: left;
}

footer .navbar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

footer .navbar-inner {
    background-image: none;
    border: none;
    background-color: inherit;
    box-shadow: none;
}

#push, .footer {
    height: 120px;
}

.tt-suggestion:hover {
    background-color: #eee;
}

.input-sm, .input-group-addon, select.input-sm, button.btn-sm {
    height: 25px;
    padding: 3px 6px;
}

.nav, .pagination, .carousel, .panel-title, .e-panel-header a {
    cursor: pointer;
}

a.embryo-close-panel {
    cursor: pointer;
}

div.date.ng-invalid input, input.ng-invalid {
    border: 1px solid rgb(127, 0, 0);
    border: 1px solid rgba(255, 0, 0, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.mini-logos img {
    height: 33px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mini-logos .title {
    text-align: center;
}

.error-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #E53A36;
}