html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #5A5A5A;
	overflow: hidden;
	left: 0;
	top: 0;
	position: fixed;
}

@media only screen and (min-device-width: 768px) and (max-device-width:
	1024px) and (orientation:portrait) {
	body {
		-webkit-transform: rotate(90deg);
	}
}

#messagePanel {
	z-index: 1039;
	position: absolute;
	bottom: -8px; /* 20 */
	left: 10px; /* 20 */
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#map {
	background-color: #d0e4fe;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.vesselNameBox {
	margin-top: -24px;
}

#vesselPanel {
	display: none;
}

#vcpLegends .aw {
	color: #0080C0;
}

#hoveringBox {
	position: absolute;
}

.controlPanel {
	position: absolute;
	top: 50px; /* 55 */
	left: 10px;
	width: 300px;
	display: none;
}

.accordion-group {
	background-color: white;
}

#zoomControlPanel {
	position: absolute;
	top: 50px;
	right: 60px;
}

#searchLoad {
	display: none;
}

.reportingPanel {
	display: none;
	background-color: white;
	position: absolute;
	top: 50px;
	left: 315px;
	z-index: 1039;
}

.input-mini {
	width: 30px;
}

.input-small {
	width: 60px;
}

.input-medium {
	width: 90px;
}

.input-large {
	width: 150px;
}

.input-xlarge {
	width: 210px;
}

.input-xxlarge {
	width: 270px;
}

#searchField {
	width: 235px;
}

@media only screen and (min-device-width: 768px) and (max-device-width:
	1024px) {
	.controlPanel {
		width: 250px;
	}
	.reportingPanel {
		left: 265px;
		max-width: 710px;
	}
	.input-mini {
		width: 30px;
	}
	.input-small {
		width: 50px;
	}
	.input-medium {
		width: 70px;
	}
	.input-large {
		width: 100px;
	}
	.input-xlarge {
		width: 140px;
	}
	.input-xxlarge {
		width: 180px;
	}
	#searchField {
		width: 185px;
	}
}

.olTileImage {
	-webkit-backface-visibility: visible !important;
	-webkit-transform: none !important;
}