/** Route upload **/
.progress {
	margin-top: 7px;
}

/**Voyage Plan*/
input.lon {
	width: 70px;
}

input.tt-hint {
	width: 150px;
}

.leftForm {
	float: left;
	width: 430px;
}

.rightForm {
	float: left;
	width: 430px;
}

input.ng-dirty.ng-invalid {
	border-color: #e9322d;
}

span.msg-invalid {
	color: #e9322d;
}

.data-label {
	padding-top: 5px;
	float: left;
}

.menuDivider {
	height: 20px;
	width: 100%;
}



body{
/*	background-color:#D19A45;
	background-color:#FFE75E;*/
/*	background-color:#304863;
/*	background-color:#E6E6E6;*/
}
.controlPanel {
	width: 300px;
}
.ctrlContainer{
	width:300px!important;
}

.accordion-group{
	background-color:white;
}

.pagecontainer {
	margin-top: 0px;
	margin-bottom: 100px;
	min-width: 270px !important;
}

/*
h2, h3, th, .section, .control-label{
	color:white;
}*/

.contentBox{
	padding-left:20px;
	padding-right:20px;
/*	background-color:white;*/
}

#shipInformation {
	min-width: 580px;
	max-width: 720px;
}

.input-mini {
	width: 30px;
}

.input-small {
	width: 60px;
}

.input-medium {
	width: 90px;
}

.input-large {
	width: 150px;
}

.input-xlarge {
	width: 210px;
}

.input-xxlarge {
	width: 270px;
}