
#routeEdit {
	max-width:950px;
}

#routeEdit .input-heading{
	min-width:110px;
}

#routeEdit .table{
	margin-top:30px;
}

#routeEdit .extend-label .control-label{
	width:170px;
}

#routeEdit .extend-label .controls{
	margin-left:190px;
}


#routeupload .progress {
	margin-top: 7px;
}

#routeupload .scheduleEntry{
	font-size:1.1em;
}

#routeupload {
	min-width: 580px;
}

#routeupload .extra{
	margin-bottom: 8px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #routeEdit .input-heading{
        width: 70px;
    }

    #routeEdit .table{
        margin-top: 20px;
    }

    #routeupload .progress {
        margin-top: 5px;
    }

    #routeupload .scheduleEntry{
        font-size:1.1em;
    }

    #routeupload {
        min-width: 400px;
    }

    #routeupload .extra{
        margin-bottom: 6px;
    }
}
