<div x-ng-controller="embryo.UsersCtrl">
	<h1>ArcticWeb - Users</h1>
	
	<div class="row">
		<div class="col-md-12">
			<div x-ng-show="alertMessages" class="alert alert-danger">
				<span ng-repeat="msg in alertMessages">{{msg}}<br /></span>
			</div>
			<div x-ng-show="message" class="alert alert-info">{{message}}</div>
		</div>
	</div>
 			
	<div class="row">
        <div class="col-md-8">
			<form class="form-search">
				<div class="row">
					<div class="col-xs-12 col-md-6 ">
						<div class="input-group">
							<input type="text" class="form-control input-sm" x-ng-model="searchString" x-ng-change="search()"
								placeholder="Login / email / MMSI">
							<div class="input-group-btn">
								<button class="btn btn-default btn-sm" type="submit">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>

			<div class="scrollable">
				<table class="table">
					<thead>
						<tr>
							<th>Login</th>
							<th>Email</th>
							<th>Ship (MMSI)</th>
							<th>Role</th>
                            <th>AIS source filter</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="activeUsersTable">
						<tr x-ng-repeat="user in users">
							<td><a href=# x-ng-click="edit($event, user)">{{user.login}}</a></td>
							<td>{{user.email}}</td>
							<td>{{user.shipMmsi ? user.shipMmsi : "-"}}</td>
							<td>{{roleText(user.role)}}</td>
                            <td>{{user.aisFilterName ? user.aisFilterName : "default"}}</td>
							<td><a href="#" x-ng-click="del($event, user)">delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-1"></div>
        <div class="col-md-4">
			<button class="btn btn-default btn-sm " x-ng-click="create()">Create New User</button>

			<form name="userForm" x-ng-show="action">
				<h3>{{action}}</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group" x-ng-class="{'has-error':userForm.userLogin.$error.required}">
							<label class="control-label" for="userLogin">Login:</label>
                            <input type="text" id="userLogin" name="userLogin" class="form-control input-sm"
                                   x-ng-model="editUser.login" x-ng-disabled="action=='Edit'" required/>
							<span class="help-block" x-ng-show="userForm.userLogin.$error.required">Login required</span>
						</div>
						<div class="form-group" x-ng-class="{'has-error':userForm.userEmail.$error.required}">
							<label class="control-label" for="cLogin">Email:</label>
                            <input type="text" name="userEmail" class="form-control  input-sm"
                                   x-ng-model="editUser.email" required/>
							<span class="help-block" x-ng-show="userForm.userEmail.$error.required">Email required</span>
						</div>
						<div class="form-group" x-ng-class="{'has-error':userForm.userRole.$error.required}">
							<label class="control-label" for="cRole">Role:</label>
							<div>
								<select name="userRole" x-ng-model="editUser.role" required class="form-control input-sm">
									<option value="Sailor">Sailor</option>
									<option value="Shore">Shore</option>
									<option value="Reporting">Reporting Authority</option>
									<option value="Administration">Administration</option>
								</select> <span class="help-block" x-ng-show="userForm.userRole.$error.required">Role required</span>
							</div>
						</div>
						<div class="form-group" x-ng-class="{'has-error':userForm.userMmsi.$error.required}">
							<label class="control-label" for="cShipMmsi">Ship (MMSI - only for Sailors):</label>
							<div class="controls">
								<input	type="text" 
										name="userMmsi" 
										class="form-control input-sm" 
										x-ng-model="editUser.shipMmsi"
										x-ng-hide="editUser.role != 'Sailor'"
                                        x-ng-required="editUser.role == 'Sailor'"/>

                                <span class="help-block"
                                      x-ng-show="editUser.role == 'Sailor' && userForm.userMmsi.$error.required">MMSI must be provided for Sailors</span>
                                <input type="text" class="form-control input-sm" x-ng-hide="editUser.role == 'Sailor'"
                                       disabled='disabled'/>
							</div>
						</div>
						<div class="form-group" x-ng-show="action=='Create'" x-ng-class="{'has-error':action=='Create' && userForm.userPwd.$error.required}">
							<label class="control-label" for="cPassword">Password:</label>
							<div>
                                <input type="password" name="userPwd" class="form-control input-sm"
                                       x-ng-model="editUser.password" required/>
								<span class="help-block" x-ng-show="action=='Create' && userForm.userPwd.$error.required">Password required</span>
							</div>
						</div>
						<div class="form-group" x-ng-show="action=='Create'" x-ng-class="{'has-error': action=='Create' && userForm.userPwdAgain.$error.passwordMatch}">
							<label class="control-label" for="cPasswordAgain">Password repeated:</label>
							<div>
                                <input type="password" name="userPwdAgain" class="form-control input-sm"
                                       x-ng-model="passwordAgain" x-password-match="editUser.password"/>
								<span class="help-block" x-ng-show="action=='Create' && userForm.userPwdAgain.$error.passwordMatch">Passwords must match</span>
							</div>
						</div>
						<div class="form-group">
                            <label class="control-label" for="cAisSourceFilter">AIS source filter</label>
                            <select id="cAisSourceFilter" name="cAisSourceFilter"
                                    x-ng-options="filter for filter in sourceFilters"
                                    x-ng-model="editUser.aisFilterName" class="form-control input-sm"
                                    placeholder="default">
                                <option value="">default</option>
                            </select>
						</div>
						
						<div class="form-group" x-ng-class="{'has-error':userForm.userLogin.$error.required}">
							<div class="submitButton">
								<button	class="btn btn-primary btn-sm" 
										x-ng-click="submitCreate()" 
										x-ng-show="action=='Create'" 
										x-ng-disabled="userForm.$invalid">Save</button>
								<button	class="btn btn-primary btn-sm" 
										x-ng-click="submitEdit()" 
										x-ng-show="action=='Edit'"
										x-ng-disabled="userForm.userEmail.$error.required || userForm.userRole.$error.required || (editUser.role=='Sailor' && userForm.userMmsi.$error.required)">Save</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>

<script type="text/ng-template" id="confirmDialog.html">
		<div class="modal-header">
			<button type="button" class="close" x-ng-click="$dismiss('aborted')">x</button>
			<h2>{{title}}</h2>
		</div>
		<div class="modal-body">
			<form>
				<div class="row">
    				<div class="col-md-6 col-xs-12">
	    				<p x-ng-repeat="msg in messages">
		    				{{msg}}
			    		</p>
				    </div>
    				<div class="col-md-6 col-sx-12">
	    				<span class="pull-right">
		    				<button class="btn btn-primary btn-sm" x-ng-click="$close()">OK</button>
			    			<button class="btn btn-sm" x-ng-click="$dismiss('aborted')">Cancel</button>
				    	</span>
				    </div>
				</div>
			</form>
		</div>
	</script>