<div x-ng-controller="embryo.UsersCtrl">
	<h1>ArcticWeb - Users</h1>
	<div class="row-fluid">
		<div class="span6">
			<form class="form-search">
				<input type="text" class="input-medium search-query" x-ng-model="searchString" x-ng-change="search()"
					placeholder="Login / email / MMSI">
				<button class="btn pull-right" x-ng-click="create()">Create New User</button>
			</form>
		</div>
		<div class="span6"></div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div x-ng-show="alertMessages" class="alert alert-error">
				<span ng-repeat="msg in alertMessages">{{msg}}<br /></span>
			</div>
			<div x-ng-show="message" class="alert alert-info">{{message}}</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6 scrollable">
			<table class="table">
				<thead>
					<tr>
						<th>Login</th>
						<th>Email</th>
						<th>Ship (MMSI)</th>
						<th>Role</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="activeUsersTable">
					<tr x-ng-repeat="user in users">
						<td><a href=# x-ng-click="edit(user)">{{user.login}}</a></td>
						<td>{{user.email}}</td>
						<td>{{user.shipMmsi ? user.shipMmsi : "-"}}</td>
						<td>{{roleText(user.role)}}</td>
						<td><a href="#" x-ng-click="del(user)">delete</a></td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="span1"></div>
		<div class="span5" x-ng-show="action">
			<form name="userForm">
				<h3>{{action}}</h3>
				<div class="row-fluid">
					<div class="span12">
						<label class="control-label" for="userLogin">Login:</label>
						<div>
							<input type="text" id="userLogin" name="userLogin" class="input-medium" x-ng-model="editUser.login"
								x-ng-disabled="action=='Edit'" required> <span class="text-error"
								x-ng-show="userForm.userLogin.$error.required">Login required</span>
						</div>

						<label class="control-label" for="cLogin">Email:</label>
						<div>
							<input type="text" name="userEmail" class="input-medium" x-ng-model="editUser.email" required> <span
								class="text-error" x-ng-show="userForm.userEmail.$error.required">Email required</span>
						</div>

						<label class="control-label" for="cRole">Role:</label>
						<div>
							<select name="userRole" x-ng-model="editUser.role" required>
								<option value="Sailor">Sailor</option>
								<option value="Shore">Shore</option>
								<option value="Reporting">Reporting Authority</option>
								<option value="Administration">Administration</option>
							</select> <span class="text-error" x-ng-show="userForm.userRole.$error.required">Role required</span>
						</div>
						<label class="control-label" for="cShipMmsi">Ship (MMSI - only for Sailors):</label>
						<div class="controls">
							<input type="text" name="userMmsi" class="input-medium" x-ng-model="editUser.shipMmsi"
								x-ng-hide="editUser.role != 'Sailor'" x-ng-required="editUser.role == 'Sailor'"> <span
								class="text-error" x-ng-show="editUser.role == 'Sailor' && userForm.userMmsi.$error.required">MMSI must
								be provided for Sailors</span> <input type="text" class="input-medium" x-ng-hide="editUser.role == 'Sailor'"
								disabled='disabled'>
						</div>
						<div x-ng-show="action=='Create'">
							<label class="control-label" for="cPassword">Password:</label>
							<div>
								<input type="password" name="userPwd" class="input-small" x-ng-model="editUser.password" required> <span
									class="text-error" x-ng-show="action=='Create' && userForm.userPwd.$error.required">Password required</span>
							</div>

							<label class="control-label" for="cPasswordAgain">Password repeated:</label>
							<div>
								<input type="password" name="userPwdAgain" class="input-small" x-ng-model="passwordAgain"
									x-password-match="editUser.password"> <span class="text-error"
									x-ng-show="action=='Create' && userForm.userPwdAgain.$error.passwordMatch">Passwords must match</span>
							</div>
						</div>
						<div class="submitButton">
							<button class="btn btn-primary" x-ng-click="submitCreate()" x-ng-show="action=='Create'"
								x-ng-disabled="userForm.$invalid">Save</button>
							<button class="btn btn-primary" x-ng-click="submitEdit()" x-ng-show="action=='Edit'"
								x-ng-disabled="userForm.userEmail.$error.required || userForm.userRole.$error.required || (editUser.role=='Sailor' && userForm.userMmsi.$error.required)">Save</button>
						</div>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>

<script type="text/ng-template" id="confirmDialog.html">
		<div class="modal-header">
			<button type="button" class="close" x-ng-click="$dismiss('aborted')">x</button>
			<h2>{{title}}</h2>
		</div>
		<div class="modal-body">
			<form>
				<div>
					<p x-ng-repeat="msg in messages">
						{{msg}}
					</p>
				</div>
				<div>
					<span class="pull-right">
						<button class="btn btn-primary" x-ng-click="$close()">OK</button>
						<button class="btn" x-ng-click="$dismiss('aborted')">Cancel</button>
					</span>
				</div>
			</form>
		</div>
	</script>