<div class="modal-header">
    <h3 class="modal-title">Welcome to BalticWeb - <strong>ALPHA</strong> version</h3>
    <p class="lead">the site is not operational yet. You are welcome to try-it out in its current state.</p>
</div>
<div class="modal-body">

    <h2>What</h2>
    <span>BalticWeb is going to be a maritime map-centric portal. The site will aggregate relevant maritime data and information </span>
    <ul>
        <li>Weather Forecasts</li>
        <li>Sea Traffic <small>(requires login)</small></li>
        <li>Notices to mariners</li>
    </ul>

    <h2>Why</h2>
    <span>BalticWeb aims to serve the mariner in these three ways</span>
    <ul>
        <li>Assist in planing a sea voyage</li>
        <li>Navigational aid on a sea voyage</li>
        <li>Monitoring of maritime traffic</li>
    </ul>

    <h2>How</h2>
    <span>BalticWeb uses the MaritimeCloud in order to identify and retrieve  relevant web services and identify users</span>

    <h3>Cookies and Local storage</h3>
    <div>
    <span><small>BalticWeb stores the position and zoom level of the map on the client for a more smooth user experience. The data is stored in the browsers local storage. T
        Each visit is tracked via Google Analytics to gather usage metrics of the site in order to continuously improve the user experience. Cookies are used at login as well.</small></span>
    </div>

</div>

<div class="modal-footer">
    <div class="col-md-12 text-center">
        I hereby accept the use of cookies<br/>
        <button class="btn btn-success" type="button" ng-click="accept()">
            <i class="fa fa-check" aria-hidden="true"></i> Accept</button>
        <button class="btn btn-danger" type="button" ng-click="refuse()"><i class="fa fa-ban" aria-hidden="true"></i> Refuse</button>
    </div>

</div>