.indexcontent{
	margin-top:60px;
}

.indexcontent,.indexcontent td  {
	font-size: 14px;
	line-height: 20px;
}

#contentContainer{
	min-height:100%;
	height:auto!important;
	margin:0 auto -120px;
}

#push, .footer{
	height:120px;
}


h1{
	text-align:center;
}

#myCarousel{
	margin-top:65px;
}

/* Faded out hr */
hr.soften {
	height: 1px;
	margin-right: 32px;
	margin-left: 0px;
	background-image: -webkit-linear-gradient(left, white, #BBB, white);
	background-image: -moz-linear-gradient(left, white, #BBB, white);
	background-image: -ms-linear-gradient(left, white, #BBB, white);
	background-image: -o-linear-gradient(left, white, #BBB, white);
	border: 0;
}

/** Carousel **/
.carousel .container {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.carousel img {
	min-width: 100%;
	height: 320px;
}

.carousel-caption {
	background-color: rgba(255, 255, 255, 0.6);
	width: 65%;
	max-width: 550px;
	padding: 16px;
	margin: 20px;
	margin-left: 50px;
}

.carousel-caption .lead {
	color: #2A2A2A;
	font-size: 16px;
	line-height: 24px;
}

/** Hero **/
.hero-content {
	text-align: center;
}

.hero-content p {
	font-size: 16px;
}

/* Request login button */
.hero-content .btn {
	margin-top: 16px;
	font-size: 16px;
	font-weight: 200;
}

.menuDivider {
	height: 42px;
	width: 100%;
}

.navbar {
	font-size: 14px;
}

.pagecontainer {
	font-size: 16px;
	line-height: 24px;
}

h3 {
	margin-top: 40px;
	margin-bottom: 5px;
}

.pagecontainer li{
	line-height:inherit;
}

footer li{
	line-height: 10px;
}

footer img{
	margin-left: auto;
	margin-right: auto;
	display:block;
}

footer .dmi img{
	margin-top: 10px;
}

footer .copyright {
	text-align:left;
}

footer .navbar{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

footer .navbar-inner{
	background-image:none;
	border:none;
	background-color:inherit;
	box-shadow:none;
}


#disclaimer h1{
	margin-bottom:40px;
}