
#greenPosForm .row{
	margin-left: inherit;
}


#greenposList .table tr.basic td {
	padding-bottom: 0px;
	border-top: none;
}

#greenposList .table tr.extra td {
	padding-top: 0px;
	border-top: none;
}

#greenposList .table tr.extra-center td {
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: none;
}

#greenposList .table tbody {
	border-top: 2px solid #dddddd;
}

#greenposList .table {
	margin-top: 20px;
}

#greenPosForm .txt {
	padding-top:5px;
}

#greenposReportPanel{
	width:460px;
}
