#icpIceChartProviders table td:first-child{ 
	padding-left:0px;	
	padding-right:0px;	 
}

.icebergLegend tr td:first-child{
	width: 10px;
	background-color: #B5D0D0;
}

.inshoreNotAvailable{
    color: #A4A4A4;
}

#satelliteImageInformation {
    max-width: 600px;
}
