h1 {
	text-align: center;
}

#myCarousel {
	margin-top: 25px;
}

/** Carousel **/
#myCarousel .carousel-caption {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 5%;
}

/** Carousel **/
#myCarousel .carousel-indicators {
	display: none; position : absolute;
	right: 20px;
	bottom: 0;
	position: absolute;
}

#myCarousel img {
	min-width: 100%;
	height: 320px;
}

#myCarousel .icon-prev {
	font-size: 45px;
	left:30%;
}

#myCarousel .icon-next {
	font-size: 45px;
	right:30%;
}

.carousel-caption {
	background-color: rgba(255, 255, 255, 0.6);
	width: 65%;
	max-width: 650px;
	padding: 16px;
	margin: 20px;
	margin-left: 50px;
	text-shadow: none;
	color: black;
}

.carousel-caption h2 {
	margin-top: 5px;
}

.carousel-caption p {
	margin-bottom: 0; color : #2A2A2A;
	font-size: 16px;
	line-height: 24px;
	color: #2A2A2A;
}

/** Hero **/
.hero-content {
	text-align: center;
}

.hero-content p {
	font-size: 16px;
}

/* Request login button */
.hero-content .btn {
	margin-top: 16px;
	font-size: 16px;
	font-weight: 200;
}

.pagecontainer {
	font-size: 16px;
	line-height: 24px;
}

h3 {
	margin-top: 40px;
	margin-bottom: 5px;
}

.pagecontainer li {
	line-height: inherit;
}

.ie8warning {
	background-color: #ffffff;
}

.ie8warning .container {
	border: 1px solid #ffcc33;
	background-color: #ffff66;
	padding: 10px;
	margin: 20px auto;
	width: 80%;
}