h1{
	text-align:center;
}

#myCarousel{
	margin-top:25px;
}

/** Carousel **/
#myCarousel .container {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

#myCarousel img {
	min-width: 100%;
	height: 320px;
}

.carousel-caption {
	background-color: rgba(255, 255, 255, 0.6);
	width: 65%;
	max-width: 550px;
	padding: 16px;
	margin: 20px;
	margin-left: 50px;
	text-shadow: none;
	color: black;
}

.carousel-caption .lead {
	color: #2A2A2A;
	font-size: 16px;
	line-height: 24px;
}

/** Hero **/
.hero-content {
	text-align: center;
}

.hero-content p {
	font-size: 16px;
}

/* Request login button */
.hero-content .btn {
	margin-top: 16px;
	font-size: 16px;
	font-weight: 200;
}

.pagecontainer {
	font-size: 16px;
	line-height: 24px;
}

h3 {
	margin-top: 40px;
	margin-bottom: 5px;
}

.pagecontainer li{
	line-height:inherit;
}