html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #5A5A5A;
    overflow: hidden;
    left: 0;
    top: 0;
    position: fixed;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    body {
        -webkit-transform: rotate(90deg);
    }
}

#messagePanel {
    z-index: 1039;
    position: absolute;
    bottom: -8px; /* 20 */
    left: 10px; /* 20 */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#map {
    background-color: #d0e4fe;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.vesselNameBox {
    margin-top: -24px;
}

#vesselPanel {
    display: none;
}

#vcpLegends .aw {
    color: #0080C0;
}

#hoveringBox {
    position: absolute;
}

.controlPanel {
    position: absolute;
    top: 50px; /* 55 */
    left: 10px;
    width: 300px;
    display: none;
}

.controlPanel2 {
    position: absolute;
    top: 50px; /* 55 */
    left: 10px;
    width: 300px;
}

.accordion-group {
    background-color: white;
}

#zoomControlPanel {
    position: absolute;
    width: 160px;
    top: 50px;
    right: 30px;
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#searchLoad {
    display: none;
}

#scheduleViewPanel {
    padding: 0 15px;
}

#icpIceMaps h5 {
    font-size: 12px;
}

.e-btn-tall {
    height: 32px;
    font-size: 10px;
}

.e-btn-low {
    height: 19px;
    font-size: 10px;
}

.e-btn-wide {
    width: 110px;
    font-size: 10px;
}

.e-accordion-toggle {
    font-size: 14px;
    font-weight: bold;
}

.e-accordion-inner {
    overflow: auto;
}

.e-accordion-inner h4, .controlPanel2 .panel-group .panel-body h4 {
    font-size: 14px;
}

.e-control-label {
    float: left;
    width: 120px;
    padding-top: 5px;
    text-align: right;
}

.panel-group .panel-heading {
    padding: 10px;
    background-color: inherit;
    color: inherit;
    border-bottom: none;
}

.panel-group .panel-heading .panel-title a {
    color: #428bca;
    font-size: 14px;
    font-weight: bold;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}

.e-panel-heading {
    padding: 10px;
}

.e-panel-header {
    margin: 0;
}

.e-iceprovider label {
    font-weight: normal;
}

.txt, .txt span, .txt div {
    padding-left: 10px;
    padding-top: 5px;
}

.txt input[type='checkbox'] {
    margin-left: 10px;
}

.form-group .col-xs-1, .form-group .col-xs-2, .form-group .col-xs-3, .form-group .col-xs-4, .form-group .col-xs-5, .form-group .col-xs-6, .form-group .col-xs-7, .form-group .col-xs-8, .form-group .col-xs-9, .form-group .col-xs-10, .form-group .col-xs-11, .form-group .col-xs-12 {
    padding-right: 7px;
    padding-left: 7px;
}

.reportingPanel, .reportingPanel2, .e-reporting-panel {
    background-color: white;
    position: absolute;
    top: 50px;
    left: 315px;
    z-index: 1039;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 11px;
}

.reportingPanel label, .reportingPanel2 label {
    font-weight: normal;
}

.input-sm, .input-group-addon, select.input-sm, button.btn-sm {
    height: 25px;
    padding: 3px 6px;
}

.input-mini {
    width: 30px;
}

.input-small {
    width: 60px;
}

.input-medium {
    width: 90px;
}

.input-large {
    width: 150px;
}

.input-xlarge {
    width: 210px;
}

.input-xxlarge {
    width: 270px;
}

#searchField {
    width: 235px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .controlPanel {
        width: 250px;
    }

    .reportingPanel {
        left: 265px;
        max-width: 710px;
    }

    .input-mini {
        width: 30px;
    }

    .input-small {
        width: 50px;
    }

    .input-medium {
        width: 70px;
    }

    .input-large {
        width: 100px;
    }

    .input-xlarge {
        width: 140px;
    }

    .input-xxlarge {
        width: 180px;
    }

    #searchField {
        width: 185px;
    }
}

.noaccelerate .olTileImage {
    -webkit-backface-visibility: visible !important;
    -webkit-transform: none !important;
}

.olImageLoadError {
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
}

.legends table tbody tr td {
    vertical-align: middle;
}

.searchResultItem {
    margin-top: 5px;
    margin-bottom: 5px;
}

.e-alert-danger{
	color : #a94442
}

input[type="range"].e-forecast {
	width: 200px;
}

table.table > tbody.e-noborder {
	border: 0 solid transparent;
}

table.table > tbody.e-noborder > tr > td {
	border-top: 0 solid transparent;
}

table.table > tbody.e-noborder > tr > td.e-bottomborder {
	border-bottom: 1px solid #ddd;
}