
.sar-operation-control h6 {
    margin-bottom: 5px;

}

.sar-operation-control .table {
    margin-bottom: 5px;
}

#sarOperationEditPanel {
    width: 550px;
}

.sar-img-type-container {
    min-height: 250px;
}

#sarOperationEditPanel .panel h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#sarOperationEditPanel .column2 {
    width: 80px;
}

.surfaceDriftPoints tr:first-child th {
}

.surfaceDriftPoints td:first-child {
    width: 175px;
}

table.surfaceDriftPointsPresented {
    width: 400px;
}

#sarOperationEditPanel hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.smallpadding {
   padding-right: 0 !important;
   padding-left: 0 !important;
   padding-top: 5px !important;
   padding-bottom: 0 !important;

   margin-left: 0 !important;
   margin-right: 0 !important;
   margin-top: 5px !important;
   margin-bottom: 0 !important;
}

.col-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}