
.sar-operation-control h6 {
    margin-bottom: 5px;

}

.sar-operation-control .table {
    margin-bottom: 5px;
}

#sarOperationEditPanel {
    width: 550px;
}

.sar-img-type-container {
    min-height: 250px;
}

#sarOperationEditPanel .panel h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#sarOperationEditPanel .column2 {
    width: 80px;
}

.surfaceDriftPoints tr:first-child th {
}

.surfaceDriftPoints td:first-child {
    width: 175px;
}

table.surfaceDriftPointsPresented {
    width: 400px;
}

#sarOperationEditPanel hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nopadding, table.nopadding td {
   padding: 0 !important;
   margin: 0 !important;
}

.smallpadding, table.smallpadding td {
   padding-right: 0 !important;
   padding-left: 0 !important;
   padding-top: 5px !important;
   padding-bottom: 0 !important;

   margin-left: 0 !important;
   margin-right: 0 !important;
   margin-top: 5px !important;
   margin-bottom: 0 !important;
}

table.ctrl td {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;

    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    border-top:0!important;
}


.col-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.stmt{
    word-wrap: break-word;
}

.sarButtons {
    margin-top: 20px
}

.form-group .unit {
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 5px;
}

#sarEffortAllocationEditPanel {
    max-width: 750px;
}

.spForm {
    max-width: 400px;
}

.subAreaForm {
    max-width: 409px;
}