
#sarOperationEditPanel {
    width: 550px;

}

.sar-img-type-container {
    min-height: 250px;
}

#sarOperationEditPanel .panel h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#sarOperationEditPanel .column2 {
    width: 80px;
}

.surfaceDriftPoints tr:first-child th {
}

.surfaceDriftPoints td:first-child {
    width: 175px;
}

table.surfaceDriftPointsPresented {
    width: 400px;
}

#sarOperationEditPanel hr {
    margin-top: 10px;
    margin-bottom: 10px;
}