#schedule div.date {
	width: 145px;
}

#schedule input.lon, #routeEdit input.lon{
	width: 90px;
}

#schedule input.lat, #routeEdit input.lat {
	width: 90px;
}

#schedule input.tt-hint {
	width: 150px;
}

#schedule .e-reporting-panel{
    max-width: 950px;
}

.schedule .table tbody {
	border-top-style: none;
}

.schedule .table tbody td{
	border-top-style: none;
}

.schedule .table tbody.content:nth-child(even){
	background-color: #EBEBEB;
}


.schedule .table tr.voyage td{
	padding-top: 15px;
}

.schedule .table tr.route td{
	padding-top: 0px;
	padding-bottom: 15px;
}

.schedule tr.lastRow td{
	padding-top: 40px;
}

.scheduleSelection {
	max-width: 450px;
}

#upload-button {
	float: right;
	margin-right: 20px;
}

#scheduleViewPanel {
	min-width: 300px;
}

.e-location-typeahead {
	width: 150px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #schedule input.lon {
        width: 50px;
    }

    #schedule input.tt-hint {
        width: 120px;
    }

    .schedule .table tr.voyage td{
        padding-top: 10px;
    }

    .schedule .table tr.route td{
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .schedule tr.lastRow td{
        padding-top: 30px;
    }

    .scheduleSelection {
        max-width: 300px;
    }
}
