<div accordion close-others="true" e-left-bar open-first="true" class="controlPanel2">
	<div accordion-group heading="Area"> 
	<!-- style="height: 300px;" -->

		<div x-ng-controller="SelectAreaController">
			<h5 id="title">Setup Selection Groups</h5>
		    <div id="shortdesc">
		    	<div x-ng-if="alertMessages" class="alert alert-danger">
					<span x-ng-repeat="msg in alertMessages">{{msg}}<br /></span>
				</div>
		
		    	<div class="row">
					<div class="col-xs-12">
						<table class="table table-condensed">
							<tr x-ng-repeat="selectionGroup in getSelectionGroups()">
								<td style="width: 150px;">
									<span x-ng-if="selectionGroup.editMode == false">
										{{selectionGroup.name}}
									</span>
									<input 	x-ng-if="selectionGroup.editMode == true" 
											type="text" 
											value="{{selectionGroup.name}}" 
											x-ng-model="selectionGroup.name" 
											class="form-control input-sm" />
									<br>
									<div style="float: left;">
										<div style="width: 70px; float: left;">
											<input type="checkbox" x-ng-model="selectionGroup.active"> &nbsp; <span>{{selectionGroup.getStatusLabel()}}</span></input>
										</div>
										<div style="width: 180px; float: left;">
											<input id="buttonEdit" type="button" x-ng-show="selectionGroup.editMode == false" x-ng-click="editSelectionGroup(selectionGroup)" value="show"/>
											<input id="buttonDone" type="button" x-ng-show="selectionGroup.editMode == true" x-ng-click="selectionGroupDone(selectionGroup)" value="done"/>
											<input id="buttonClear" type="button" x-ng-show="selectionGroup.editMode == true" x-ng-click="selectionGroupClear(selectionGroup)" value="clear"/>
											<input id="buttonDelete" type="button" x-ng-show="selectionGroup.editMode == true" x-ng-click="selectionGroupDelete(selectionGroup)" value="delete"/>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				
				<input id="buttonCreateGroup" type="button" x-ng-disabled="alreadyInEditMode()" x-ng-click="createGroup()" value="New Group"/>
		    	<input id="buttonUpdate" type="button" x-ng-click="updateSelectionGroups()" value="Save Groups"/>
		        
		        <!-- 
		    	<input id="buttonShow" type="button" x-ng-click="printSelectionGroupsToConsole()" value="Show"/>
		        <input id="buttonDelete" type="button" onclick="deleteSelections()" value="Delete"/>
		         -->
		    </div>
		</div>	         		
	</div>
</div>
<!-- 

		<div accordion-group heading="Area Selection" e-left-bar-open-on-init>
			<div x-ng-include="'partials/area-control.html'"></div>
		</div>
 -->