<div x-ng-controller="ForecastController">
<div id="forecastControlPanel" accordion close-others="true" e-left-bar
		open-first="true" class="controlPanel2">
		<div accordion-group heading="Wave forecasts">
            <div x-ng-controller="WaveForecastsCtrl as wfc">
                <h4>Wave forecasts</h4>
				<table class="table table-condensed">
					<colgroup>
						<col />
						<col />
						<col />
						<col />
					</colgroup>
					<thead>
						<tr>
							<th>Name</th>
							<th>Date</th>
							<th>Size</th>
							<th>Provider</th>
						</tr>
					</thead>
					<tbody class="e-noborder"
						x-ng-repeat="forecast in waveForecasts"
                        x-ng-controller="ForecastCtrl as fc">
                    <tr>
							<td>
								<div>
                                    <a href="#" x-ng-click="getForecast(forecast, $event, wfc)">{{forecast.area}}</a>
                                </div>
							</td>
							<td>{{forecast.timestamp}}</td>
							<td>{{forecast.size}}</td>
							<td>{{forecast.provider}}</td>
						</tr>
						<tr>
							<td class="e-bottomborder" colspan="4"><span
                                    x-ng-show="service.forecastSelected == forecast.id"> <br/> <input
									type="range" class="e-forecast" min="{{start}}" max="{{end}}"
									step="1" x-ng-model="current" /> <br />Selected time:
									{{currentDate}}
							</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div accordion-group heading="Ice forecasts">
			<div x-ng-controller="IceForecastsCtrl">
				<h4>Ice forecasts</h4>
				<table class="table table-condensed">
					<colgroup>
						<col />
						<col />
						<col />
						<col />
					</colgroup>
					<thead>
						<tr>
							<th>Name</th>
							<th>Date</th>
							<th>Size</th>
							<th>Provider</th>
						</tr>
					</thead>
					<tbody class="e-noborder" x-ng-repeat="forecast in iceForecasts"
						x-ng-controller="IceForecastCtrl">
						<tr>
							<td>
								<div>
									<a href="#" x-ng-click="getForecast(forecast, $event)">{{forecast.area}}</a>
								</div>
							</td>
							<td>{{forecast.timestamp}}</td>
							<td>{{forecast.size}}</td>
							<td>{{forecast.provider}}</td>
						</tr>
						<tr>
							<td colspan="4" class="e-bottomborder"><span
                                    x-ng-show="service.forecastSelected == forecast.id"> <br/> <span
									x-ng-hide="noIceConcentration"><input type="radio"
										name="iceForecastType_{{forecast.id}}"
										id="iceConcentration_{{forecast.id}}" value="iceConcentration"
										x-ng-model="selectedVariable" /> <label
										for="iceConcentration_{{forecast.id}}">Ice
											concentration</label> <br /></span> <span x-ng-hide="noIceThickness"><input
										type="radio" name="iceForecastType_{{forecast.id}}"
										id="iceThickness_{{forecast.id}}" value="iceThickness"
										x-ng-model="selectedVariable" /> <label
										for="iceThickness_{{forecast.id}}">Ice thickness</label> <br /></span>
									<span x-ng-hide="noIceSpeed"><input type="radio"
										name="iceForecastType_{{forecast.id}}"
										id="iceSpeed_{{forecast.id}}" value="iceSpeed"
										x-ng-model="selectedVariable" /> <label
										for="iceSpeed_{{forecast.id}}">Ice speed</label> <br /></span> <span
									x-ng-hide="noIceAccretion"> <input type="radio"
										name="iceForecastType_{{forecast.id}}"
										id="iceAccretion_{{forecast.id}}" value="iceAccretion"
										x-ng-model="selectedVariable" /> <label
										for="iceAccretion_{{forecast.id}}">Ice accretion risk</label><br /></span>
									<input type="range" class="e-forecast" min="{{start}}"
									max="{{end}}" step="1" x-ng-model="current" /> <br />
									Selected time: {{currentDate}}
							</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div accordion-group heading="Ocean current forecasts">
            <div x-ng-controller="CurrentForecastsCtrl as cfc">
                <h4>Ocean current forecasts</h4>
				<table class="table table-condensed">
					<colgroup>
						<col />
						<col />
						<col />
						<col />
					</colgroup>
					<thead>
						<tr>
							<th>Name</th>
							<th>Date</th>
							<th>Size</th>
							<th>Provider</th>
						</tr>
					</thead>
					<tbody class="e-noborder"
						x-ng-repeat="forecast in currentForecasts"
                        x-ng-controller="ForecastCtrl">
                    <tr>
							<td>
								<div>
                                    <a href="#" x-ng-click="getForecast(forecast, $event, cfc)">{{forecast.area}}</a>
                                </div>
							</td>
							<td>{{forecast.timestamp}}</td>
							<td>{{forecast.size}}</td>
							<td>{{forecast.provider}}</td>
						</tr>
						<tr>
							<td class="e-bottomborder" colspan="4"><span
                                    x-ng-show="service.forecastSelected == forecast.id"> <br/> <input
									type="range" class="e-forecast" min="{{start}}" max="{{end}}"
									step="1" x-ng-model="current" /> <br />Selected time:
									{{currentDate}}
							</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div accordion-group heading="Legends">
			<div class="legends">
				<h5>Wave height</h5>
				<table class="table table-condensed">
					<tr>
						<th>Color</th>
						<th>Height</th>
					</tr>
					<tr>
						<td><span
							style="background-color: #979797; width: 30px; display: block;">&nbsp;</span></td>
                        <td>&gt; 10 m</td>
                    </tr>
                    <tr>
                        <td><span
							style="background-color: #ff0000; width: 30px; display: block;">&nbsp;</span></td>
                        <td>8-10 m</td>
                    </tr>
                    <tr>
                        <td><span
							style="background-color: #ff7c06; width: 30px; display: block;">&nbsp;</span></td>
                        <td>6-8 m</td>
                    </tr>
                    <tr>
                        <td><span
							style="background-color: #ffff00; width: 30px; display: block;">&nbsp;</span></td>
                        <td>4-6 m</td>
                    </tr>
                    <tr>
                        <td><span
							style="background-color: #8effa0; width: 30px; display: block;">&nbsp;</span></td>
                        <td>2-4 m</td>
                    </tr>
                    <tr>
                        <td><span
							style="background-color: #96C7FF; width: 30px; display: block;">&nbsp;</span></td>
                        <td>&lt; 2 m</td>
                    </tr>
                </table>
                <h5>Ice concentration</h5>
				<table class="table table-condensed">
					<tr>
						<th>Color</th>
                        <th>Ice concentration</th>
                        <th>Definition</th>
                    </tr>
                    <tr>
						<td><span
							style="background-color: #979797; width: 30px; display: block;">&nbsp;</span></td>
						<td>10/10</td>
						<td>Fast Ice</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #ff0000; width: 30px; display: block;">&nbsp;</span></td>
						<td>9/10-10/10</td>
						<td>Very Close Drift Ice</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #ff7c06; width: 30px; display: block;">&nbsp;</span></td>
						<td>7/10-8/10</td>
						<td>Close Drift Ice</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #ffff00; width: 30px; display: block;">&nbsp;</span></td>
						<td>4/10-6/10</td>
						<td>Open Drift Ice</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #8effa0; width: 30px; display: block;">&nbsp;</span></td>
						<td>1/10-3/10</td>
						<td>Very Open Drift Ice</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #96C7FF; width: 30px; display: block;">&nbsp;</span></td>
						<td>&lt;1/10</td>
						<td>Open Water</td>
					</tr>
				</table>
				<h5>Ice thickness</h5>
				<table class="table table-condensed">
					<tr>
						<th>Color</th>
                        <th>Ice thickness</th>
                    </tr>
                    <tr>
                    <td><span
							style="background-color: #979797; width: 30px; display: block;">&nbsp;</span></td>
						<td>&gt; 2.0</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #ff0000; width: 30px; display: block;">&nbsp;</span></td>
						<td>1.1-2.0</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #ff7c06; width: 30px; display: block;">&nbsp;</span></td>
						<td>0.6-1.0</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #ffff00; width: 30px; display: block;">&nbsp;</span></td>
						<td>0.4-0.5</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #8effa0; width: 30px; display: block;">&nbsp;</span></td>
						<td>0.1-0.3</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #96C7FF; width: 30px; display: block;">&nbsp;</span></td>
						<td>&lt;0.1</td>
					</tr>
				</table>
				<h5>Ice accretion risk</h5>
				<table class="table table-condensed">
					<tr>
						<th>Color</th>
						<th>cm/hour</th>
						<th>Icing class</th>
					</tr>
					<tr>
						<td><span
							style="background-color: #96C7FF; width: 30px; display: block;">&nbsp;</span></td>
						<td>0</td>
						<td>None</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #8effa0; width: 30px; display: block;">&nbsp;</span></td>
						<td>&lt; 0.7</td>
						<td>Light</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #ffff00; width: 30px; display: block;">&nbsp;</span></td>
						<td>0.7-2.0</td>
						<td>Moderate</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #ff7c06; width: 30px; display: block;">&nbsp;</span></td>
						<td>2.0-4.0</td>
						<td>Heavy</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #ff0000; width: 30px; display: block;">&nbsp;</span></td>
						<td>&gt; 4.0</td>
						<td>Extreme</td>
					</tr>
				</table>
				<h5>Ocean currents/Ice speed</h5>
				<table class="table table-condensed">
					<tr>
						<th>Color</th>
						<th>Speed</th>
					</tr>
					<tr>
						<td><span
							style="background-color: #979797; width: 30px; display: block;">&nbsp;</span></td>
						<td>&gt; 2.0 m/s</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #ff0000; width: 30px; display: block;">&nbsp;</span></td>
						<td>1.1-2.0 m/s</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #ff7c06; width: 30px; display: block;">&nbsp;</span></td>
						<td>0.6-1.0 m/s</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #ffff00; width: 30px; display: block;">&nbsp;</span></td>
						<td>0.4-0.5 m/s</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #8effa0; width: 30px; display: block;">&nbsp;</span></td>
						<td>0.1-0.3 m/s</td>
					</tr>
					<tr>
						<td><span
							style="background-color: #96C7FF; width: 30px; display: block;">&nbsp;</span></td>
						<td>&lt;0.1 m/s</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>