<div id="greenposList" x-ng-controller="GreenposListCtrl">
    <div e-reporting-panel x-ng-if="provider.doShow">
        <div>
            <h2>
                <a class="close" href="#" style="float: right" x-ng-click="close($event)">&times;</a> Reports -
                {{vessel.ais.name}}
            </h2>
        </div>
        <div>
            <label><input type="checkbox" x-ng-model="recipient.coastalcontrol"/> Coastal Control Reports</label>
            <label><input
                    type="checkbox" x-ng-model="recipient.greenpos"/> Greenpos Reports</label>
            <table class="table">
                <thead>
                <tr>
                    <th x-sort="type" options="{options}">Report type</th>
                    <th>No</th>
                    <th x-sort="ts" options="sortOptions">Report time (UTC)</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Course</th>
                    <th>Speed</th>
                    <th>Persons</th>
                    <th>Destination</th>
                    <th>ETA (UTC)</th>
                    <th>Recipient</th>
                </tr>
                </thead>

                <tbody x-ng-repeat="report in reports | filter: filterReports">
                <tr class="basic">
                    <td>{{reportText(report.type)}}</td>
                    <td>{{report.number}}</td>
                    <td>{{formatDateTime(report.ts)}}</td>
                    <td>{{report.lon}}</td>
                    <td>{{report.lat}}</td>
                    <td>{{formatCourse(report.course)}}</td>
                    <td>{{report.speed}}</td>
                    <td>{{report.personsOnBoard}}</td>
                    <td>{{report.destination}}</td>
                    <td>{{formatDateTime(report.eta)}}</td>
                    <td>{{formatRecipient(report.recipient)}}</td>
                </tr>
                <tr class="extra-center" x-ng-if="report.malFunctions">
                    <td colspan="9">Mal functions: {{report.malFunctions}}</td>
                </tr>
                <tr class="extra" x-ng-if="report.type=='SP' || report.type=='FR' || report.type=='PR'">
                    <td colspan="9">Weather: {{report.weather}}<br/>Ice: {{report.ice}}
                    </td>
                </tr>
                <tr class="extra" x-ng-if="report.type=='DR'">
                    <td colspan="9">{{report.deviation}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
