<div x-ng-controller="IceController">
    <div id="iceControlPanel" accordion close-others="true" e-left-bar class="controlPanel2">
        <div accordion-group heading="Ice Charts" e-left-bar-open-on-init>
            <table class="table table-condensed">
                <tbody x-ng-repeat="chart in iceCharts">
                <tr x-ng-if="!chart.ts">
                    <td colspan=4><h4>{{chart}}</h4></td>
                </tr>
                <tr x-ng-if="chart.ts && !isDownloaded(chart)">
                    <td>{{chart.source}}</td>
                    <td>{{chart.ts}}</td>
                    <td>{{chart.size}}</td>
                    <td><a href=# x-ng-click="download($event, chart, iceCharts)">download</a></td>
                </tr>
                <tr x-ng-if="chart.ts && isDownloaded(chart)" class="alert-success">
                    <td>{{chart.source}}</td>
                    <td>{{chart.ts}}</td>
                    <td>{{chart.size}}</td>
                    <td><a href=# x-ng-click="zoom($event, chart)">zoom</a> / <a href=# x-ng-click='hideIce($event, chart)'>hide</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div accordion-group heading="Icebergs">
            <table class="table table-condensed">
                <tbody x-ng-repeat="chart in icebergs">
                <tr x-ng-if="!chart.ts">
                    <td colspan=4><h4>{{chart}}</h4></td>
                </tr>
                <tr x-ng-if="chart.ts">
                    <td>{{chart.source}}</td>
                    <td>{{chart.ts}}</td>
                    <td>{{chart.size}}</td>
                    <td x-ng-if="!isDownloaded(chart)"><a href=#
                                                          x-ng-click="download($event, chart, icebergs)">download</a>
                    </td>
                    <td x-ng-if="isDownloaded(chart)"><a href=# x-ng-click="zoom($event, chart)">zoom</a> / <a href=#
                                                                                                               x-ng-click='hideIce($event, chart)'>hide</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div accordion-group heading="Inshore ice report">
            <p>
                <span x-ng-repeat="header in inshoreIceReport.header">{{header}}<br/></span> <span
                    x-ng-if="inshoreIceReport && inshoreIceReport.latestReportDate">Latest report:
					{{formatDate(inshoreIceReport.latestReportDate)}} </span>

                <span x-ng-if="!inshoreIceReport">Inshore ice report is currently not available</span>
            </p>

            <table x-ng-if="inshoreIceReport" class="table table-condensed">
                <tr x-ng-repeat="location in inshoreLocations" x-ng-class="{inshoreNotAvailable : !location.hasText}">
                    <td>{{location.number}}</td>
                    <td>{{location.placename}}</td>
                    <td><a href="#" x-ng-click="showInshore($event, location)">view</a></td>
                </tr>
            </table>

            <p x-ng-repeat="footer in inshoreIceReport.footer">{{footer}}</p>
        </div>

        <div accordion-group is-open="satellite.open" heading="Satellite images">
            <div x-ng-if="satellite.open" x-ng-include="'partials/ice-satellite-control.html'"></div>
        </div>
        <div accordion-group heading="Selected Ice Observation" is-open="selected.open"
             e-left-bar-content-change="{{selected.observation}}">
            <div x-ng-if="!selected.observation">Nothing selected</div>
            <div id="icpSelectedIce" x-ng-show="!selected.inshore">
                <p></p>
                <table class="table table-condensed">
                </table>
            </div>
            <div x-ng-if="selected.inshore">
                <p>
                    <span x-ng-repeat="header in inshoreIceReport.header">{{header}}<br/></span>
                </p>

                <table class="table table-condensed">
                    <col style="width:75px"/>
                    <col span="2"/>
                    <tr>
                        <th>Observed</th>
                        <th>No</th>
                        <th>Description</th>
                    </tr>
                    <tr x-ng-repeat="observation in selected.observation"
                        x-ng-class="{inshoreNotAvailable : !observation.from}">
                        <td>{{observation.from ? formatDate(observation.from) : "Not available"}}</td>
                        <td>{{observation.number}}</td>
                        <td>{{observation.text ? observation.text : getLocationName(observation.number)}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div accordion-group heading="Providers" x-ng-if="providers && providers.length > 1">
            <div class="e-accordion-inner panel-body">
                <table class="table">
                    <tr x-ng-repeat="provider in providers" class="e-iceprovider">
                        <td><input type="radio" x-ng-model="$parent.selectedProvider" x-ng-value="provider"
                                   name="providers"
                                   id="provider_{{$index}}"/></td>
                        <td><label for="provider_{{$index}}">{{provider.name}}</label></td>
                        <td><label for="provider_{{$index}}">{{provider.shortName}}</label></td>
                    </tr>
                </table>
            </div>
        </div>
        <div accordion-group heading="Legends">
            <div id="icpLegends">
                <h4>Ice charts</h4>
                <table class="table table-condensed">
                    <tr>
                        <th>Color</th>
                        <th>Ice Concentration</th>
                        <th>Definition</th>
                    </tr>
                    <tr>
                        <td><span style="background-color: #979797; width: 30px; display: block;">&nbsp;</span></td>
                        <td>10/10</td>
                        <td>Fast Ice</td>
                    </tr>
                    <tr>
                        <td><span style="background-color: #ff0000; width: 30px; display: block;">&nbsp;</span></td>
                        <td>9/10-10/10</td>
                        <td>Very Close Drift Ice</td>
                    </tr>
                    <tr>
                        <td><span style="background-color: #ff7c06; width: 30px; display: block;">&nbsp;</span></td>
                        <td>7/10-8/10</td>
                        <td>Close Drift Ice</td>
                    </tr>
                    <tr>
                        <td><span style="background-color: #ffff00; width: 30px; display: block;">&nbsp;</span></td>
                        <td>4/10-6/10</td>
                        <td>Open Drift Ice</td>
                    </tr>
                    <tr>
                        <td><span style="background-color: #8effa0; width: 30px; display: block;">&nbsp;</span></td>
                        <td>1/10-3/10</td>
                        <td>Very Open Drift Ice</td>
                    </tr>
                    <tr>
                        <td><span style="background-color: #96C7FF; width: 30px; display: block;">&nbsp;</span></td>
                        <td>&lt;1/10</td>
                        <td>Open Water</td>
                    </tr>
                </table>
                <h4>Icebergs</h4>
                <table class="table table-condensed icebergLegend">
                    <tr>
                        <th>Symbol</th>
                        <th>Category</th>
                        <th>Size</th>
                    </tr>
                    <tr>
                        <td><img src="img/iceberg.png" width="5" height="6"/></td>
                        <td>Small</td>
                        <td>15 - 60 m</td>
                    </tr>
                    <tr>
                        <td><img src="img/iceberg.png" width="7.5" height="9"/></td>
                        <td>Medium</td>
                        <td>60 - 120 m</td>
                    </tr>
                    <tr>
                        <td><img src="img/iceberg.png" width="10" height="12"/></td>
                        <td>Large</td>
                        <td>121 - 200 m</td>
                    </tr>
                    <tr>
                        <td><img src="img/iceberg.png" width="12.5" height="15"/></td>
                        <td>Very large</td>
                        <td>&gt200 m</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
