<div x-ng-controller="PrognosesController as pc">
	<div id="prognosesControlPanel" accordion close-others="true" e-left-bar open-first="true" class="controlPanel2">
		<div accordion-group heading="Wave prognoses">
			<div x-ng-controller="WavePrognosesCtrl">
				<h4>Wave prognoses</h4>
				<table class="table table-condensed">
					<tr x-ng-repeat="prognosis in wavePrognoses" x-ng-controller="WavePrognosisCtrl">
						<td>
							<div>
								<a href="#" x-ng-click="getPrognosis(prognosis, $event)">{{prognosis.name}}</a>
								<span x-ng-show="pc.prognosisSelected == prognosis.name">
									<br /><input type="range" min="{{start}}" max="{{end}}" step="1" x-ng-model="current" />
									<br />Selected time: {{currentDate}}
								</span>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div accordion-group heading="Ice prognoses">
			<div x-ng-controller="IcePrognosesCtrl">
				<h4>Ice prognoses</h4>
				<table class="table table-condensed">
					<tr x-ng-repeat="prognosis in icePrognoses" x-ng-controller="IcePrognosisCtrl">
						<td>
							<div>
								<a href="#" x-ng-click="getPrognosis(prognosis, $event)">{{prognosis.name}}</a>
								<span x-ng-show="pc.prognosisSelected == prognosis.name">
									<br /><input type="radio" name="icePrognosisType" id="iceConcentration" value="iceConcentration" x-ng-model="selectedVariable" /> <label for="iceConcentration">Ice concentration</label> 
									<br /><input type="radio" name="icePrognosisType" id="iceThickness" value="iceThickness" x-ng-model="selectedVariable" /> <label for="iceThickness">Ice thickness</label>
									<br /><input type="radio" name="icePrognosisType" id="iceSpeed" value="iceSpeed" x-ng-model="selectedVariable" /> <label for="iceSpeed">Ice speed</label>
									<br /><input type="range" min="{{start}}" max="{{end}}" step="1" x-ng-model="current" />
									<br />Selected time: {{currentDate}}
								</span>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div accordion-group heading="Legends">
			<div class="legends">
				<h5>Wave</h5>
				<table class="table table-condensed">
					<tr>
						<td><span style="background-color:#00DE00; width: 30px; display: block;">&nbsp;</span></td>
						<td>&lt; 0.7</td>
					</tr>
					<tr>
						<td><span style="background-color:#FFFF00; width: 30px; display: block;">&nbsp;</span></td>
						<td>0.7 - 1.0</td>
					</tr>
					<tr>
						<td><span style="background-color:#FA4242; width: 30px; display: block;">&nbsp;</span></td>
						<td>1.0 - 1.3</td>
					</tr>
					<tr>
						<td><span style="background-color:#E8B332; width: 30px; display: block;">&nbsp;</span></td>
						<td>&gt; 1.3</td>
					</tr>
				</table>
				<h5>Ice</h5>
				<table class="table table-condensed">
					<tr>
						<td><span style="background-color:#00DE00; width: 30px; display: block;">&nbsp;</span></td>
						<td>&lt; 0.0001</td>
					</tr>
					<tr>
						<td><span style="background-color:#FFFF00; width: 30px; display: block;">&nbsp;</span></td>
						<td>0.0001 - 0.001</td>
					</tr>
					<tr>
						<td><span style="background-color:#FA4242; width: 30px; display: block;">&nbsp;</span></td>
						<td>0.001 - 0.01</td>
					</tr>
					<tr>
						<td><span style="background-color:#E8B332; width: 30px; display: block;">&nbsp;</span></td>
						<td>&gt; 0.01</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>