<div x-ng-controller="SarEffortAllocationController">

    <div e-reporting-panel x-ng-if="provider.doShow" id="sarEffortAllocationEditPanel">
        <h2>
            <a class="close" href="#" style="float: right" x-ng-click="close($event)">&times;</a>Effort Allocation
        </h2>

        <div>
            <div x-ng-if="page == 'SRU'">
                <h5>Search and rescue units (SRUs)</h5>

                <table class="table table-condensed srus">
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Search speed</th>
                        <th>Fatigue</th>
                        <th>Sub area</th>
                        <th>Status</th>
                        <th>Search Pattern</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    <tr x-ng-repeat="SRU in srus track by $index">
                        <td><a href="#" x-ng-click="editSRU($event, SRU)">{{SRU.name}}</a></td>
                        <td>{{typeText[SRU.type]}}</td>
                        <td>{{SRU.speed}} knots</td>
                        <td>{{SRU.fatigue}}</td>
                        <td>
                            <button class="btn btn-sm" x-ng-if="SRU.status == AllocationStatus.DraftSRU"
                                    x-ng-click="toSubAreaCalculation(SRU)">Calculate
                            </button>
                            <button class="btn btn-sm"
                                    x-ng-if="SRU.status == AllocationStatus.DraftZone || SRU.status == AllocationStatus.DraftModifiedOnMap || SRU.status == AllocationStatus.Active"
                                    x-ng-click="toSubAreaCalculation(SRU)">Edit
                            </button>
                            <button class="btn btn-sm btn-success"
                                    x-ng-if="SRU.status == AllocationStatus.DraftZone || SRU.status == AllocationStatus.DraftModifiedOnMap"
                                    x-ng-click="confirmActivation(SRU)">Share
                            </button>
                        </td>
                        <td><span class="label" x-ng-class="AllocationStatusLabel[SRU.status]">{{AllocationStatusTxt[SRU.status]}}</span>
                        </td>
                        <td>
                            <button class="btn btn-sm"
                                    x-ng-if="SRU.status === AllocationStatus.Active && !patterns[SRU._id] || patterns[SRU._id].status === AllocationStatus.Active"
                                    x-ng-click="createSearchPattern(SRU)">
                                <span x-ng-if="!patterns[SRU._id]">New</span><span
                                    x-ng-if="patterns[SRU._id]">Replace</span>
                            </button>
                            <button class="btn btn-sm"
                                    x-ng-if="patterns[SRU._id] && patterns[SRU._id].status !== AllocationStatus.Active"
                                    x-ng-click="editSearchPattern(SRU, patterns[SRU._id].id)">
                                Edit
                            </button>
                        </td>
                        <td><span class="label" x-ng-class="AllocationStatusLabel[patterns[SRU._id].status]">{{AllocationStatusTxt[patterns[SRU._id].status]}}</span>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger" x-ng-click="toConfirmDelSRU($event, SRU)">Remove
                            </button>
                        </td>
                    </tr>
                </table>
                <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="newUnit()">Add new SRU</button>
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="provider.close()">Close
                        </button>
                    </span>
                </div>

            </div>
            <div x-ng-if="page == 'editUnit'">
                <h4>Manage SRU</h4>

                <form name="SRUForm" class="form-horizontal" novalidate x-ng-controller="SarSruController">
                    <hr/>
                    <div x-ng-show="alertMessages" class="alert alert-danger">
                        <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
                    </div>
                    <div x-ng-show="message" class="alert alert-info">{{message}}</div>

                    <h5>SRU Information</h5>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Search participant</label>

                        <div class="col-xs-4" x-ng-controller="SARUsersController">
                            <input placeholder="user / mmsi" x-ng-model="participant.search"
                                   x-typeahead="user.name for user in getUsersAndVessels($viewValue)"
                                   x-typeahead-on-select="participant.user = $item"
                                   x-typeahead-template-url="userTemplate.html"
                                   class="input-sm form-control e-location-typeahead" type="text"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Name:</label>
                        <div class="col-xs-8">
                            <input x-ng-model="participant.user.name" type="text"
                                   class="form-control input-sm" placeholder="Name" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">MMSI:</label>

                        <div class="col-xs-8">
                            <input x-ng-model="participant.user.mmsi" type="text"
                                   class="form-control input-sm" placeholder="MMSI"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Type:</label>

                        <div class="col-xs-8">
                            <select ng-model="sru.type" name="type" required
                                    class="input-sm form-control"
                                    x-ng-options="type as typeText[type] for type in sruTypes">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Search Velocity:</label>

                        <div class="col-xs-3">
                            <input x-ng-model="sru.speed" type="text"
                                   class="form-control input-sm" placeholder="5 knots" required/>
                        </div>
                        <div class="col-xs-3 unit">
                            <span>knots</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Fatigue:</label>

                        <div class="col-xs-3">
                            <select ng-model="sru.fatigue" name="fatigue"
                                    class="input-sm form-control"
                                    x-ng-options="fatigue for fatigue in fatigues">
                            </select>
                        </div>
                    </div>

                    <h5>SAR Information</h5>

                    <div class="form-group">
                        <label class="control-label col-xs-3">On scene time:</label>

                        <div class="col-xs-3">
                            <input x-ng-model="sru.time" type="text"
                                   class="form-control input-sm" placeholder="5" required/>
                        </div>
                        <div class="col-xs-3 unit">
                            hours
                        </div>
                    </div>

                    <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm" x-ng-click="toSrus()">Cancel</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="saveUnit()"
                                x-ng-disabled="SRUForm.$invalid || !sru">Save
                        </button>
                    </span>
                    </div>
                </form>
            </div>

            <form x-ng-if="page == 'deleteSRU'" name="deleteSruForm" class="form-horizontal" novalidate>
                <hr/>
                <div x-ng-show="alertMessages" class="alert alert-danger">
                    <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
                </div>
                <div x-ng-show="message" class="alert alert-info">{{message}}</div>


                <div class="col-xs-12">
                    Remove search and rescue unit <strong>{{sru.name}}</strong>?
                </div>
                <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm" x-ng-click="toSrus()">Cancel</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="removeSRU(sru)">Remove</button>
                    </span>
                </div>

            </form>
            <form x-ng-if="page == 'effort'" name="effortAllocationForm" class="form-horizontal subAreaForm" novalidate>
                <hr/>
                <div x-ng-show="alertMessages" class="alert alert-danger">
                    <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
                </div>
                <div x-ng-show="message" class="alert alert-info">{{message}}</div>

                <h5>SAR Information</h5>

                <div class="form-group">
                    <label class="control-label col-xs-3">Target type:</label>

                    <div class="col-xs-6">
                        <select ng-model="effort.target" name="type" required
                                class="input-sm form-control"
                                x-ng-options="type as targetText[type] for type in targetTypes">
                        </select>
                    </div>
                </div>

                <h5>Weather information</h5>

                <div class="form-group">
                    <label class="control-label col-xs-3">Wind speed:</label>

                    <div class="col-xs-2">
                        <input x-ng-model="effort.wind" type="text"
                               class="form-control input-sm" required/>
                    </div>
                    <div class="col-xs-1 unit">
                        knots
                    </div>
                    <label class="control-label col-xs-3">Visibility:</label>
                    <div class="col-xs-2">
                        <select ng-model="effort.visibility" name="visibility" required
                                class="input-sm form-control"
                                x-ng-options="visibility for visibility in visibilityValues">
                        </select>
                    </div>
                    <div class="col-xs-1 unit">
                        nm
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Water elevation:</label>

                    <div class="col-xs-2">
                        <input x-ng-model="effort.waterElevation" type="text"
                               class="form-control input-sm" required/>
                    </div>
                    <div class="col-xs-2 unit">
                        feet
                    </div>
                </div>
                <h5>Additional options</h5>

                <div class="form-group">
                    <label class="control-label col-xs-6">Desired Probability of Detection:</label>
                    <div class="col-xs-2">
                        <input x-ng-model="effort.pod" type="number"
                               class="form-control input-sm" required/>
                    </div>
                    <div class="col-xs-1 unit">
                        %
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <label class="control-label col-xs-6">TODO warning if POD below 60%:</label>
                </div>-->
                <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm" x-ng-click="toSrus()">Back</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="calculate()"
                                x-ng-disabled="effortAllocationForm.$invalid">Calculate sub area
                        </button>
                    </span>
                </div>
            </form>
            <form x-ng-if="page == 'activate'" name="activateForm" class="form-horizontal" novalidate>
                <hr/>
                <div x-ng-show="alertMessages" class="alert alert-danger">
                    <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
                </div>
                <div x-ng-show="message" class="alert alert-info">{{message}}</div>


                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            Do you want to activate effort allocation zone for <strong>{{effort.name}}</strong>? <br/>
                            The effort allocation zone will hereby be shared with other SRUs as well as other relevant
                            parties.
                        </p>

                        <p x-ng-if="effAllExists">
                            The existing effort allocation for {{effort.name}} will be replaced by your new effort
                            allocation.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm" x-ng-click="provider.close()">Cancel</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="activate(effort)">Share
                        </button>
                    </span>
                    </div>
                </div>
            </form>
            <form x-ng-if="page == 'searchPattern'" name="spForm" class="form-horizontal spForm" novalidate>
                <hr/>
                <h5>Search Pattern</h5>
                <div x-ng-show="alertMessages" class="alert alert-danger">
                    <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
                </div>
                <div x-ng-show="message" class="alert alert-info">{{message}}</div>

                <div class="form-group">
                    <label class="control-label col-xs-4">Search Pattern Type</label>

                    <div class="col-xs-8">
                        <select ng-model="sp.type" name="type" required class="input-sm form-control"
                                x-ng-change="generateSearchPattern()"
                                x-ng-options="pattern.type as pattern.label for pattern in patterns">
                        </select>
                    </div>
                </div>

                <div>
                    <p x-ng-if="sp.type === SearchPattern.ParallelSweep">
                        Parallel sweep search is used when the search area is large, an even coverage is wanted and
                        exact location of the object is unknown, e.g. datum has low confidence
                    </p>

                    <p x-ng-if="sp.type === SearchPattern.CreepingLine">
                        Creeping line search is used when the search area is long and narrow, the most likely position
                        of the search object is presumed to be between two points, it is desirable with a fast coverage
                        of the most likely area first.
                    </p>

                    <p x-ng-if="sp.type === SearchPattern.ExpandingSquare">
                        Expanding square search is used when the search object is presumed to be located within a
                        relatively small area. The search begins in the most likely position (Datum). This method
                        requires accurate navigation.
                    </p>

                    <p x-ng-if="sp.type === SearchPattern.SectorPattern">
                        {{sarTypeDatas[sar.type].text}} is used when an object connected to the missing vessel has
                        been located. By reversing the objects movements a possible search area can be established.
                    </p>

                    <p x-ng-if="sp.type === SearchPattern.TrackLineReturn">
                        Track line search, return is used when a vessel (or person) is reported as missing and the
                        only track is the presumed route. It gives a relative fast and thorough coverage of the
                        missing objects presumed route and its adjacent areas. The search begins and ends in the
                        same end of the route.
                    </p>

                    <p x-ng-if="sp.type === SearchPattern.TrackLine">
                        Track line search, non-return is used when the vessel (or person) is reported missing and
                        the only track is the presumed route. It gives a relative fast and thorough coverage of the
                        missing objects presumed route and its adjacent areas. The search begins in one end and ends
                        in the opposite end of the route.
                    </p>


                </div>

                <div class="sar-img-type-container">
                    <img style="max-width:500px; max-height:250px" ng-if="sp.type"
                         ng-src="{{spImages[sp.type]}}"/>
                </div>


                <div x-ng-if="sp.type === SearchPattern.ParallelSweep || sp.type === SearchPattern.CreepingLine">
                    <h5>Commence Search Position (CSP)</h5>

                    <div class="form-group">
                        <div class="col-xs-7">
                        </div>
                        <div class="col-xs-5">
                            <select ng-model="sp.cornerKey" name="type" class="input-sm form-control"
                                    x-ng-change="calculateCSP()"
                                    x-ng-options="corner.key as corner.label for corner in other.corners">
                                <option value="">Import from:</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Latitude:</label>

                        <div class="col-xs-4">
                            <input x-ng-model="sp.csp.lat" name="lat" type="text" class="form-control input-sm"
                                   x-ng-required="sp.type === SearchPattern.ParallelSweep || sp.type === SearchPattern.CreepingLine"
                                   latitude/>
                        </div>
                        <label class="control-label col-xs-2">Longitude:</label>

                        <div class="col-xs-4">
                            <input x-ng-model="sp.csp.lon" name="lon" type="text" class="form-control input-sm"
                                   x-ng-required="sp.type === SearchPattern.ParallelSweep || sp.type === SearchPattern.CreepingLine"
                                   longitude/>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm" x-ng-click="cancelPattern()">Cancel</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-sm" x-ng-disabled="spForm.$invalid"
                                x-ng-click="draftSearchPattern()">Save as draft
                        </button>
                        <button type="button" class="btn btn-success btn-sm" x-ng-disabled="spForm.$invalid"
                                x-ng-click="shareSearchPattern()">Share Search Pattern
                        </button>
                    </span>
                </div>
            </form>

        </div>

    </div>
</div>