<div x-ng-controller="SARControl">
    <div accordion close-others="true" e-left-bar open-first="true" class="controlPanel2">
        <div accordion-group heading="SAR operations">
            <!-- style="height: 300px;" -->
            <div x-ng-controller="OperationsControl">
                <div id="shortdesc">
                    <div x-ng-if="alertMessages" class="alert alert-danger">
                        <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
                    </div>
                </div>

                <span class="pull-right">
                    <button type="button" x-ng-click="newSar()" class="btn btn-primary btn-xs">New SAR operation
                    </button>
                </span>

                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr x-ng-repeat="sar in sars">
                        <td>{{sar.name}}</td>
                        <td></td>
                        <td><a href=# x-ng-click="view($event, sar)">view</a></td>
                    </tr>
                    </tbody>
                </table>

                <hr/>

            </div>
        </div>


        <div accordion-group heading="Search and Rescue{{sar.input && sar.input.no  ? ' - ' + sar.input.no : ''}}"
             is-open="selected.open">
            <div x-ng-controller="OperationControl" class="sar-operation-control">

                <div x-ng-if="sar">
                    <div class="row">
                        <div class="col-md-7">Status:</div>
                        <div class="col-md-5 "></div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">Type:</div>
                        <div class="col-md-5">{{sar.input.selectedType.text}}</div>
                    </div>

                    <h6>Date and Time</h6>
                    <div class="row">
                        <div class="col-md-7">Last Known Position (LKP):</div>
                        <div class="col-md-5 nopadding">{{formatTs(sar.input.lastKnownPosition.ts)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">Commence Search Start:</div>
                        <div class="col-md-5 nopadding">{{formatTs(sar.input.startTs)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">Time elapsed:</div>
                        <div class="col-md-5 nopadding">{{sar.output.hoursElapsed}} hour<span
                                x-ng-if="sar.output.hoursElapsed != 1">s</span>, {{sar.output.minutesElapsed}}
                            minute<span x-ng-if="sar.output.minutesElapsed != 1">s</span>.
                        </div>
                    </div>

                    <h6>Last Surface Drifts dw continuation</h6>
                    <div class="row">
                        <div class="col-md-7">Direction</div>
                        <div class="col-md-5 nopadding">{{formatDecimal(sar.output.rdv.direction, -2)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">Speed</div>
                        <div class="col-md-5 nopadding">{{formatDecimal(sar.output.rdv.speed, -2)}} kn/h</div>
                    </div>

                    <h6>Position of Datum to LKP</h6>
                    <table class="table table-condensed">
                        <tr>
                            <td></td>
                            <td>Latitude</td>
                            <td>Longitude</td>
                            <td>RDV</td>
                            <td>Radius</td>
                        </tr>
                        <tr x-ng-if="sar.output.datum">
                            <td>DW</td>
                            <td>{{formatLat(sar.output.datum.lat)}}</td>
                            <td>{{formatLon(sar.output.datum.lon)}}</td>
                            <td>{{formatDecimal(sar.output.rdv.distance, -2)}} nm</td>
                            <td>{{formatDecimal(sar.output.radius, -2)}} nm</td>
                        </tr>
                        <tr x-ng-if="sar.output.downWind">
                            <td>DW</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr x-ng-if="sar.output.min">
                            <td>Min</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr x-ng-if="sar.output.max">
                            <td>Max</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>

                    <h6>Positions of the Search Area</h6>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 nopadding">Latitude</div>
                        <div class="col-md-4 nopadding">Longitude</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">A</div>
                        <div class="col-md-4 nopadding">{{formatLat(sar.output.searchArea.A.lat)}}</div>
                        <div class="col-md-4 nopadding">{{formatLon(sar.output.searchArea.A.lon)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">B</div>
                        <div class="col-md-4 nopadding">{{formatLat(sar.output.searchArea.B.lat)}}</div>
                        <div class="col-md-4 nopadding">{{formatLon(sar.output.searchArea.B.lon)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">C</div>
                        <div class="col-md-4 nopadding">{{formatLat(sar.output.searchArea.C.lat)}}</div>
                        <div class="col-md-4 nopadding">{{formatLon(sar.output.searchArea.C.lon)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">D</div>
                        <div class="col-md-4 nopadding">{{formatLat(sar.output.searchArea.D.lat)}}</div>
                        <div class="col-md-4 nopadding">{{formatLon(sar.output.searchArea.D.lon)}}</div>
                    </div>

                    <h6>Search Area Progression in minutes after CSS</h6>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="range"
                                   class="e-forecast"
                                   min="0"
                                   max="100"
                                   step="5"
                                   style="width: 95%;"/>
                        </div>
                    </div>

                    <div class="row">
                        <hr class="smallpadding"/>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary btn-xs" x-ng-click="edit($event)">Reopen
                                Calculations
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary btn-xs">Effort Allocation</button>
                        </div>
                    </div>

                    <h6>Effort Allocation</h6>
                    <div class="row">
                        <hr class="smallpadding"/>
                    </div>
                    <div class="row">
                        <div class="col-md-7">Probability of Detection</div>
                        <div class="col-md-5 nopadding">N/A</div>
                    </div>
                    <div class="row">
                        <hr class="smallpadding"/>
                    </div>
                    <div class="row">
                        <div class="col-md-7">Effective Search Area</div>
                        <div class="col-md-5 nopadding">N/A</div>
                    </div>
                    <div class="row">
                        <hr class="smallpadding"/>
                    </div>
                    <div class="row">
                        <div class="col-md-7">Search Craft Ground Speed</div>
                        <div class="col-md-5 nopadding">N/A</div>
                    </div>
                    <div class="row">
                        <hr class="smallpadding"/>
                    </div>
                    <div class="row">
                        <div class="col-md-7">Track Spacing</div>
                        <div class="col-md-5 nopadding">N/A</div>
                    </div>
                    <div class="row">
                        <hr class="smallpadding"/>
                    </div>
                    <div class="row">
                        <div class="col-md-7">time Spent Searching</div>
                        <div class="col-md-5 nopadding">DROPDOWN</div>
                    </div>

                    <h6>Search Patterns</h6>
                    <div class="row">
                        <hr class="smallpadding"/>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-centered nopadding">
                            <button type="button" class="btn btn-primary btn-xs">Generate Search Pattern</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-centered nopadding">
                            <div class="checkbox">
                                <label><input type="checkbox" value="Mig">Show Dynamic Pattern</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <hr class="smallpadding"/>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary btn-xs col-centered" x-ng-click="confirmEnd()">End
                            SAR
                        </button>
                    </div>

                </div>
            </div>


        </div>


        <div accordion-group heading="Message log">
            <!-- style="height: 300px;" -->

            <div x-ng-controller="LogControl">
                <p x-ng-repeat="log in logs" class="log">
                    <span class="user">{{log.user}}:</span>
                    <span class="stmt">{{log.stmt}}</span>
                </p>

                <hr/>
                <div>
                    <textarea rows="4" type="text" x-ng-model="msg"/>
                </div>

                <span class="pull-right">
                    <button type="button" x-ng-click="send()" class="btn btn-primary btn-sm">Send</button>
                </span>

            </div>
        </div>
    </div>
</div>