<script type="text/ng-template" id="userTemplate.html">
    <a>{{match.label}} <span x-ng-show="match.model.mmsi">({{match.model.mmsi}})</span></a>
</script>

<div x-ng-controller="SAROperationEditController">

    <script type="text/ng-template" id="directionTemplate.html">
        <span>
            <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
            ({{match.model.degrees}}°)
        </span>
    </script>

    <div e-reporting-panel x-ng-if="provider.doShow" id="sarOperationEditPanel">
        <h2>
            <a class="close" href="#" style="float: right" x-ng-click="close($event)">&times;</a>SAR Operation
        </h2>

        <div>
            <form x-ng-if="page == 'typeSelection'" name="sarTypeForm" class="form-horizontal" novalidate>
                <hr/>
                <div x-ng-show="alertMessages" class="alert alert-danger">
                    <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
                </div>
                <div x-ng-show="message" class="alert alert-info">{{message}}</div>

                <div class="form-group">
                    <label class="control-label col-xs-3">Sar Operation Type</label>

                    <div class="col-xs-5">
                        <select ng-model="sar.type" name="type" required
                                class="input-sm form-control"
                                x-ng-options="sarTypeDatas[type].text for (key,type) in sarTypeValues">
                        </select>
                    </div>
                </div>

                <div>
                    <p x-ng-if="sar.type === sarTypes.RapidResponse">
                        {{sarTypeDatas[sar.type].text}} should be used when the rescue vessel is within the designated
                        search area in a relatively short time span, i.e. 1-2 hours after last known position (LKP).
                    </p>

                    <p x-ng-if="sar.type === sarTypes.DatumPoint">
                        {{sarTypeDatas[sar.type].text}} is a calculation method used when the rescue vessel arrives to
                        the
                        designated search area two hours or more later than the last known position (LKP) was reported.
                    </p>

                    <p x-ng-if="sar.type === sarTypes.DatumLine">
                        {{sarTypeDatas[sar.type].text}} is used when an object is missing and the last known position
                        (LKP) is
                        unknown, but an assumed route is known.
                    </p>

                    <p x-ng-if="sar.type === sarTypes.BackTrack">
                        {{sarTypeDatas[sar.type].text}} is used when an object connected to the missing vessel has
                        been located. By reversing the objects movements a possible search area can be established.
                    </p>
                </div>

                <div class="sar-img-type-container">
                    <img style="max-width:500px; max-height:250px" ng-if="sar.type"
                         ng-src="{{sarTypeDatas[sar.type].img}}"/>
                </div>

                <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm" x-ng-click="back()">Back</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="next()">Next</button>
                    </span>
                </div>
            </form>
            <form x-ng-if="page == 'sarInputs'" name="sarOperationForm" class="form-horizontal" novalidate>
                <hr/>
                <div x-ng-show="alertMessages" class="alert alert-danger">
                    <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
                </div>
                <div x-ng-show="message" class="alert alert-info">{{message}}</div>

                <h5>{{tmp.sarTypeData.text}}</h5>
                <div class="form-group">
                    <label class="control-label col-xs-3">Identifier</label>

                    <div class="col-xs-4 txt"><span>{{sar.no}}</span></div>
                </div>
                <hr/>

                <div x-ng-if="tmp.sarTypeData && tmp.sarTypeData.id === sarTypes.DatumLine">
                    <h5>First Drift Search Position</h5>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Time</label>

                        <div class="col-xs-4">
                            <datetimepicker x-ng-model="sar.driftSearchPosition.first.time"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Longitude</label>

                        <div class="col-xs-4">
                            <input longitude x-ng-model="sar.driftSearchPosition.first.lon" type="text"
                                   class="form-control input-sm lon" placeholder="049 53 844W" required/>
                        </div>

                        <label class="control-label col-xs-2">Latitude</label>

                        <div class="col-xs-3">
                            <input latitude x-ng-model="sar.driftSearchPosition.first.lat" type="text"
                                   class="form-control input-sm lat" placeholder="61 15.856N" required/>
                        </div>
                    </div>

                    <hr/>
                    <h5>Second Drift Search Position</h5>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Time</label>

                        <div class="col-xs-4">
                            <datetimepicker x-ng-model="sar.driftSearchPosition.second.time"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Longitude</label>

                        <div class="col-xs-4">
                            <input longitude x-ng-model="sar.driftSearchPosition.second.lon" type="text"
                                   class="form-control input-sm lon" placeholder="049 53 844W" required/>
                        </div>

                        <label class="control-label col-xs-2">Latitude</label>

                        <div class="col-xs-3">
                            <input latitude x-ng-model="sar.driftSearchPosition.second.lat" type="text"
                                   class="form-control input-sm lat" placeholder="61 15.856N" required/>
                        </div>
                    </div>
                    <hr/>
                    <h5>Third Drift Search Position</h5>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Time</label>

                        <div class="col-xs-4">
                            <datetimepicker x-ng-model="sar.driftSearchPosition.third.time"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Longitude</label>

                        <div class="col-xs-4">
                            <input longitude x-ng-model="sar.driftSearchPosition.third.lon" type="text"
                                   class="form-control input-sm lon" placeholder="049 53 844W" required/>
                        </div>

                        <label class="control-label col-xs-2">Latitude</label>

                        <div class="col-xs-3">
                            <input latitude x-ng-model="sar.driftSearchPosition.third.lat" type="text"
                                   class="form-control input-sm lat required"/>
                        </div>
                    </div>
                    <hr/>
                </div>

                <div x-ng-if="!(tmp.sarTypeData && tmp.sarTypeData.id === sarTypes.DatumLine)">
                    <h5>Last known position</h5>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Time</label>

                        <div class="col-xs-4">
                            <datetimepicker x-ng-model="sar.lastKnownPosition.ts"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Latitude</label>

                        <div class="col-xs-3">
                            <input latitude x-ng-model="sar.lastKnownPosition.lat" type="text"
                                   class="form-control input-sm lat" placeholder="61 15.856N" required/>
                        </div>

                        <label class="control-label col-xs-3">Longitude</label>

                        <div class="col-xs-3">
                            <input longitude x-ng-model="sar.lastKnownPosition.lon" type="text"
                                   class="form-control input-sm lon" placeholder="049 53 844W" required/>
                        </div>
                    </div>
                    <hr/>
                </div>

                <h5>Commence search start</h5>

                <div class="form-group">
                    <label class="control-label col-xs-3">Time of Search Start</label>

                    <div class="col-xs-4">
                        <datetimepicker name="searchStartTs" x-ng-model="sar.startTs"/>
                    </div>
                </div>

                <hr/>
                <h5>Surface drift</h5>

                <div>
                    <div class="form-group">
                        <div class="col-xs-offset-5 col-xs-7">
                            <span class="pull-right">
                                <button type="button" class="btn btn-sm">Fetch METOC data</button>
                                <button type="button" class="btn btn-sm" x-ng-click="addPoint()">Add point</button>
                                <button type="button" class="btn btn-sm" x-ng-click="removePoint()"
                                        x-ng-disabled="sar.surfaceDriftPoints.length <= 1">Remove last
                                </button>
                            </span>
                        </div>
                    </div>

                    <table class="table surfaceDriftPoints">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>TWC</th>
                            <th>TWC direction</th>
                            <th>Leeway</th>
                            <th>Leeway direction</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-form="surfaceDriftPointForm" x-ng-repeat="surfaceDriftPoint in sar.surfaceDriftPoints">
                            <td>
                                <datetimepicker name="surfaceDriftPointTs" x-ng-model="surfaceDriftPoint.ts"
                                                lteq="sar.lastKnownPosition.ts"/>
                            <span x-ng-if="surfaceDriftPointForm.surfaceDriftPointTs.$error.lteq" class="error-block">
                                Surface drift point must be before last known position.
                            </span>
                            </td>
                            <td><input x-ng-model="surfaceDriftPoint.twcSpeed" type="text"
                                       class="form-control input-sm" placeholder="5 knots"
                                       required/></td>
                            <td>
                                <input x-ng-model="surfaceDriftPoint.twcDirection" type="text"
                                       class="form-control input-sm"
                                       x-typeahead="direction.name for direction in getDirections($viewValue)"
                                       typeahead-template-url="directionTemplate.html" placeholder="W/270°" required/>
                            </td>
                            <td><input x-ng-model="surfaceDriftPoint.leewaySpeed" type="text"
                                       class="form-control input-sm" placeholder="15 knots" required/></td>
                            <td><input x-ng-model="surfaceDriftPoint.leewayDirection" type="text"
                                       class="form-control input-sm"
                                       x-typeahead="direction.name for direction in getDirections($viewValue)"
                                       typeahead-template-url="directionTemplate.html" placeholder="NE/45°" required/>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>

                <hr/>
                <h5>Other variables</h5>

                <div class="form-group">
                    <label class="control-label col-xs-3">Initial Position Error (X), nm</label>

                    <div class="col-xs-4">
                        <input x-ng-model="sar.xError" name="xError" type="number" class="form-control input-sm"
                               required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3">SRU Navigational Error (Y), nm</label>

                    <div class="col-xs-4">
                        <input x-ng-model="sar.yError" name="yError" type="number" class="form-control input-sm"
                               required/>
                    </div>
                    <span class="help-block">Note: GPS = 0.1 nm</span>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Safety factor, Fs</label>

                    <div class="col-xs-4">
                        <input x-ng-model="sar.safetyFactor" name="safetyFactor" type="number"
                               class="form-control input-sm" required/>
                    </div>
                </div>

                <hr/>
                <h5>Search object</h5>

                <div class="form-group">
                    <div class="col-xs-7" for="sar.searchObject">
                        <select ng-model="sar.searchObject" id="sar.searchObject" name="sar.searchObject" required
                                class="input-sm form-control"
                                x-ng-options="searchObject.id as searchObject.text for searchObject in searchObjects">
                        </select>
                    </div>
                    <span class="help-block">{{sar.searchObject.x}} x U<span x-ng-if="sar.searchObject.y >= 0"> + {{sar.searchObject.y}}</span>
                        <span x-ng-if="sar.searchObject.y < 0"> - {{-1*sar.searchObject.y}}</span>, Divergence {{sar.searchObject.divergence}}
                    </span>
                </div>

                <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm" x-ng-click="back()">Back</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="createSarOperation()"
                                x-ng-disabled="sarOperationForm.$invalid">Next
                        </button>
                    </span>
                </div>
            </form>
            <div x-ng-if="page == 'sarResult'">
                <hr/>
                {{tmp.sarTypeData.text}} with no {{sarOperation.input.no}}
                <hr/>
                Time of last known position: {{formatTs(sarOperation.input.lastKnownPosition.ts)}} UTC<br/>
                Last known position: {{formatPos(sarOperation.input.lastKnownPosition)}}<br/>
                Commence Search Start Time: {{formatTs(sarOperation.input.startTs)}} UTC<br/>
                <hr/>
                <div x-ng-if="sarOperation.input.surfaceDriftPoints.length > 1">
                    Surface drift points:
                    <table class="table table-condensed surfaceDriftPointsPresented">
                        <thead>
                        <tr>
                            <td>Time</td>
                            <td>TWC</td>
                            <td>TWC direction</td>
                            <td>Leeway</td>
                            <td>Leeway direction</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr x-ng-repeat="surfaceDrift in sarOperation.input.surfaceDriftPoints">
                            <td>{{formatTs(surfaceDrift.ts)}}</td>
                            <td>{{surfaceDrift.twcSpeed}}</td>
                            <td>{{surfaceDrift.twcDirection}}</td>
                            <td>{{surfaceDrift.leewaySpeed}}</td>
                            <td>{{surfaceDrift.leewayDirection}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div x-ng-if="sarOperation.input.surfaceDriftPoints.length <= 1">
                    <span x-ng-repeat="surfaceDrift in sarOperation.input.surfaceDriftPoints">
                    Total water current {{surfaceDrift.twcSpeed}} knots with direction {{surfaceDrift.twcDirection}}<span
                            x-ng-if="0 <= surfaceDrift.twcDirection && surfaceDrift.twcDirection < 360">°</span>
                    Leeway {{surfaceDrift.leewaySpeed}} knots with direction {{surfaceDrift.leewayDirection}}<span
                            x-ng-if="0 <= surfaceDrift.leewayDirection && surfaceDrift.leewayDirection < 360">°</span><br/>
                    </span>
                </div>
                <hr/>
                Initial position error, X: {{sarOperation.input.xError}} nm<br/>
                SRU navigational error, Y: {{sarOperation.input.yError}} nm<br/>
                Safety factor, Fs: {{sarOperation.input.safetyFactor}}<br/>
                <hr/>
                Search Object: {{tmp.searchObject.text}}<br/>{{tmp.searchObject.x}}x U
                <span x-ng-if="tmp.searchObject.y < 0">- {{-tmp.searchObject.y}}</span>
                <span x-ng-if="tmp.searchObject.y > 0">+ {{tmp.searchObject.y}}</span>,
                Divergence: {{tmp.searchObject.divergence}}<br/>
                <hr/>
                Time elapsed: {{sarOperation.output.hoursElapsed}} hour<span
                    x-ng-if="sarOperation.output.hoursElapsed != 1">s</span>,
                {{sarOperation.output.minutesElapsed}} minute<span
                    x-ng-if="sarOperation.output.minutesElapsed != 1">s</span>.<br/>
                <span x-ng-if="sarOperation.output && sarOperation.output.rdv">
                Datum calculated from applying leeway and total water current: {{formatPos(sarOperation.output.datum)}}<br/>
                With the following Residual Drift Vector<br/>
                RDV Direction: {{formatDecimal(sarOperation.output.rdv.direction, -2)}}<br/>
                RDV Distance: {{formatDecimal(sarOperation.output.rdv.distance, -2)}} nm<br/>
                RDV Speed: {{formatDecimal(sarOperation.output.rdv.speed, -2)}} kn/h<br/>
                With radius: {{formatDecimal(sarOperation.output.radius, -2)}} nm<br/>
                </span>
                <span x-ng-if="sarOperation.output && sarOperation.output.downWind.rdv">
                Datum calculated from applying leeway and total water current: {{formatPos(sarOperation.output.downWind.datum)}}<br/>
                With the following Residual Drift Vectors<br/>
                Downwind RDV Direction: {{formatDecimal(sarOperation.output.downWind.rdv.direction, -2)}}<br/>
                Downwind RDV Distance: {{formatDecimal(sarOperation.output.downWind.rdv.distance, -2)}} nm<br/>
                Downwind RDV Speed: {{formatDecimal(sarOperation.output.downWind.rdv.speed, -2)}} kn/h<br/>
                With downwind radius: {{formatDecimal(sarOperation.output.downWind.radius, -2)}} nm<br/>
                </span>
                <hr/>

                Search Area:<br/>
                A: {{formatPos(sarOperation.output.searchArea.A)}}<br/>
                B: {{formatPos(sarOperation.output.searchArea.B)}}<br/>
                C: {{formatPos(sarOperation.output.searchArea.C)}}<br/>
                D: {{formatPos(sarOperation.output.searchArea.D)}}<br/>
                Total size: {{formatDecimal(sarOperation.output.searchArea.totalSize, -2)}} nm2<br/>

                <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm" x-ng-click="back()">Back</button>
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="finish()">Finish</button>
                        <button type="button" class="btn btn-sm" x-ng-click="cancel()">Cancel</button>
                    </span>
                </div>
            </div>
            <div x-ng-if="page == 'end'">
                <hr/>
                Are you sure you wish to end the search and rescue operation {{sar.no}}?
                <hr/>
                NB. The details of this search and rescue operation will remain available in ArcticWeb for some time
                until removed by the system.
                <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="end()">Yes</button>
                        <button type="button" class="btn btn-sm" x-ng-click="cancel()">No</button>
                    </span>
                </div>
            </div>
            <form x-ng-if="page == 'coordinator'" name="sarCoordinatorForm" class="form-horizontal" novalidate>
                <div x-ng-controller="SARCoordinatorController">
                    <h5>New coordinator</h5>
                    <hr/>
                    <div class="form-group">
                        <div class="col-xs-12">
                            You are currently the coordinator of the search and rescue operation {{sar.no}}. If you wish
                            you
                            may assign the coordinator role to another user.
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Search user</label>

                        <div class="col-xs-4" x-ng-controller="SARUsersController">
                            <input placeholder="user / mmsi" x-ng-model="coordinator.search"
                                   x-typeahead="user.name for user in getUsers($viewValue)"
                                   x-typeahead-on-select="coordinator.user = $item"
                                   x-typeahead-template-url="userTemplate.html"
                                   class="input-sm form-control e-location-typeahead" type="text"/>
                        </div>
                    </div>

                    <hr/>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Name</label>

                        <div class="col-xs-4">
                            <input x-ng-model="coordinator.user.name" class="input-sm form-control" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">MMSI</label>

                        <div class="col-xs-4">
                            <input x-ng-model="coordinator.user.mmsi" class="input-sm form-control" type="text"/>
                        </div>
                    </div>


                    <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="assign()">Assign</button>
                        <button type="button" class="btn btn-sm" x-ng-click="cancel()">Cancel</button>
                    </span>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>