<div x-ng-controller="SAROperationEditController">

    <script type="text/ng-template" id="directionTemplate.html">
        <span>
            <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
            ({{match.model.degrees}}°)
        </span>
    </script>

    <div e-reporting-panel x-ng-if="provider.doShow" id="sarOperationEditPanel">
        <h2>
            <a class="close" href="#" style="float: right" x-ng-click="close($event)">&times;</a>SAR Operation
        </h2>

        <div>
            <form x-ng-if="page == 'typeSelection'" name="sarTypeForm" class="form-horizontal" novalidate>
                <hr/>
                <div x-ng-show="alertMessages" class="alert alert-danger">
                    <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
                </div>
                <div x-ng-show="message" class="alert alert-info">{{message}}</div>

                <div class="form-group">
                    <label class="control-label col-xs-3">Sar Operation Type</label>

                    <div class="col-xs-5">
                        <select ng-model="sar.selectedType" name="selectedType" required
                                class="input-sm form-control"
                                x-ng-options="sarTypeData.text for sarTypeData in sarTypeDatas">
                        </select>
                    </div>
                </div>

                <div>
                    <p x-ng-if="sar.selectedType && sar.selectedType.id === sarTypes.RapidResponse">
                        {{selectedType.text}} should be used when the rescue vessel is within the designated
                        search area in a relatively short time span, i.e. 1-2 hours after last known position (LKP).
                    </p>

                    <p x-ng-if="sar.selectedType && sar.selectedType.id === sarTypes.DatumPoint">
                        {{selectedType.text}} is a calculation method used when the rescue vessel arrives to the
                        designated search area two hours or more later than the last known position (LKP) was reported.
                    </p>

                    <p x-ng-if="sar.selectedType && sar.selectedType.id === sarTypes.DatumLine">
                        {{selectedType.text}} is used when an object is missing and the last known position (LKP) is
                        unknown, but an assumed route is known.
                    </p>

                    <p x-ng-if="sar.selectedType && sar.selectedType.id === sarTypes.BackTrack">
                        {{selectedType.text}} is used when an object connected to the missing vessel has
                        been located. By reversing the objects movements a possible search area can be established.
                    </p>
                </div>

                <div class="sar-img-type-container">
                    <img style="max-width:500px; max-height:250px" ng-if="sar.selectedType"
                         ng-src="{{sar.selectedType.img}}"/>
                </div>

                <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm" x-ng-click="back()">Back</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="next()">Next</button>
                    </span>
                </div>
            </form>
            <form x-ng-if="page == 'sarInputs'" name="sarOperationForm" class="form-horizontal" novalidate>
                <hr/>
                <div x-ng-show="alertMessages" class="alert alert-danger">
                    <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
                </div>
                <div x-ng-show="message" class="alert alert-info">{{message}}</div>

                <h5>{{sar.selectedType.text}}</h5>
                <div class="form-group">
                    <label class="control-label col-xs-3" for="sarNo">Sar No.</label>

                    <div class="col-xs-4">
                        <input x-ng-model="sar.no" id="sarNo" , name="sarNo" class="form-control input-sm" required/>
                    </div>
                </div>
                <hr/>

                <div x-ng-if="sar.selectedType && sar.selectedType.id === sarTypes.DatumLine">
                    <h5>First Drift Search Position</h5>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Time</label>

                        <div class="col-xs-4">
                            <datetimepicker x-ng-model="sar.driftSearchPosition.first.time"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Longitude</label>

                        <div class="col-xs-4">
                            <input longitude x-ng-model="sar.driftSearchPosition.first.lon" type="text"
                                   class="form-control input-sm lon" placeholder="049 53 844W" required/>
                        </div>

                        <label class="control-label col-xs-2">Latitude</label>

                        <div class="col-xs-3">
                            <input latitude x-ng-model="sar.driftSearchPosition.first.lat" type="text"
                                   class="form-control input-sm lat" placeholder="61 15.856N" required/>
                        </div>
                    </div>

                    <hr/>
                    <h5>Second Drift Search Position</h5>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Time</label>

                        <div class="col-xs-4">
                            <datetimepicker x-ng-model="sar.driftSearchPosition.second.time"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Longitude</label>

                        <div class="col-xs-4">
                            <input longitude x-ng-model="sar.driftSearchPosition.second.lon" type="text"
                                   class="form-control input-sm lon" placeholder="049 53 844W" required/>
                        </div>

                        <label class="control-label col-xs-2">Latitude</label>

                        <div class="col-xs-3">
                            <input latitude x-ng-model="sar.driftSearchPosition.second.lat" type="text"
                                   class="form-control input-sm lat" placeholder="61 15.856N" required/>
                        </div>
                    </div>
                    <hr/>
                    <h5>Third Drift Search Position</h5>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Time</label>

                        <div class="col-xs-4">
                            <datetimepicker x-ng-model="sar.driftSearchPosition.third.time"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Longitude</label>

                        <div class="col-xs-4">
                            <input longitude x-ng-model="sar.driftSearchPosition.third.lon" type="text"
                                   class="form-control input-sm lon" placeholder="049 53 844W" required/>
                        </div>

                        <label class="control-label col-xs-2">Latitude</label>

                        <div class="col-xs-3">
                            <input latitude x-ng-model="sar.driftSearchPosition.third.lat" type="text"
                                   class="form-control input-sm lat required"/>
                        </div>
                    </div>
                    <hr/>
                </div>

                <div x-ng-if="!(sar.selectedType && sar.selectedType.id === sarTypes.DatumLine)">
                    <h5>Last known position</h5>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Time</label>

                        <div class="col-xs-4">
                            <datetimepicker x-ng-model="sar.lastKnownPosition.ts"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Latitude</label>

                        <div class="col-xs-3">
                            <input latitude x-ng-model="sar.lastKnownPosition.lat" type="text"
                                   class="form-control input-sm lat" placeholder="61 15.856N" required/>
                        </div>

                        <label class="control-label col-xs-3">Longitude</label>

                        <div class="col-xs-3">
                            <input longitude x-ng-model="sar.lastKnownPosition.lon" type="text"
                                   class="form-control input-sm lon" placeholder="049 53 844W" required/>
                        </div>
                    </div>
                    <hr/>
                </div>

                <h5>Commence search start</h5>

                <div class="form-group">
                    <label class="control-label col-xs-3">Time of Search Start</label>

                    <div class="col-xs-4">
                        <datetimepicker name="searchStartTs" x-ng-model="sar.startTs"/>
                    </div>
                </div>

                <hr/>
                <h5>Surface drift</h5>

                <div>
                    <div class="form-group">
                        <div class="col-xs-offset-5 col-xs-7">
                            <span class="pull-right">
                                <button type="button" class="btn btn-sm">Fetch METOC data</button>
                                <button type="button" class="btn btn-sm" x-ng-click="addPoint()">Add point</button>
                                <button type="button" class="btn btn-sm" x-ng-click="removePoint()"
                                        x-ng-disabled="sar.surfaceDriftPoints.length <= 1">Remove last
                                </button>
                            </span>
                        </div>
                    </div>

                    <table class="table surfaceDriftPoints">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>TWC</th>
                            <th>TWC direction</th>
                            <th>Leeway</th>
                            <th>Leeway direction</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-form="surfaceDriftPointForm" x-ng-repeat="surfaceDriftPoint in sar.surfaceDriftPoints">
                            <td>
                                <datetimepicker name="surfaceDriftPointTs" x-ng-model="surfaceDriftPoint.ts"
                                                lteq="sar.lastKnownPosition.ts"/>
                            <span x-ng-if="surfaceDriftPointForm.surfaceDriftPointTs.$error.lteq" class="error-block">
                                Surface drift point must be before last known position.
                            </span>
                            </td>
                            <td><input x-ng-model="surfaceDriftPoint.twcSpeed" type="text"
                                       class="form-control input-sm" placeholder="5 knots"
                                       required/></td>
                            <td>
                                <input x-ng-model="surfaceDriftPoint.twcDirection" type="text"
                                       class="form-control input-sm"
                                       x-typeahead="direction.name for direction in getDirections($viewValue)"
                                       typeahead-template-url="directionTemplate.html" placeholder="W/270°" required/>
                            </td>
                            <td><input x-ng-model="surfaceDriftPoint.leewaySpeed" type="text"
                                       class="form-control input-sm" placeholder="15 knots" required/></td>
                            <td><input x-ng-model="surfaceDriftPoint.leewayDirection" type="text"
                                       class="form-control input-sm"
                                       x-typeahead="direction.name for direction in getDirections($viewValue)"
                                       typeahead-template-url="directionTemplate.html" placeholder="NE/45°" required/>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>

                <hr/>
                <h5>Other variables</h5>

                <div class="form-group">
                    <label class="control-label col-xs-3">Initial Position Error (X), nm</label>

                    <div class="col-xs-4">
                        <input x-ng-model="sar.xError" name="xError" type="number" class="form-control input-sm"
                               required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3">SRU Navigational Error (Y), nm</label>

                    <div class="col-xs-4">
                        <input x-ng-model="sar.yError" name="yError" type="number" class="form-control input-sm"
                               required/>
                    </div>
                    <span class="help-block">Note: GPS = 0.1 nm</span>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Safety factor, Fs</label>

                    <div class="col-xs-4">
                        <input x-ng-model="sar.safetyFactor" name="safetyFactor" type="number"
                               class="form-control input-sm" required/>
                    </div>
                </div>

                <hr/>
                <h5>Search object</h5>

                <div class="form-group">
                    <div class="col-xs-7" for="sar.searchObject">
                        <select ng-model="sar.searchObject" id="sar.searchObject" name="sar.searchObject" required
                                class="input-sm form-control"
                                x-ng-options="searchObject.text for searchObject in searchObjects">
                        </select>
                    </div>
                    <span class="help-block">{{sar.searchObject.x}} x U<span x-ng-if="sar.searchObject.y >= 0"> + {{sar.searchObject.y}}</span>
                        <span x-ng-if="sar.searchObject.y < 0"> - {{-1*sar.searchObject.y}}</span>, Divergence {{sar.searchObject.divergence}}
                    </span>
                </div>

                <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm" x-ng-click="back()">Back</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="createSarOperation()"
                                x-ng-disabled="sarOperationForm.$invalid">Next
                        </button>
                    </span>
                </div>
            </form>
            <div x-ng-if="page == 'sarResult'">
                <hr/>
                {{sar.selectedType.text}} with no {{sarOperation.data.no}}
                <hr/>
                Time of last known position: {{formatTs(sarOperation.data.lastKnownPosition.ts)}} UTC<br/>
                Last known position: {{formatPos(sarOperation.data.lastKnownPosition)}}<br/>
                Commence Search Start Time: {{formatTs(sarOperation.data.startTs)}} UTC<br/>
                <hr/>
                <div x-ng-if="sarOperation.data.surfaceDriftPoints.length > 1">
                    Surface drift points:
                    <table class="table table-condensed surfaceDriftPointsPresented">
                        <thead>
                        <tr>
                            <td>Time</td>
                            <td>TWC</td>
                            <td>TWC direction</td>
                            <td>Leeway</td>
                            <td>Leeway direction</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr x-ng-repeat="surfaceDrift in sarOperation.data.surfaceDriftPoints">
                            <td>{{formatTs(surfaceDrift.ts)}}</td>
                            <td>{{surfaceDrift.twcSpeed}}</td>
                            <td>{{surfaceDrift.twcDirection}}</td>
                            <td>{{surfaceDrift.leewaySpeed}}</td>
                            <td>{{surfaceDrift.leewayDirection}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div x-ng-if="sarOperation.data.surfaceDriftPoints.length <= 1">
                    <span x-ng-repeat="surfaceDrift in sarOperation.data.surfaceDriftPoints">
                    Total water current {{surfaceDrift.twcSpeed}} knots with direction {{surfaceDrift.twcDirection}}<span
                            x-ng-if="0 <= surfaceDrift.twcDirection && surfaceDrift.twcDirection < 360">°</span>
                    Leeway {{surfaceDrift.leewaySpeed}} knots with direction {{surfaceDrift.leewayDirection}}<span
                            x-ng-if="0 <= surfaceDrift.leewayDirection && surfaceDrift.leewayDirection < 360">°</span><br/>
                    </span>
                </div>
                <hr/>
                Initial position error, X in nautical miles: {{sarOperation.data.xError}}<br/>
                SRU navigational error, Y in nautical miles: {{sarOperation.data.yError}}<br/>
                Safety factor, Fs: {{sarOperation.data.safetyFactor}}<br/>
                <hr/>
                Search Object: {{sarOperation.data.searchObject.text}}<br/>{{sarOperation.data.searchObject.x}}x U
                <span x-ng-if="sarOperation.data.searchObject.y < 0">- {{-sarOperation.data.searchObject.y}}</span>
                <span x-ng-if="sarOperation.data.searchObject.y > 0">+ {{sarOperation.data.searchObject.y}}</span>,
                Divergence: {{sarOperation.data.searchObject.divergence}}<br/>
                <hr/>
                Time elapsed: {{sarOperation.hoursElapsed}} hour<span x-ng-if="sarOperation.hoursElapsed != 1">s</span>,
                {{sarOperation.minutesElapsed}} minute<span x-ng-if="sarOperation.minutesElapsed != 1">s</span>.<br/>
                <span x-ng-if="sarOperation.rdv">
                Datum calculated from applying leeway and total water current: {{formatPos(sarOperation.datum)}}<br/>
                With the following Residual Drift Vector<br/>
                RDV Direction: {{formatDecimal(sarOperation.rdv.direction, -2)}}<br/>
                RDV Distance: {{formatDecimal(sarOperation.rdv.distance, -2)}} nm<br/>
                RDV Speed: {{formatDecimal(sarOperation.rdv.speed, -2)}} kn/h<br/>
                With radius: {{formatDecimal(sarOperation.radius, -2)}} nm<br/>
                </span>
                <hr/>
                Search Area:<br/>
                A: {{formatPos(sarOperation.searchArea.A)}}<br/>
                B: {{formatPos(sarOperation.searchArea.B)}}<br/>
                C: {{formatPos(sarOperation.searchArea.C)}}<br/>
                D: {{formatPos(sarOperation.searchArea.D)}}<br/>
                Total size: {{formatDecimal(sarOperation.searchArea.totalSize, -2)}} nm2<br/>

                <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm" x-ng-click="back()">Back</button>
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="finish()">Finish
                        </button>
                        <button type="button" class="btn btn-sm" x-ng-click="cancel()">Cancel</button>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>