<div x-ng-controller="SARControl">
    <div accordion close-others="true" e-left-bar open-first="true" class="controlPanel2">
        <div accordion-group heading="SAR operations">
            <!-- style="height: 300px;" -->
            <div x-ng-controller="OperationsControl">
                <div id="shortdesc">
                    <div x-ng-if="alertMessages" class="alert alert-danger">
                        <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <span class="pull-right">
                            <button type="button" x-ng-click="newSar()" class="btn btn-primary btn-xs">New SAR operation
                            </button>
                        </span>
                    </div>
                </div>

                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Identifier</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr x-ng-repeat="sar in sars">
                        <td>{{sar.name}}</td>
                        <td><span class="label"
                                  x-ng-class="SARStatusLabel[sar.status]">{{SARStatusTxt[sar.status]}}</span></td>
                        <td><a href=# x-ng-click="view($event, sar)">view</a></td>
                    </tr>
                    </tbody>
                </table>

                <hr/>

            </div>
        </div>


        <div accordion-group heading="Operation{{selected.sarIdentifier ? ' - ' + selected.sarIdentifier : ''}}"
             is-open="selected.open">
            <div x-ng-controller="OperationControl" class="sar-operation-control">

                <div x-ng-if="sar">
                    <div class="row">
                        <div class="col-md-5">Type:</div>
                        <div class="col-md-7 nopadding">{{SARTypeTxt[sar.input.type]}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Coordinator:</div>
                        <div class="col-md-7 nopadding">{{sar.coordinator.name}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Status:</div>
                        <div class="col-md-7 nopadding"><span class="label" x-ng-class="SARStatusLabel[sar.status]">{{SARStatusTxt[sar.status]}}</span>
                        </div>
                    </div>
                    <div class="row sarButtons"
                         x-ng-if="sar.status != SARStatus.ENDED && (selected.sar.coordinator.mmsi == authentication.shipMmsi || selected.sar.coordinator.name === authentication.userName)">
                        <div class="col-md-12">
                            <span class="pull-right">
                                <button type="button" class="btn btn-primary btn-xs" x-ng-click="newCoordinator()">
                                    Assign new coordinator
                                </button>
                            </span>
                        </div>
                    </div>

                    <h6>Date and Time</h6>
                    <div class="row">
                        <div class="col-md-7">Last Known Position (LKP):</div>
                        <div class="col-md-5 nopadding">{{formatTs(sar.input.lastKnownPosition.ts)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">Commence Search Start:</div>
                        <div class="col-md-5 nopadding">{{formatTs(sar.input.startTs)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">Time elapsed:</div>
                        <div class="col-md-5 nopadding">{{sar.output.hoursElapsed}} hour<span
                                x-ng-if="sar.output.hoursElapsed != 1">s</span>, {{sar.output.minutesElapsed}}
                            minute<span x-ng-if="sar.output.minutesElapsed != 1">s</span>.
                        </div>
                    </div>

                    <h6>Last Surface Drifts dw continuation</h6>
                    <div class="row">
                        <div class="col-md-7">Direction</div>
                        <div class="col-md-5 nopadding">{{formatDecimal(sar.output.rdv ? sar.output.rdv.direction :
                            sar.output.downWind.rdv.direction, -2)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">Speed</div>
                        <div class="col-md-5 nopadding">{{formatDecimal(sar.output.rdv.speed ? sar.output.rdv.speed :
                            sar.output.downWind.rdv.speed, -2)}} kn
                        </div>
                    </div>

                    <h6>Position of Datum to LKP</h6>
                    <table class="table table-condensed ctrl">
                        <tr>
                            <td></td>
                            <td>Latitude</td>
                            <td>Longitude</td>
                            <td>RDV</td>
                            <td>Radius</td>
                        </tr>
                        <tr x-ng-if="sar.output.datum">
                            <td>DW</td>
                            <td>{{formatLat(sar.output.datum.lat)}}</td>
                            <td>{{formatLon(sar.output.datum.lon)}}</td>
                            <td>{{formatDecimal(sar.output.rdv.distance, -2)}} nm</td>
                            <td>{{formatDecimal(sar.output.radius, -2)}} nm</td>
                        </tr>
                        <tr x-ng-if="sar.output.downWind">
                            <td>DW</td>
                            <td>{{formatLat(sar.output.downWind.datum.lat)}}</td>
                            <td>{{formatLon(sar.output.downWind.datum.lon)}}</td>
                            <td>{{formatDecimal(sar.output.downWind.rdv.distance, -2)}} nm</td>
                            <td>{{formatDecimal(sar.output.downWind.radius, -2)}} nm</td>
                        </tr>
                        <tr x-ng-if="sar.output.min">
                            <td>Min</td>
                            <td>{{formatLat(sar.output.min.datum.lat)}}</td>
                            <td>{{formatLon(sar.output.min.datum.lon)}}</td>
                            <td>{{formatDecimal(sar.output.min.rdv.distance, -2)}} nm</td>
                            <td>{{formatDecimal(sar.output.min.radius, -2)}} nm</td>
                        </tr>
                        <tr x-ng-if="sar.output.max">
                            <td>Max</td>
                            <td>{{formatLat(sar.output.max.datum.lat)}}</td>
                            <td>{{formatLon(sar.output.max.datum.lon)}}</td>
                            <td>{{formatDecimal(sar.output.max.rdv.distance, -2)}} nm</td>
                            <td>{{formatDecimal(sar.output.max.radius, -2)}} nm</td>
                        </tr>
                    </table>

                    <h6>Search Area</h6>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 nopadding">Latitude</div>
                        <div class="col-md-4 nopadding">Longitude</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">A</div>
                        <div class="col-md-4 nopadding">{{formatLat(sar.output.searchArea.A.lat)}}</div>
                        <div class="col-md-4 nopadding">{{formatLon(sar.output.searchArea.A.lon)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">B</div>
                        <div class="col-md-4 nopadding">{{formatLat(sar.output.searchArea.B.lat)}}</div>
                        <div class="col-md-4 nopadding">{{formatLon(sar.output.searchArea.B.lon)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">C</div>
                        <div class="col-md-4 nopadding">{{formatLat(sar.output.searchArea.C.lat)}}</div>
                        <div class="col-md-4 nopadding">{{formatLon(sar.output.searchArea.C.lon)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">D</div>
                        <div class="col-md-4 nopadding">{{formatLat(sar.output.searchArea.D.lat)}}</div>
                        <div class="col-md-4 nopadding">{{formatLon(sar.output.searchArea.D.lon)}}</div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-md-4">Size</div>
                        <div class="col-md-4 nopadding"></div>
                        <div class="col-md-4 nopadding">
                            <span>{{formatDecimal(sar.output.searchArea.size, -2)}} nm<sup>2</sup></span></div>
                    </div>

                    <h6>Search Area Progression in minutes after CSS</h6>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="range"
                                   class="e-forecast"
                                   min="0"
                                   max="100"
                                   step="5"
                                   style="width: 95%;"/>
                        </div>
                    </div>

                    <div class="row sarButtons"
                         x-ng-if="sar.status != SARStatus.ENDED && (selected.sar.coordinator.mmsi == authentication.shipMmsi || selected.sar.coordinator.name === authentication.userName)">
                        <div class="col-md-12">
                            <span class="pull-right">
                                <button type="button" class="btn btn-xs" x-ng-click="confirmEnd()">End
                                    SAR
                                </button>
                                <button type="button" class="btn btn-primary btn-xs" x-ng-click="edit()">Reopen
                                    SAR calculations
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div x-ng-if="!selected.sar">
                    Search and rescue operation not selected
                </div>
            </div>
        </div>

        <div accordion-group
             heading="Effort Allocation{{selected.sarIdentifier ? ' - ' + selected.sarIdentifier : ''}}">

            <div x-ng-if="selected.sar">
                <div x-ng-controller="EffortAllocationControl" class="sar-operation-control">
                    <div class="row">
                        <div class="col-md-7">Operation status:</div>
                        <div class="col-md-5 nopadding"><span class="label"
                                                              x-ng-class="SARStatusLabel[selected.sar.status]">{{SARStatusTxt[selected.sar.status]}}</span>
                        </div>
                    </div>

                    <h6>Effort allocations</h6>
                    <table class="table table-condensed ctrl">
                        <tr>
                            <td>Name</td>
                            <td>Track spacing</td>
                            <td>Sub area</td>
                            <td>Status</td>
                        </tr>
                        <tr x-ng-repeat="allocation in selected.allocations track by $index">
                            <td>{{allocation.name}}</td>
                            <td>{{allocation.S ? formatDecimal(allocation.S, -2) + " nm" : ""}}</td>
                            <td><span x-ng-if="allocation.area.size">{{formatDecimal(allocation.area.size, -2) + " "}}nm<sup>2</sup></span>
                            </td>
                            <td><span class="label" x-ng-class="AllocationStatusLabel[allocation.status]">{{AllocationStatusTxt[allocation.status]}}</span>
                            </td>
                        </tr>
                    </table>

                    <h6>Search patterns</h6>

                    <div x-ng-if="selected.sar.status != SARStatus.ENDED">
                        <table class="table table-condensed ctrl">
                            <tr>
                                <td>Name</td>
                                <td>Status</td>
                            </tr>
                            <tr x-ng-repeat="pattern in patterns track by $index">
                                <td>{{pattern.name}}</td>
                                <td><span class="label" x-ng-class="AllocationStatusLabel[pattern.status]">{{AllocationStatusTxt[pattern.status]}}</span>
                                </td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="Mig">Show Dynamic Pattern</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary btn-xs pull-right" x-ng-click="effort()">
                                    Manage effort
                                    allocations
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div x-ng-if="!selected.sar">
                Search and rescue operation not selected
            </div>
        </div>


        <div accordion-group heading="Message log{{selected.sarIdentifier ? ' - ' + selected.sarIdentifier : ''}}">
            <!-- style="height: 300px;" -->
            <div x-ng-if="selected.sar">
                <div x-ng-controller="LogControl">
                    <div style="overflow:auto; max-height:300px">
                        <div x-ng-repeat="msg in messages" class="log">
                            <div class="user">
                                <small>{{formatTs(msg.ts)}} - {{msg.user}}:</small>
                            </div>
                            <span class="stmt">{{msg.value}}</span>
                            <hr class="smallpadding"/>
                        </div>
                    </div>
                    <hr x-ng-show="isParticipant()"/>

                    <form name="sarLogForm" novalidate x-ng-show="isParticipant()">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="logInput">New message</label>
                            </div>
                            <div class="col-xs-9">
                                <textarea required id="logInput" cols="30" rows="3" type="text" x-ng-model="msg.value"/>
                            </div>
                            <div class="col-xs-3">
                                <span class="pull-right">
                                    <button type="button" x-ng-click="send()"
                                            x-ng-disabled="!msg || msg.length == 0 || sarLogForm.$invalid"
                                            class="btn btn-primary btn-sm">Send
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" x-ng-show="!position.use">
                            <div class="col-xs-5">
                                <button class="btn btn-sm" x-ng-click="position.use=true">
                                    Add position
                                </button>
                            </div>
                            <div class="col-xs-7">
                            </div>
                        </div>
                        <div class="form-group" x-ng-show="position.use">
                            <div class="col-xs-4">
                                <input latitude x-ng-model="msg.lat" type="text" class="form-control input-sm lat"
                                       x-ng-required="position.use" placeholder="56 22.456N"/>
                            </div>
                            <div class="col-xs-5">
                                <input longitude x-ng-model="msg.lon" type="text" class="form-control input-sm lat"
                                       x-ng-required="position.use" placeholder="058 13.637W"/>
                            </div>
                            <div class="col-xs-3">
                                <button class="btn btn-sm" x-ng-click="noPosition()">Remove</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div x-ng-if="!selected.sar">
                Search and rescue operation not selected
            </div>

        </div>
    </div>
</div>