<div x-ng-controller="SAROperationEditController">

    <div e-reporting-panel x-ng-if="provider.doShow" id="sarOperationEditPanel">
        <h2>
            <a class="close" href="#" style="float: right" x-ng-click="close($event)">&times;</a>SAR Operation
        </h2>

        <div>
            <form x-ng-if="page == 'typeSelection'" name="sarTypeForm" class="form-horizontal" novalidate>
                <div x-ng-show="alertMessages" class="alert alert-danger">
                    <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
                </div>
                <div x-ng-show="message" class="alert alert-info">{{message}}</div>

                <div class="form-group">
                    <label class="control-label col-xs-3">Sar Operation Type</label>

                    <div class="col-xs-5">
                        <select ng-model="sar.selectedType" name="sar.selectedType" required
                                class="input-sm form-control"
                                x-ng-options="sarTypeData.text for sarTypeData in sarTypeDatas">
                        </select>
                    </div>
                </div>

                <div>
                    <p x-ng-if="sar.selectedType && sar.selectedType.id === sarTypes.RapidResponse">
                        {{sar.selectedType.text}} should be used when the rescue vessel is within the designated
                        search area in a relatively short time span, i.e. 1-2 hours after last known position (LKP).
                    </p>

                    <p x-ng-if="sar.selectedType && sar.selectedType.id === sarTypes.DatumPoint">
                        {{sar.selectedType.text}} is a calculation method used when the rescue vessel arrives to the
                        designated search area two hours or more later than the last known position (LKP) was reported.
                    </p>

                    <p x-ng-if="sar.selectedType && sar.selectedType.id === sarTypes.DatumLine">
                        {{sar.selectedType.text}} is used when an object is missing and the last known position (LKP) is
                        unknown, but an assumed route is known.
                    </p>

                    <p x-ng-if="sar.selectedType && sar.selectedType.id === sarTypes.BackTrack">
                        {{sar.selectedType.text}} is used when an object connected to the missing vessel has
                        been located. By reversing the objects movements a possible search area can be established.
                    </p>
                </div>

                <div>
                    <img style="max-width:500px; max-height:250px" ng-if="sar.selectedType"
                         ng-src="{{sar.selectedType.img}}"/>
                </div>

                <div class="col-xs-12">
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm" x-ng-click="back()">Back</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="next()">Next</button>
                    </span>
                </div>
            </form>
            <form x-ng-if="page == 'sarInputs'" name="sarOperationForm" class="form-horizontal" novalidate>
                <div x-ng-show="alertMessages" class="alert alert-danger">
                    <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
                </div>
                <div x-ng-show="message" class="alert alert-info">{{message}}</div>

                <div class="form-group">
                    <label class="control-label col-xs-3" for="sarNo">Sar No.</label>

                    <div class="col-xs-4">
                        <input x-ng-model="sar.no" id="sarNo" , name="sarNo" class="form-control input-sm" required/>
                    </div>
                </div>
                <hr/>

                <div x-ng-if="sar.selectedType && sar.selectedType.id === sarTypes.DatumLine">
                    <h5>First Drift Search Position</h5>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Time</label>

                        <div class="col-xs-4">
                            <datetimepicker x-ng-model="sar.driftSearchPosition.first.time" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Longitude</label>

                        <div class="col-xs-4">
                            <input longitude x-ng-model="sar.driftSearchPosition.first.lon" type="text"
                                   class="form-control input-sm lon" placeholder="049 53 844W" required/>
                        </div>

                        <label class="control-label col-xs-2">Latitude</label>

                        <div class="col-xs-3">
                            <input latitude x-ng-model="sar.driftSearchPosition.first.lat" type="text"
                                   class="form-control input-sm lat" placeholder="61 15.856N" required/>
                        </div>
                    </div>

                    <hr/>
                    <h5>Second Drift Search Position</h5>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Time</label>

                        <div class="col-xs-4">
                            <datetimepicker x-ng-model="sar.driftSearchPosition.second.time" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Longitude</label>

                        <div class="col-xs-4">
                            <input longitude x-ng-model="sar.driftSearchPosition.second.lon" type="text"
                                   class="form-control input-sm lon" placeholder="049 53 844W" required/>
                        </div>

                        <label class="control-label col-xs-2">Latitude</label>

                        <div class="col-xs-3">
                            <input latitude x-ng-model="sar.driftSearchPosition.second.lat" type="text"
                                   class="form-control input-sm lat" placeholder="61 15.856N" required/>
                        </div>
                    </div>
                    <hr/>
                    <h5>Third Drift Search Position</h5>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Time</label>

                        <div class="col-xs-4">
                            <datetimepicker x-ng-model="sar.driftSearchPosition.third.time"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Longitude</label>

                        <div class="col-xs-4">
                            <input longitude x-ng-model="sar.driftSearchPosition.third.lon" type="text"
                                   class="form-control input-sm lon" placeholder="049 53 844W" required/>
                        </div>

                        <label class="control-label col-xs-2">Latitude</label>

                        <div class="col-xs-3">
                            <input latitude x-ng-model="sar.driftSearchPosition.third.lat" type="text"
                                   class="form-control input-sm lat required"/>
                        </div>
                    </div>
                    <hr/>
                </div>

                <div x-ng-if="!(sar.selectedType && sar.selectedType.id === sarTypes.DatumLine)">
                    <h5>Last known position</h5>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Time</label>

                        <div class="col-xs-4">
                            <datetimepicker x-ng-model="sar.lastKnownPosition.time"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Longitude</label>

                        <div class="col-xs-3">
                            <input longitude x-ng-model="sar.lastKnownPosition.lon" type="text"
                                   class="form-control input-sm lon" placeholder="049 53 844W" required/>
                        </div>

                        <label class="control-label col-xs-3">Latitude</label>

                        <div class="col-xs-3">
                            <input latitude x-ng-model="sar.lastKnownPosition.lat" type="text"
                                   class="form-control input-sm lat" placeholder="61 15.856N" required/>
                        </div>
                    </div>
                    <hr/>
                </div>

                <h5>Commence search start</h5>

                <div class="form-group">
                    <label class="control-label col-xs-3" for="sarNo">Time of Search Start</label>

                    <div class="col-xs-4">
                        <datetimepicker x-ng-model="voyage.startTime" required/>
                    </div>
                </div>

                <hr/>
                <h5>Surface drift</h5>

                <div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-2">
                            <button type="button" class="btn btn-sm">Fetch METOC data</button>
                        </div>
                        <div class="col-xs-offset-2 col-xs-5">
                            <span class="pull-right">
                                <button type="button" class="btn btn-sm">Add point</button>
                                <button type="button" class="btn btn-sm">Remove last</button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Date & Time of Surface Drift</label>

                        <div class="col-xs-4">
                            <datetimepicker x-ng-model="sar.surfaceDriftTs" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Total water current (knots)</label>

                        <div class="col-xs-3">
                            <input x-ng-model="sar.twc" type="text" class="form-control input-sm" required/>
                        </div>
                        <label class="control-label col-xs-3">TWC Vector</label>

                        <div class="col-xs-3">
                            <input x-ng-model="sar.twcVector" type="text" class="form-control input-sm" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Leeway (knots)</label>

                        <div class="col-xs-3">
                            <input x-ng-model="sar.leeway" type="text" class="form-control input-sm" required/>
                        </div>
                        <label class="control-label col-xs-3">Leeway Vector</label>

                        <div class="col-xs-3">
                            <input x-ng-model="sar.leewayVector" type="text" class="form-control input-sm" required/>
                        </div>
                    </div>
                </div>

                <hr/>
                <h5>Other variables</h5>

                <div class="form-group">
                    <label class="control-label col-xs-3">Initial Position Error (X), nm</label>

                    <div class="col-xs-4">
                        <input x-ng-model="sar.initPosErr" type="text" class="form-control input-sm" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3">SRU Navigational Error (Y), nm</label>

                    <div class="col-xs-4">
                        <input x-ng-model="sar.sruErr" type="text" class="form-control input-sm" required/>
                    </div>
                    <span class="help-block">Note: GPS = 0.1 nm</span>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Safety factor, Fs</label>

                    <div class="col-xs-4">
                        <input x-ng-model="sar.safetyFactor" type="text" class="form-control input-sm" required/>
                    </div>
                </div>

                <hr/>
                <h5>Search object</h5>

                <div class="form-group">
                    <div class="col-xs-7" for="sar.searchObject">
                        <select ng-model="sar.searchObject" id="sar.searchObject" name="sar.searchObject" required
                                class="input-sm form-control"
                                x-ng-options="searchObject.text for searchObject in searchObjects">
                        </select>
                    </div>
                    <span class="help-block">{{sar.searchObject.x}} x U<span x-ng-if="sar.searchObject.y >= 0"> + {{sar.searchObject.y}}</span>
                        <span x-ng-if="sar.searchObject.y < 0"> - {{-1*sar.searchObject.y}}</span>, Divergence {{sar.searchObject.divergence}}
                    </span>
                </div>


                <div class="row">
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm" x-ng-click="back()">Back</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-sm" x-ng-click="calculate()"
                                ng-disabled="sarOperationForm.$invalid">Next
                        </button>
                    </span>
                </div>
            </form>
        </div>

    </div>
</div>