<div accordion close-others="true" e-left-bar open-first="true" class="controlPanel2">
	<div accordion-group heading="Setup Areas of Interest"> 
	<!-- style="height: 300px;" -->
        <p>Areas of Interest are user-defined geographical areas from which you are interested in seeing AIS data. By
            using predefined areas, you only download what is absolutely necessary, providing a faster and less pricey
            experience.</p>

        <p>Have in mind that most of ArcticWeb's AIS data is from Norwegian satellites and may not provide a complete
            AIS overview.</p>
		<div x-ng-controller="SelectAreaController">
		    <div id="shortdesc">
		    	<div x-ng-if="alertMessages" class="alert alert-danger">
					<span x-ng-repeat="msg in alertMessages">{{msg}}<br /></span>
				</div>
		
		    	<div class="row">
					<div class="col-xs-12">
						<table class="table table-condensed">
							<tr x-ng-repeat="selectionGroup in getSelectionGroups()">
								<td>
									<span x-ng-if="selectionGroup.editMode == false">
										{{selectionGroup.name}}
									</span>
									<input 	x-ng-if="selectionGroup.editMode == true" 
											type="text" 
											value="{{selectionGroup.name}}" 
											x-ng-model="selectionGroup.name" 
											class="form-control input-sm" />
									<br>
									<div>
										<span class="pull-left">
											<input type="checkbox" x-ng-model="selectionGroup.active" id="sgActive_{{$index}}"> &nbsp; <label for="sgActive_{{$index}}">{{selectionGroup.getStatusLabel()}}</label></input>
										</span>
										<span class="pull-right">
											<a id="buttonEdit" href="#" x-ng-show="selectionGroup.editMode == false" x-ng-click="editSelectionGroup($event, selectionGroup)">show</a>
											<span x-ng-show="selectionGroup.editMode == true">
												<a id="buttonDone"href="#" x-ng-click="selectionGroupDone($event, selectionGroup)">done</a> /
												<a id="buttonClear" href="#" x-ng-click="selectionGroupClear($event, selectionGroup)">clear</a> /
												<a id="buttonDelete" href="#" x-ng-click="selectionGroupDelete($event, selectionGroup)">delete</a>
											</span>
										</span>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				
				<span class="pull-right">
					<button type="button" x-ng-click="createGroup()" x-ng-disabled="alreadyInEditMode()" class="btn btn-sm">New Area</button>
					<button type="button" x-ng-click="updateSelectionGroups()" x-ng-disabled="alreadyInEditMode()" class="btn btn-primary btn-sm">Save Areas</button>
				</span>
		    </div>
		</div>	         		
	</div>
</div>
