<div id="switchBaseMapDialog" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h2 class="e-panel-header">Switch Base Map</h2>
			</div>
			<div class="modal-body">
				<label class="radio">
					<input type="radio" name="bsMap" id="bsOpenStreetMap" />
					<b>Open Street Map</b><br />
					Detailed on demand map - continuous Internet usage<br />
				</label>
				<label class="radio">
					<span style="display: none" id="accelerate">
						<input type="checkbox" name="accelerate" />
						Use Chrome hardware acceleration. <br /><br />
						<i>Without hardware acceleration the map may blink twice when
						drawn or dragged. With hardware acceleration the blinking will
						disappear but the map may be replaced by a white screen if your
						hardware does not meet the Chrome expectations.</i><br /><br />
					</span>
				</label>
				<label class="radio">
					<input type="radio" name="bsMap" id="bsSimpleVectorMap" />
					<b>Simple Vector Map</b><br />
					Low resolution map - one off Internet usage (103 KB)
				</label>
				<div style="margin-top: 24px">
					<button class="btn btn-primary btn-sm">Switch</button>
					<a role="button" class="btn btn-sm" data-toggle="modal"
						data-dismiss="modal">Close</a>
				</div>
			</div>
		</div>
	</div>
</div>
