<div x-ng-controller="VesselInformationViewCtrl" >
	<div e-reporting-panel x-ng-if="provider.doShow" id="vesselInformationViewPanel">
		<h2>
			<a class="close" href="#" style="float: right" x-ng-click="close($event)">&times;</a> Vessel Information
		</h2>
		<p>Static information about the vessel is expected maintained mainly in the vessels AIS transponder.</p>
		<form class="form-horizontal" novalidate>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<div class="e-control-label">MMSI</div>
						<div class="controls txt" style="padding-top: 5px">
							<span>{{vessel.mmsi}}</span>
						</div>
					</div>
					<div class="form-group">
						<div class="e-control-label">Max Speed (kn)</div>
						<div class="txt">
							<span>{{vessel.maxSpeed}}</span>
						</div>
					</div>
					<div class="form-group">
						<div class="e-control-label">Ice Class</div>
						<div class="txt">
							<span>{{vessel.iceClass}}</span>
						</div>
					</div>
				</div>

				<div class="col-xs-6">
					<div class="form-group">
						<div class="e-control-label">Gross Tonnage</div>
						<div class="controls txt">
							<span>{{vessel.grossTon}}</span>
						</div>
					</div>
					<div class="form-group">
						<div class="e-control-label">Estimated Rescue Capacity (Persons)</div>
						<div class="txt">
							<span>{{vessel.maxPersons}}</span>
						</div>
					</div>
					<div class="form-group">
						<div class="e-control-label">Helipad</div>
						<div class="txt">
							<span x-ng-if="vessel.helipad">Yes</span> <span x-ng-if="!vessel.helipad">No</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<div class="e-control-label">Communication Capabilities</div>
						<div class="txt">
							<span>{{vessel.commCapabilities}}</span>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>