<div x-ng-controller="WeatherController">
    <span x-ng-controller="WeatherForecastLayerControl"></span>

    <div id="weatherControlPanel" accordion close-others="true" e-left-bar open-first="true" class="controlPanel2">
		<div accordion-group heading="Weather">

            <div x-ng-controller="WeatherForecastController">
            <p>
					Danish Meteorological Institute<br /> Created: {{from()}} UTC
				</p>
				<h4>Overview</h4>
				<p>
					{{forecast.desc}}<br /> {{forecast.time}}
				</p>


				<h4>Forecasts</h4>
				<table class="table table-condensed">
					<tr x-ng-repeat="district in forecast.districts">
						<td>{{district.name}}</td>
						<td><div x-ng-show="district.warnings && district.warnings.gale" class="label label-danger">GALE</div>
							<div x-ng-show="district.warnings && district.warnings.storm" class="label label-danger">STORM</div>
							<div x-ng-show="district.warnings && district.warnings.icing" class="label label-danger">ICING</div></td>
						<td><a href="#" x-ng-click="viewForecast($event, district)">view</a></td>
					</tr>
				</table>
				<span>Valid to {{to()}} UTC</span>
			</div>

		</div>
		<div accordion-group heading="Forecast on route">
            <div ng-controller="MetocController">
                <p>
                    Delivered by <br/> Danish Meteorological Institute (DMI)<br/>
                </p>
                <hr/>
                <p>
                    Forecasts for wave, wind, current and tidal level values may be obtained and displayed
                    <span x-ng-if="routes.length > 1">for  your vessels active route  or</span> for routes
                    from selected vessels.
                </p>

                <p>See <a href="/docs/#Forecast%20on%20route%20–%20main%20page" target="_blank">manual</a> for usage.
                </p>

                <table class="table table-condensed">
                    <tr x-ng-repeat="route in routes">
                        <td>{{route.name}}</td>
                        <td><span x-ng-if="route.available" class="label label-success">AVAILABLE</span><span
                                x-ng-if="!route.available" class="label label-default">NOT AVAILABLE</span></td>
                        <td><a x-ng-if="route.available" href="#" x-ng-click="toggleShowMetoc($event, route)"><span
                                x-ng-if="shown.name !== route.name">view</span><span
                                x-ng-if="shown.name === route.name">hide</span></a></td>
                    </tr>
                </table>
            </div>
        </div>

		<div accordion-group heading="Selected Forecast {{selected.name ? ' - ' + selected.name : ''}}"
			is-open="selected.open" e-left-bar-content-change="{{selected.forecast}}">
			<div ng-if="!selected.forecast">Nothing selected</div>
			<div x-ng-controller="SelectedMetocController">
				<table class="table table-condensed" ng-if="selected.forecast && selected.type === 'msi'">
					<tr>
						<th>Time</th>
						<td>{{formatTs(selected.forecast.time)}}</td>
					</tr>
					<tr>
						<th>Current</th>
						<td>{{selected.forecast.curSpeed ? selected.forecast.curSpeed + " kn" : "N/A"}} - {{selected.forecast.curDir
							? selected.forecast.curDir + "°" : "N/A"}}</td>
					</tr>
					<tr>
						<th>Wind</th>
						<td>{{selected.forecast.windSpeed ? ms2Knots(selected.forecast.windSpeed) + " knots" : "N/A"}} -
							{{selected.forecast.windDir ? selected.forecast.windDir + "°" : "N/A"}}</td>
					</tr>
					<tr>
						<th>Wave</th>
						<td>{{selected.forecast.waveHeight ? selected.forecast.waveHeight + " m" : "N/A"}} -
							{{selected.forecast.waveDir ? selected.forecast.waveDir + "°" : "N/A"}} ({{selected.forecast.wavePeriod ?
							selected.forecast.wavePeriod + " sec" : "N/A"}})</td>
					</tr>
					<tr>
						<th>Sea level</th>
						<td>{{selected.forecast.sealevel ? selected.forecast.sealevel + " m" : "N/A"}}</td>
					</tr>
				</table>
			</div>
			<div x-ng-controller="SelectWeatherForecastCtrl">
				<div ng-if="selected.forecast && selected.type === 'district'">
					<p>
						Danish Meteorological Institute<br /> Valid to: {{formatDateTime(selected.forecast.validTo)}} UTC
					</p>
					<div>
						<h5><span x-ng-if="selected.forecast.warnings && selected.forecast.warnings.storm" class="label label-danger">Storm
							Warning</span></h5>
						<h5><span x-ng-if="selected.forecast.warnings && selected.forecast.warnings.gale" class="label label-danger">Gale
							Warning</span></h5>
						<h5><span x-ng-if="selected.forecast.warnings && selected.forecast.warnings.icing" class="label label-danger">Icing
							Warning</span></h5>
					</div>
					<h5>Forecast</h5>
					<p>{{selected.forecast.forecast}}</p>
					<h5>Waves</h5>
					<p>{{selected.forecast.waves}}</p>
                    <h5>Ice</h5>
                    <p>{{selected.forecast.ice}}</p>
				</div>

			</div>
		</div>

		<div accordion-group heading="Settings">
			<div>
				<table class="table table-condensed">
					<tr x-ng-controller="SettingsMetocCtrl">
						<td>Forecast on route</td>
						<td><a href="#" x-ng-click="open($event)">edit</a></td>
					</tr>
				</table>
			</div>
		</div>
		<div accordion-group heading="Legends">
			<div x-ng-controller="LegendsController" class="legends">
				<h5>Wave</h5>
				<table class="table table-condensed">
					<tr x-ng-repeat="limit in waveLimits">
						<td><img style="width: 15px; height: 15px;" x-ng-src="{{limit.first.img}}" /></td>
						<td><span x-ng-if="limit.first.max">{{limit.first.min}} - {{limit.first.max}} meters</span><span
							x-ng-if="!limit.second.max">&gt; {{limit.first.min}} meters</span></td>
						<td><img x-ng-if="limit.second" style="width: 15px; height: 15px;" x-ng-src="{{limit.second.img}}" /></td>
						<td><span x-ng-if="limit.second.max">{{limit.second.min}} - {{limit.second.max}} meters</span><span
							x-ng-if="limit.second && !limit.second.max">&gt; {{limit.second.min}} meters</span></td>
					</tr>
				</table>
				<h5>Current</h5>
				<table class="table table-condensed">
					<tr x-ng-repeat="limit in currentLimits">
						<td><img style="width: 10px; height: 20px;" x-ng-src="{{limit.first.img}}" /></td>
						<td x-ng-repeat-end><span x-ng-if="limit.first.max">{{limit.first.min}} - {{limit.first.max}} knots</span><span
							x-ng-if="!limit.first.max">&gt; {{limit.first.min}} knots</span></td>
						<td><img x-ng-if="limit.second" style="width: 10px; height: 20px;" x-ng-src="{{limit.second.img}}" /></td>
						<td><span x-ng-if="limit.second.max">{{limit.second.min}} - {{limit.second.max}} knots</span><span
							x-ng-if="limit.second && !limit.second.max">&gt; {{limit.second.min}} knots</span></td>
					</tr>
				</table>
				<h5>Wind</h5>
				<table class="table table-condensed">
					<tr x-ng-repeat="limit in windLimits">
						<td><img style="width: 15px; height: 30px;" x-ng-src="{{limit.first.img}}" /></td>
						<td x-ng-repeat-end>{{limit.first.max}} knots ({{knots2Ms(limit.first.max)}} m/s)</td>
						<td><img x-ng-if="limit.second" style="width: 15px; height: 30px;" x-ng-src="{{limit.second.img}}" /></td>
						<td><span x-ng-if="limit.second">{{limit.second.max}} knots ({{knots2Ms(limit.second.max)}} m/s)</span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>