
    <h2>What</h2>
    <span>BalticWeb is going to be a maritime map-centric portal. The site will aggregate relevant maritime data and information </span>
    <ul>
        <li>Weather Forecasts</li>
        <li>Sea Traffic
            <small>(requires login)</small>
        </li>
        <li>Notices to mariners</li>
    </ul>

    <h2>Why</h2>
    <span>BalticWeb aims to serve the mariner in these three ways</span>
    <ul>
        <li>Assist in planing a sea voyage</li>
        <li>Navigational aid on a sea voyage</li>
        <li>Monitoring of maritime traffic</li>
    </ul>

    <h2>How</h2>
    <span>BalticWeb uses the <a href="http://efficiensea2.org/solution/the-maritime-cloud/">MaritimeCloud</a> in order to identify and retrieve relevant web services and identify users</span>

    <h3>Cookies and Local storage</h3>
    <div>
        <span><small>BalticWeb stores some information in the clients browser both in the local storage and with cookies i.e. the position and zoom level of the map for a more smooth user experience.
            Each visit is tracked via Google Analytics to gather usage metrics of the site in order to continuously improve the user experience. Cookies are used at login as well.</small></span>
    </div>
