
    <h2>What</h2>
    <span>BalticWeb is going to be a maritime map-centric portal. The site will aggregate relevant maritime data and information.</span>
    <ul>
        <li>Notices to Mariners and Navigational Warnings <small>(no login required)</small></li>
        <li>Sea Traffic - Live Vessel position and information (AIS)</li>
        <li>No-Go area service. (The service is fully operational but the UI is being changed and improved)</li>
        <li>Satellite imagery service from NASA</li>
        <li>Nautical Charts from Sjofartsverket and Geodatastyrelsen</li>
        <li>Simulated Route planning, optimization and exchange service <small>(no login required)</small></li>
        <li>OpenSeaMap.org overlay <small>(no login required)</small></li>
        <!--li>Weather Forecasts</li-->
    </ul>

    <h2>Why</h2>
    <span>BalticWeb aims to serve the mariner in three ways:</span>
    <ul>
        <li>Assist in planning a sea voyage</li>
        <li>Navigational aid on a sea voyage</li>
        <li>Monitoring of maritime traffic</li>
    </ul>

    <h2>How</h2>
    <span>BalticWeb uses the <a href="http://maritimecloud.net" target="_blank">Maritime Cloud</a> in order to identify and retrieve relevant web services and identify users.<br>
        At this early stage of development of the Maritime Cloud, it is possible for members of IALA, CIRM, BIMCO and participants of the projects SMART Navigation,
        EfficienSea2, STM validation and CAPITALS to get access. Other organisations may get access on a case-by-case basis. Do try to apply!<br>
        You can request access to the Maritime Cloud <a href="https://management.maritimecloud.net/#/apply" target="_blank">here</a>.
    </span>

    <h3>Cookies and Local storage</h3>
    <div>
        <span><small>BalticWeb stores some information in the clients browser both in the local storage and with cookies i.e. the position and zoom level of the map for a more smooth user experience.
            Each visit is tracked via Google Analytics to gather usage metrics of the site in order to continuously improve the user experience. Cookies are used at login as well.</small></span>
    </div>
