
<h2>What</h2>
<span>BalticWeb is a maritime map-centric portal. BalticWeb is a prototype. The site will aggregate relevant maritime data and information and allow access for users and services by utilizing the Maritime Connectivity Platform.</span>
<h3>Services available for all:</h3>
<ul>
    <li>Notices to Mariners and Navigational Warnings</li>
    <li>Simulated Route planning, optimization and exchange service</li>
    <li>OpenSeaMap.org overlay</li>
    <!--li>Weather Forecasts</li-->
</ul>

<h3>Services requiring a MCP ID:</h3>
<ul>
    <li>Sea Traffic - Live Vessel position and information (AIS)</li>
    <li>No-Go area service </li>
    <li>Satellite imagery service from NASA</li>
    <li>Nautical Charts from the Swedish Maritime Administration and the Danish Geodata Agency</li>
    <li>METOC forecasts from DMI</li>
</ul>

<h2>Why</h2>
<span>BalticWeb is a prototype and it aims to serve the mariner in these ways:</span>
<ul>
    <li>Assist in planning a sea voyage</li>
    <li>Navigational aid on a sea voyage</li>
    <li>Monitoring of maritime traffic</li>
</ul>

<h2>How</h2>
<span>BalticWeb uses the <a href="http://maritimeconnectivity.net" target="_blank">Maritime Connectivity Platform (MCP)</a> in order to identify and retrieve relevant web services and identify users.<br>
        BalticWeb as been developed as part of the EU-funded EfficenSea2 Project.

    <!--At this early stage of development of MCP it is possible for members of IALA, CIRM, BIMCO and participants of the projects SMART Navigation,
    EfficienSea2, STM validation and CAPITALS to get access. Other organisations may get access on a case-by-case basis. Do try to apply!<br>
    You can request access to MCP <a href="https://management.maritimecloud.net/#/apply" target="_blank">here</a>. -->
    </span>

<h3>Cookies and Local storage</h3>
<div>
        <span><small>BalticWeb stores some information in the client's browser both in the local storage and with cookies i.e. the position and zoom level of the map for a smoother user experience.
            Each visit is tracked via Google Analytics to gather usage metrics of the site in order to continuously improve the user experience. Cookies are used at login as well.</small></span>
</div>
