<div id="adtControlPanel" class="controlPanel">
    <div class="accordion" id="adtAccordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#adtAccordion" href="#adtDistance">
                        Distance Measurement
                    </a>
                </h4>
            </div>
            <div id="adtDistance" class="accordion-body collapse">
                <div class="accordion-inner">
                    <h4></h4>
                    <p>Click to add point to line segment. Double click to finish line and measure total length.</p>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#adtAccordion" href="#adtArea">
                        Area Measurement
                    </a>
                </h4>
            </div>
            <div id="adtArea" class="accordion-body collapse">
                <div class="accordion-inner">
                    <h4></h4>
                    <p>Click to add point to polygon. Double click to finish polygon and measure total area.</p>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#adtAccordion" href="#adtRings">
                        Distance Rings
                    </a>
                </h4>
            </div>
            <div id="adtRings" class="accordion-body collapse">
                <div class="accordion-inner">
                    <h4></h4>
                    <p>Click to place a distance ring. The parameters below controls ring radius and number of rings to draw.</p>

                    <div class=form-horizontal>
                        <div class="control-group">
                            <label for="adtDistanceField">Radius (NM)</label>
                            <input id=adtDistanceField type=text class="input-medium" value=100>
                        </div>

                        <div class="control-group">
                            <label for="adtNoRingsField">Number of Rings</label>
                            <input id=adtNoRingsField type=text class="input-mini" value=1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
