
<!-- Login modal ================================================== -->

<div id="login" class="modal hide fade" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h2>Log In</h2>
	</div>
	<div class="modal-body">
		<div class="alert alert-error" style="display: none" id="loginWrongLoginOrPassword">Wrong user name or password</div>
		<form class="form-signin" name="login_form">
			<input type="text" class="input-block-level" placeholder="User Name" id="userName" /> <input type="password"
				class="input-block-level" placeholder="Password" id="password" />
			<!--<label class="checkbox">  <input
				type="checkbox" value="remember-me" /> Remember me 
			</label>-->
			<div style="margin-top: 24px">
				<button type="submit" class="btn btn-primary">Log In</button>
				<a role="button" class="btn" data-toggle="modal" data-dismiss="modal">Close</a>
				<!-- a href="#forgot" role="button" class="btn" data-toggle="modal" data-dismiss="modal">Forgot password</a>
                <a href="#request" role="button" class="btn" data-toggle="modal" data-dismiss="modal">Request login</a -->
			</div>
		</form>
	</div>
</div>

<!-- Request login modal ================================================== -->

<div id="request" class="modal hide fade" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h2>Request Access</h2>
	</div>
	<div class="modal-body">
		<p>ArcticWeb is currently running a closed pilot test.</p>
		<p>
			Contact <a href="mailto:mcb@dma.dk">Mads Bentzen Billesø</a> for more information.
		</p>
		<form class="form-signin">
			<!-- 
			<input type="text" class="input-block-level" placeholder="Organization"> 
			<input type="text" class="input-block-level" placeholder="Country"> 
			<input type="text" class="input-block-level"placeholder="Contact person"> 
			<input type="text" class="input-block-level" placeholder="Phone number">
			<input type="text" class="input-block-level" placeholder="Email address"> 
			<input type="text" class="input-block-level" placeholder="IMO number">
		 -->
			<div style="margin-top: 24px">
				<button x-ng-hide="true" class="btn btn-primary">Send Request</button>
				<button class="btn btn-primary" " role="button" data-toggle="modal" data-dismiss="modal">Close</button>
			</div>
		</form>
	</div>
</div>
