<footer class="footer" >
    <div class="container text-muted text-center">
        <hr>
        <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            This project has received funding from The European
            Union’s Horizon 2020 Research and Innovation Programme
            under Grant Agreement no. 636329
        </span>

        <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
            <a class="col-xs-4 col-sm-3 col-md-2 col-lg-2" href="http://efficiensea2.org/"><img alt="EfficienSea2"  height="50px" src="/img/E2_Logo_White_cropped.png"></a>
            <a class="col-xs-4 col-sm-3 col-md-2 col-lg-2" href="http://efficiensea2.org/solution/the-maritime-cloud"><img alt="Maritime Cloud" src="/img/MaritimeCloud_logo_mini_45.png"></a>
            <a class="col-xs-4 col-sm-3 col-md-2 col-lg-2" href="http://ec.europa.eu/programmes/horizon2020/"><img alt="EU" height="47px" src="/img/eu_emblem_2.png"></a>
        </span>
    </div>
</footer>