<div class="row-fluid" x-ng-controller="embryo.GreenPosCtrl">
<div e-reporting-panel id="greenposReportPanel" x-ng-if="provider.doShow">
<h2>
    <a class="close" href="#" style="float: right" x-ng-click="close($event, greenPosForm)">&times;</a> Ship Report
</h2>

<form id="greenPosForm" name="greenPosForm" class="form-horizontal" novalidate>
<div x-ng-show="warningMessages" class="alert alert-warning">
    <span x-ng-repeat="msg in warningMessages">{{msg}}<br/></span>
</div>
<div x-ng-show="alertMessages" class="alert alert-danger">
    <span x-ng-repeat="msg in alertMessages">{{msg}}<br/></span>
</div>
<div x-ng-if="reportAcknowledgement" class="alert alert-info">
    <p>{{reportAcknowledgement}} successfully submitted.</p>

    <p>A copy of the report will be sent to your mail address {{userEmail}}.</p>

    <p x-ng-if="recipientName == 'Arctic Command'">An acknowledgement mail is also sent to your mail address from
        {{recipientName}} mail
        server{{recipientName.indexOf('/') == -1 ? '' : 's'}} upon report reception.</p>

    <p x-ng-if="recipientName == 'Arctic Command'">
    <b>NB. In the event an acknowledgement is not received from {{recipientName}} within 10 minutes you must use
            other means of communication in accordance with the relevant rules.</b>
    </p>
</div>

<div>
<div class="control-group form-group">
<label class="e-control-label">Report recipient</label>

        <div class="controls col-xs-6">
            <select id="gpRecipient" name="gpRecipient" x-ng-options="key as value for (key , value) in recipients"
                    x-ng-model="report.recipient" class="input-sm form-control" required>
            </select> <span x-ng-show="greenPosForm.gpRecipient.$error.required && greenPosForm.gpRecipient.$dirty"
                            class="msg-invalid">Value required</span>
        </div>
    </div>

<div class="control-group form-group">
<label class="e-control-label" for="gReportType">Report Type</label>

        <div class="controls col-xs-6">
            <select id="gReportType" name="gpReportType" x-ng-options="i.id as i.name for i in reportTypes"
                    x-ng-model="report.type" class="input-sm form-control" required>
            </select> <span x-ng-show="greenPosForm.gpReportType.$error.required && greenPosForm.gpReportType.$dirty"
                            class="msg-invalid">Value required</span>
        </div>
    </div>

    <!--

<div class="control-group">
    <label class="e-control-label">Vessel Name</label>
    <div class="controls">
        <input type="text" name="gpVesselName" x-ng-model="report.vesselName" required /> <input type="hidden"
            x-ng-model="report.vesselMaritimeId" /> <span
            x-ng-show="greenPosForm.gpVesselName.$error.required && greenPosForm.gpVesselName.$dirty" class="msg-invalid">Value
            required</span>
    </div>
</div>
<div class="control-group">
    <label class="e-control-label">MMSI</label>
    <div class="controls">
        <input type="text" class="input-medium" name="gpMmsi" x-ng-model="report.mmsi" required /> <span
            x-ng-show="greenPosForm.gpMmsi.$error.required && greenPosForm.gpMmsi.$dirty" class="msg-invalid">Value
            required</span>
    </div>

</div>
<div class="control-group">
    <label class="e-control-label">Call Sign</label>
    <div class="controls">
        <input type="text" name="gpCallsign" class="input-medium" x-ng-model="report.callSign" required /> <span
            x-ng-show="greenPosForm.gpCallsign.$error.required && greenPosForm.gpCallsign.$dirty" class="msg-invalid">Value
            required</span>
    </div>
</div>

-->

<div class="control-group form-group">
<label class="e-control-label" for="gpNumber">Number</label>

        <div class="controls col-xs-4">
            <input id="gpNumber" name="gpNumber" type="number" class="input-sm form-control"
                   x-ng-model="report.number"/> <span
                x-ng-show="!!nextNumber && !!nextNumber.number && !!nextNumber.uncertainty && !greenPosForm.gpNumber.$dirty"
                class="msg-invalid">Please verify that value is correct</span>
        </div>
    </div>
<div class="control-group form-group" x-ng-show="!editVesselInformation">
    <label class="e-control-label">Vessel</label>

    <div class="controls col-xs-8 txt">
        <span x-ng-click="editVesselInformation = !editVesselInformation">{{report.vesselName}} / {{report.callSign}} MMSI {{report.mmsi}}</span>
        <span x-ng-click="editVesselInformation = !editVesselInformation" class="fa fa-pencil"
              aria-hidden="true"></span>
    </div>
</div>
<div class="control-group form-group" x-ng-show="editVesselInformation">
    <label class="e-control-label">Vessel</label>

    <div class="controls col-xs-7">
        <input id="gpVesselName" name="gpVesselName" type="text" class="input-sm form-control"
               x-ng-model="report.vesselName" required placeholder="Vessel name"/> <span
            x-ng-show="greenPosForm.gpVesselName.$error.required && greenPosForm.gpVesselName.$dirty"
            class="msg-invalid">Value required</span>
        <input id="gpCallSign" name="gpCallSign" type="text" class="input-sm form-control"
               x-ng-model="report.callSign" required placeholder="call sign"/> <span
            x-ng-show="greenPosForm.gpCallSign.$error.required && greenPosForm.gpCallSign.$dirty"
            class="msg-invalid">Value required</span>
        <input id="gpMmsi" name="gpMmsi" type="text" class="input-sm form-control"
               x-ng-model="report.mmsi" required placeholder="MMSI"/> <span
            x-ng-show="greenPosForm.gpMmsi.$error.required && greenPosForm.gpMmsi.$dirty"
            class="msg-invalid">Value required</span>

        <button style="float:right" x-ng-click="editVesselInformation = !editVesselInformation" class="btn btn-sm"
                aria-label="Stop editing">
            <span class="fa fa-check" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div class="control-group form-group" x-ng-show="isVisible('destination')">
<label class="e-control-label" for="gpDestination">Destination</label>

        <div class="controls col-xs-4">
            <input id="gpDestination" name="gpDestination" type="text" class="input-sm form-control"
                   x-ng-model="report.destination" x-ng-required="isVisible('destination')"/> <span
                x-ng-show="greenPosForm.gpDestination.$error.required && greenPosForm.gpDestination.$dirty"
                class="msg-invalid">Value
							required</span>
        </div>
    </div>
<div class="control-group form-group" x-ng-show="isVisible('eta')">
<label class="e-control-label" for="gpEta">Estimated Time of Arrival (UTC)</label>

        <div class="controls col-xs-6">
            <datetimepicker id="gpEta" name="gpEta" type="text" x-ng-model="report.eta"
                            placeholder="e.g. 2014-07-08 16:53" x-ng-required=isVisible('eta')/>
						<span x-ng-show="greenPosForm.gpEta.$error.required && greenPosForm.gpEta.$dirty"
                              class="msg-invalid">Value
							required</span>
        </div>
    </div>
<div class="control-group form-group" x-ng-show="isVisible('personsOnBoard')">
<label class="e-control-label" for="gpPersons">Persons on Board</label>

        <div class="controls col-xs-4">
            <input id="gpPersons" name="gpPersons" type="text" class="input-sm form-control"
                   x-ng-model="report.personsOnBoard" x-ng-required="isVisible('personsOnBoard')"/> <span
                x-ng-show="greenPosForm.gpPersons.$error.required && greenPosForm.gpPersons.$dirty" class="msg-invalid">Value
							required</span>
            <!-- <span x-msg-required="greenPosForm.gpPersons"></span> -->
        </div>
    </div>
<div class="control-group form-group" x-ng-show="isVisible('course')">
<label class="e-control-label" for="gpCourse">Course</label>

        <div class="controls col-xs-4">
            <input embryo-course name="gpCourse" id="gpCourse" type="number" class="input-sm form-control"
                   x-ng-model="report.course" x-ng-required="isVisible('course')" placeholder="e.g. 025"/> <span
                x-ng-show="greenPosForm.gpCourse.$error.required  && greenPosForm.gpCourse.$dirty" class="msg-invalid">Value
							required</span>
        </div>
    </div>
<div class="control-group form-group" x-ng-show="isVisible('speed')">
<label class="e-control-label" for="gpSpeed">Speed</label>

        <div class="controls col-xs-4">
            <input id="gpSpeed" name="gpSpeed" type="text" class="input-sm form-control" x-ng-model="report.speed"
                   x-embryo-decimal x-ng-required="isVisible('speed')" placeholder="e.g. 10.5 or 12"/> <span
                x-ng-show="greenPosForm.gpSpeed.$error.required && greenPosForm.gpSpeed.$dirty" class="msg-invalid">Value
							required</span>
        </div>
    </div>
<div class="control-group form-group" x-ng-if="position.location">
<label x-ng-if="report.type == 'SP'" class="e-control-label" for="gpPos">Departure position</label> <label
            x-ng-if="report.type == 'FR'" class="e-control-label" for="gpPos">Destination position</label>

        <div class="controls txt col-xs-4">
            <input id="gpPos" name="gpPos" type="checkbox" x-ng-model="position.use"/>
            <span>{{position.location}}</span>
        </div>
    </div>
<div class="control-group form-group">
<label class="e-control-label" for="gpLat">Latitude</label>

        <div class="controls col-xs-5">
            <input x-ng-disabled="position.location && position.use" latitude id="gpLat" name="gpLat" type="text"
                   class="input-sm form-control" x-ng-model="report.lat" placeholder="e.g. 65 45.123N" required
                   x-ng-change="updatePositionOnMap()"/> <span
                x-ng-show="greenPosForm.gpLat.$error.required && greenPosForm.gpLat.$dirty" class="msg-invalid">Value
							required</span>
        </div>
    </div>
<div class="control-group form-group">
<label class="e-control-label" for="gpLon">Longitude</label>

        <div class="controls col-xs-5">
            <input x-ng-disabled="position.location && position.use" longitude id="gpLon" name="gpLon" type="text"
                   class="input-sm form-control" x-ng-model="report.lon" placeholder="e.g. 051 322.121W" required
                   x-ng-change="updatePositionOnMap()"/> <span
                x-ng-show="greenPosForm.gpLon.$error.required && greenPosForm.gpLon.$dirty" class="msg-invalid">Value
							required</span>
        </div>
    </div>
<div class="control-group form-group " x-ng-show="isVisible('route')">
<label class="e-control-label" for="gpInclWps">Include Active Route WayPoints</label>

        <div class="controls txt col-xs-4">
            <input id="gpInclWps" name="inclWps" type="checkbox" x-ng-model="inclWps.value" x-ng-show="hasActiveRoute"/> <span
                style="margin-top: 5px;" x-ng-show="!hasActiveRoute"><i>No Active Route</i></span>
        </div>
    </div>
<div class="control-group form-group " x-ng-show="isVisible('route')">
<label class="e-control-label" for="gpDescription">Route Description</label>

        <div class="controls col-xs-8">
            <textarea id="gpDescription" name="gpDescription" rows="3" x-ng-required="isVisible('route') && !inclWps"
                      class="form-control input-sm" x-ng-model="report.description"></textarea>
						<span x-ng-show="greenPosForm.gpDescription.$error.required && greenPosForm.gpDescription.$dirty"
                              class="msg-invalid">Value required</span>
        </div>
    </div>
<div class="control-group form-group " x-ng-show="isVisible('weather')">
<label class="e-control-label" for="gpWeather">Weather</label>

        <div class="controls col-xs-8">
            <textarea id="gpWeather" name="gpWeather" rows="3" x-ng-model="report.weather" class="form-control input-sm"
                      x-ng-required="isVisible('weather')"></textarea>
						<span x-ng-show="greenPosForm.gpWeather.$error.required && greenPosForm.gpWeather.$dirty"
                              class="msg-invalid">Value
							required</span>
        </div>
    </div>
<div class="control-group form-group " x-ng-show="isVisible('ice')">
    <label class="e-control-label" for="gpIce">Ice Observations</label>

        <div class="controls col-xs-8">
            <textarea id="gpIce" name="gpIce" s="3" x-ng-model="report.ice" class="form-control input-sm"
                      x-ng-required="isVisible('ice')"></textarea>
						<span x-ng-show="greenPosForm.gpIce.$error.required && greenPosForm.gpIce.$dirty"
                              class="msg-invalid">Value
							required</span>
        </div>
    </div>

<div class="control-group form-group ">
    <label class="e-control-label" for="gpMalFunctions">Malfunctions (if any)</label>

    <div class="controls col-xs-8">
        <textarea id="gpMalFunctions" name="gpMalFunctions" rows="2" x-ng-model="report.malFunctions"
                      class="form-control input-sm"/>
        </div>
    </div>
</div>


<div x-ng-show="report.type == 'FR' && hasActiveRoute">
    <h3>Active Route</h3>

    <div class="row">
        <div class="control-group form-group ">
        <label class="e-control-label" for="deactivate">Deactive</label>

            <div class="controls txt col-xs-4">
                <input id="deactivate" name="deactivate" type="checkbox" x-ng-model="deactivate.value"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
				<span class="pull-right">
					<button type="button" class="btn btn-sm" x-ng-click="reset(greenPosForm)">Reset</button> &nbsp;
					<button type="button" x-ng-click="sendReport()"
                            x-ng-disabled="greenPosForm.$invalid"
                            class="btn btn-primary btn-sm">Send
                    </button>

				</span>
</div>
</form>
</div>
</div>