<div id="greenposList" x-ng-controller="embryo.GreenposListCtrl">
	<div>
		<h2>
			<a class="close embryo-close-panel" href="#" style="float: right">&times;</a> Greenpos Reports - {{vessel.ais.name}}
		</h2>
	</div>
	<div>

		<table class="table">
			<thead>
				<tr>
					<th x-sort="type" options="{options}">Report type</th>
					<th x-sort="ts" options="sortOptions">Report time</th>
					<th>Longitude</th>
					<th>Latitude</th>
					<th>Course</th>
					<th>Speed</th>
					<th>Persons</th>
					<th>Destination</th>
					<th>ETA</th>
				</tr>
			</thead>

			<tbody x-ng-repeat="report in reports">
				<tr class="basic">
					<td>{{reportText(report.type)}}</td>
					<td>{{formatDateTime(report.ts)}}</td>
					<td>{{report.lon}}</td>
					<td>{{report.lat}}</td>
					<td>{{report.course}}</td>
					<td>{{report.speed}}</td>
					<td>{{report.personsOnBoard}}</td>
					<td>{{report.destination}}</td>
					<td>{{formatDateTime(report.eta)}}</td>
				</tr>
				<tr class="extra" x-ng-show="report.type=='SP' || report.type=='FR' || report.type=='PR'">
					<td colspan="9">Weather: {{report.weather}}<br />Ice: {{report.ice}}
					</td>
				</tr>
				<tr class="extra" x-ng-show="report.type=='DR'">
					<td colspan="9">{{report.deviation}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
