<div id="iceControlPanel" class="controlPanel">
	<div class="accordion" id="icpAccordion">
		<div class="accordion-group">
			<div class="accordion-heading">
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#icpAccordion" href="#icpIceMaps"> Ice Maps </a>
				</h4>
			</div>
			<div id="icpIceMaps" class="accordion-body collapse in">
				<div class="accordion-inner">
					<h4>Available Ice Maps</h4>

					<table class="table table-condensed">
						<tr>
							<th>Cape Farewell</th>
							<th>10-04-2013</th>
						</tr>
						<tr>
							<th>Greenland WA</th>
							<th>14-08-2013</th>
						</tr>
						<tr>
							<th>Qaanaaq</th>
							<th>13-08-2013</th>
						</tr>
						<tr>
							<th>North East</th>
							<th>07-08-2013</th>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#icpAccordion" href="#icpSelectedIce"> Selected
						Ice Observation </a>
				</h4>
			</div>
			<div id="icpSelectedIce" class="accordion-body collapse">
				<div class="accordion-inner">
					<p></p>
					<table class="table table-condensed">
					</table>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#icpAccordion" href="#icpLegends"> Legends </a>
				</h4>
			</div>
			<div id="icpLegends" class="accordion-body collapse">
				<div class="accordion-inner">
					<table class="table table-condensed">
						<tr>
							<th>Color</th>
							<th>Total Ice Concentration</th>
						</tr>
						<tr>
							<td><span style="background-color: #ff0000; width: 30px; display: block;">&nbsp;</span></td>
							<td>80%-100%</td>
						</tr>
						<tr>
							<td><span style="background-color: #e57425; width: 30px; display: block;">&nbsp;</span></td>
							<td>60%-80%</td>
						</tr>
						<tr>
							<td><span style="background-color: #ffc05e; width: 30px; display: block;">&nbsp;</span></td>
							<td>40%-60%</td>
						</tr>
						<tr>
							<td><span style="background-color: #fdfc39; width: 30px; display: block;">&nbsp;</span></td>
							<td>20%-40%</td>
						</tr>
						<tr>
							<td><span style="background-color: #90fba4; width: 30px; display: block;">&nbsp;</span></td>
							<td>0%-20%</td>
						</tr>
						<tr>
							<td><span style="background-color: #5599ff; width: 30px; display: block;">&nbsp;</span></td>
							<td>0%</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>