<div id="wrap">
     <ol-map class="map col-xs-12 col-sm-12 col-md-12 col-lg-12" map-state="mapState" minzoom="3"  swlon="-31" swlat="30" nelon="61" nelat="80" >
        <map-layer-group layer-group="mapBackgroundLayers" ></map-layer-group>
        <map-satellite-layer></map-satellite-layer>
        <map-layer-group layer-group="mapMiscLayers" ></map-layer-group>
        <map-nw-nm-layer message-list="nwNmMessages" services="nwNmServices" name="NW-NM" ></map-nw-nm-layer>
        <map-vessel-layer vessels="vessels" name="Vessels" alerts="alerts" ></map-vessel-layer>
        <!--<map-current-pos-btn></map-current-pos-btn>-->
        <map-current-pos-orientation-btn></map-current-pos-orientation-btn>
        <map-scale-line units="nautical"></map-scale-line>
        <map-mouse-position></map-mouse-position>
         <map-sidebar-btn></map-sidebar-btn>
         <simple-rtz-route></simple-rtz-route>
        <!--<map-layer-switcher></map-layer-switcher>-->
        <map-overview collapsed="true"></map-overview>
    </ol-map>
    <div class="push"></div>
</div>



