<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="embryo.MenuCtrl">
	<div class="navbar-inner">
		<div class="menu-container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<i class="icon-th-list"></i>
			</button>
			<a class="brand" href="index.html"> <font color="#0080C0">ArcticWeb</font><font color="#888888" size="3">Greenland</font>
			</a>
			<div class="nav-collapse collapse" id="navigationBar">
				<p class="navbar-text pull-right" id="authentication"></p>

				<ul class="nav navtabs">
					<li><a href="map.html#/vessel"> <i class="icon-boat icon-white"
							style="vertical-align: middle; margin-bottom: 4px"></i> Vessels
					</a></li>
					<li><a href="map.html#/ice"> <i class="icon-asterisk icon-white"
							style="vertical-align: middle; margin-bottom: 4px"></i> Ice
					</a></li>
					<li><a href="map.html#/msi"> <i class="icon-bullhorn icon-white"
							style="vertical-align: middle; margin-bottom: 4px"></i> Maritime Safety
					</a></li>
                    <li requires-permission="Administration"><a href="users.html">
                        <i class="icon-user icon-white" style="vertical-align: middle; margin-bottom: 4px"></i>
                        Users
                    </a></li>
                    <li requires-permission="Administration"><a href="log.html">
                        <i class="icon-fire icon-white" style="vertical-align: middle; margin-bottom: 4px"></i>
                        Log
                    </a></li>
					<!-- li><a href="map.html#/adt"> <i class="icon-gift icon-white"
							style="vertical-align: middle; margin-bottom: 4px"></i> Assistance
					</a></li -->
				</ul>
			</div>
		</div>
	</div>
</div>
