<div x-ng-controller="MsiControl">
	<div e-left-bar accordion close-others="true" class="controlPanel2">
		<div accordion-group heading="Warning Regions" x-ng-if="regions && regions.length > 1">
			<table class="table">
				<tr x-ng-repeat="region in regions" class="e-iceprovider">
					<td><input type="checkbox" x-ng-change="showMsi()" x-ng-model="region.selected" name="regions"
						id="region_{{$index}}" /></td>
					<td><label for="region_{{$index}}">{{region.description}}</label></td>
					<td><label for="region_{{$index}}">({{region.name}})</label></td>
				</tr>
			</table>
		</div>
		<div accordion-group heading="Active Warnings" e-left-bar-open-on-init>
			<div x-ng-if="!warnings || warnings.length === 0">No active warnings</div>
			<table class="table table-condensed" x-ng-if="warnings">
				<tr>
					<th>Date</th>
					<th>Type</th>
					<th>Area</th>
				</tr>
				<tr x-ng-repeat="warning in warnings" style='cursor: pointer' x-ng-click="selectMsi(warning)">
					<td>{{formatDate(warning.created)}}</td>
					<td>{{warning.enctext}}</td>
					<td>{{warning.mainArea}} - {{warning.subArea}}</td>
				</tr>
			</table>
		</div>
		<div accordion-group heading="Selected Warning" is-open="selected.open" e-left-bar-content-change="{{selected.msi}}">
			<p>{{selected.msi.text}}</p>
			<table class="table table-condensed" x-ng-if="selected.msi">
				<tr>
					<td>Created</td>
					<td>{{formatDate(selected.msi.created)}}</td>
				</tr>
				<tr>
					<td>Updated</td>
					<td>{{formatDate(selected.msi.updated)}}</td>
				</tr>
				<tr>
					<td>Main Area</td>
					<td>{{selected.msi.mainArea}}</td>
				</tr>
				<tr>
					<td>Sub Area</td>
					<td>{{selected.msi.subArea}}</td>
				</tr>
				<tr>
					<td>Navtex Number</td>
					<td>{{selected.msi.navtexNo}}</td>
				</tr>
			</table>
		</div>
		<div accordion-group heading="Legends">
			<table class="table table-condensed">
				<tr>
					<td style="vertical-align: middle;"><img src="img/msi.png" style="width: 24px; height: 24px"></td>
					<td style="vertical-align: middle;">Maritime Safety Information</td>
				</tr>
			</table>
		</div>
	</div>
</div>