<div id="msiControlPanel" class="controlPanel">
	<div class="accordion" id="msiAccordion">
		<div class="accordion-group">
			<div class="accordion-heading">
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#msiAccordion" href="#msiOverview"> Maritime
						Safety Information </a>
				</h4>
			</div>
			<div id="msiOverview" class="accordion-body collapse in">
				<div class="accordion-inner">
					<h4>Active Warnings</h4>

					<table class="table table-condensed">
					</table>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#msiAccordion" href="#msiSelectedItem">
						Selected Warning </a>
				</h4>
			</div>
			<div id="msiSelectedItem" class="accordion-body collapse">
				<div class="accordion-inner">
					<p></p>
					<table class="table table-condensed">
					</table>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#msiAccordion" href="#msiLegends"> Legends </a>
				</h4>
			</div>
			<div id="msiLegends" class="accordion-body collapse">
				<div class="accordion-inner">
					<table class="table table-condensed">
						<tr>
							<th>Color</th>
							<th>Total Ice Concentration</th>
						</tr>
						<tr>
							<td><span style="background-color: #ff0000; width: 30px; display: block;">&nbsp;</span></td>
							<td>80%-100%</td>
						</tr>
						<tr>
							<td><span style="background-color: #e57425; width: 30px; display: block;">&nbsp;</span></td>
							<td>60%-80%</td>
						</tr>
						<tr>
							<td><span style="background-color: #ffc05e; width: 30px; display: block;">&nbsp;</span></td>
							<td>40%-60%</td>
						</tr>
						<tr>
							<td><span style="background-color: #fdfc39; width: 30px; display: block;">&nbsp;</span></td>
							<td>20%-40%</td>
						</tr>
						<tr>
							<td><span style="background-color: #90fba4; width: 30px; display: block;">&nbsp;</span></td>
							<td>0%-20%</td>
						</tr>
						<tr>
							<td><span style="background-color: #5599ff; width: 30px; display: block;">&nbsp;</span></td>
							<td>0%</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
