<div id="msiControlPanel" class="controlPanel">
	<div class="accordion" id="msiAccordion">
		<div class="accordion-group">
			<div class="accordion-heading">
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#msiAccordion" href="#msiOverview">
                        Active Warnings
                    </a>
				</h4>
			</div>
			<div id="msiOverview" class="accordion-body collapse in">
				<div class="accordion-inner">
					<table class="table table-condensed">
					</table>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#msiAccordion" href="#msiSelectedItem">
						Selected Warning </a>
				</h4>
			</div>
			<div id="msiSelectedItem" class="accordion-body collapse">
				<div class="accordion-inner">
					<p></p>
					<table class="table table-condensed">
					</table>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#msiAccordion" href="#msiLegends"> Legends </a>
				</h4>
			</div>
			<div id="msiLegends" class="accordion-body collapse">
				<div class="accordion-inner">
					<table class="table table-condensed">
						<tr>
							<td style="vertical-align:middle; border-top: none;"><img src="img/msi.png" style="width:24px; height:24px"></td>
							<td style="vertical-align:middle; border-top: none;">Maritime Safety Information</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
