<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BETA Version - BalticWeb - Maritime Cloud </title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>-->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
    <script src="//use.fontawesome.com/40f01fd2ee.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.16.0/ol.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> <!-- still used in the menu dropdowns -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.16.0/ol.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/world-flags/flags16.css" />
    <link rel="stylesheet" href="/libs/world-flags/flags32.css" />

    <!-- build:css style/balticweb.css -->
    <link rel="stylesheet" href="/style/balticweb.css" />
    <link rel="stylesheet" href="/libs/growl2-lib/angular-growl.min.css" />

    <!-- endbuild -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>
<body id="refuse">

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="../index.html"><i class="fa fa-anchor fa-lg" aria-hidden="true" ></i>
                BalticWeb
            </a>
        </div>
        </div>
</nav>
<div class="row"> &nbsp;</div>
<div class="container theme-showcase text-center" role="main">
    <div class="jumbotron">
    <h1><i class="fa fa-exclamation-circle" aria-hidden="true"></i> BalticWeb uses cookies</h1>
    <p> If you want to use the site, you have to accept the use of cookies and local storage.
    Go to <a href="../index.html">BalticWeb</a> and choose OK to accept cookies.</p>
    </div>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-79253295-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
