<div class="controlPanel" x-ng-controller="embryo.ReportController">
	<div class="accordion" id="ycpAccordion">
		<div class="accordion-group" x-ng-show="user.isPermitted('yourShip')">
			<div class="accordion-heading" >
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#ycpAccordion" href="#vcpYourShip"> Your Vessel </a>
				</h4>
			</div>
			<div id="vcpYourShip" class="accordion-body collapse in">
				<div class="accordion-inner">
					<div x-ng-include="'partials/reportComp.html'"></div>
				</div>
			</div>
		</div>
		<div class="accordion-group" x-ng-show="user.isPermitted('greenpos')">
			<div class="accordion-heading">
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#ycpAccordion" href="#vcpGreenpos">Reports</a>
				</h4>
			</div>
			<div id="vcpGreenpos" class="accordion-body collapse">
				<div class="accordion-inner">
					<table class="table table-condensed">
						<tr>
							<th>Greenpos Reports</th>
							<td><a href="report.html#/reportlist/">view</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
