<div x-ng-controller="ReportCompCtrl">
	<h4>Reporting</h4>

	<table class="table table-condensed">
		<tr>
			<th>Vessel Information</th>
			<td><span x-ng-class="shipLabel" class="label">{{shipTxt}}</span></td>
			<td><a id="shipInfo" href="report.html#/vessel/">edit</a></td>
		</tr>
		<tr>
			<th>Schedule</th>
			<td><span x-ng-class="voyageLabel" class="label">{{voyageTxt}}</span></td>
			<td><a id="voyagePlan" x-ng-href="report.html#/voyagePlan/{{ship.mmsi}}/current">edit</a></td>
		</tr>
		<tr>
			<th>Greenpos Report</th>
			<td><span x-ng-class="greenposLabel" class="label">{{greenposTxt}}</span></td>
			<td><a id="greenposReport" href="report.html#/report">report</a></td>
		</tr>
	</table>
</div>
