<div x-ng-controller="embryo.RouteEditCtrl">
	<div>
		<h2>
			<a class="close embryo-close-panel" href="#" style="float: right">&times;</a> Route
		</h2>
	</div>
	<div id="routeEdit">
		<div x-ng-show="alertMessage" class="alert alert-error">{{alertMessage}}</div>
		<div x-ng-show="message" class="alert alert-info">{{message}}</div>

		<form name="routeEditForm" class="form-horizontal route" ng-submit="save()">

			<div class="row-fluid">
				<div class="span6">
					<div class="control-group">
						<label class="control-label" for="name">Name</label>
						<div class="controls">
							<input ng-model="route.name" type="text" id="name" name="name" class="input-large" required /> <span
								x-ng-show="routeEditForm.name.$error.required && routeEditForm.name.$dirty" class="msg-invalid">Value
								required</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label long" for="etaOfDeparture">Estimated time of Departure</label>
						<div class="controls">
							<input x-ng-model="route.etaDep" type="text" id="etaDep" class="input-medium" />
						</div>
					</div>
				</div>

				<div class="span6">
					<div class="control-group">
						<label class="control-label" for="origin">Origin</label>
						<div class="controls">
							<input x-ng-model="route.dep" type="text" id="origin" class="input-large" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="destination">Destination</label>
						<div class="controls">
							<input x-ng-model="route.des" type="text" id="destination" class="input-large" />
						</div>
					</div>
				</div>
			</div>

			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Latitude</th>
						<th>Longitude</th>
						<th>Turn radius (nm)</th>
						<th>Heading</th>
						<th>Speed (kn)</th>
					</tr>
				</thead>

				<tbody>
					<tr name="wayPointsNestedForm" ng-form ng-repeat="wp in route.wps">
						<td><input ng-model="wp.name" class="input-medium" type="text" required /></td>
						<td><input ng-model="wp.latitude" class="input-large" type="text" required /></td>
						<td><input ng-model="wp.longitude" class="input-large" type="text" required /></td>
						<td><input ng-model="wp.turnRad" class="input-medium" type="text" required /></td>
						<td><select
							name="heading" x-ng-model="wp.heading" class="input-large input-heading" required>
							<option label="Rhumb line" value="RL"></option>
							<option label="Great circle" value="GC"></option>
						</select></td>
						<td><input ng-model="wp.speed" class="input-large" type="text" required /></td>
					</tr>
				</tbody>
			</table>

			<div>
				<span class="pull-right">
					<button type="button" class="btn" x-ng-click="reset()" x-ng-disabled="active()">Reset</button>
					<button type="button" class="btn btn-primary" x-ng-click="save()" x-ng-disabled="!saveable()">Save</button>
					<button type="button" class="btn btn-primary" x-ng-click="saveAndActivate()" x-ng-disabled="!saveable()">Save and activate</button>
				</span>
			</div>
		</form>
	</div>
</div>
