<div id="routeupload" x-ng-controller="RouteUploadCtrl">
	<div e-reporting-panel x-ng-if="provider.doShow">
		<div>
			<h2>
				<a class="close" href="#" style="float: right" x-ng-click="close($event)">&times;</a> Upload {{route ? "route" :
				"schedule"}}
			</h2>
		</div>
		<div>

			<div x-ng-show="alertMessages" class="alert alert-danger">
				<span x-ng-repeat="msg in alertMessages">{{msg}}<br /></span>
			</div>
			<div x-ng-show="queue[0].error" class="alert alert-danger">{{queue[0].error}}</div>
			<div x-ng-show="uploadedFile" class="alert alert-info">
				Uploaded <span x-ng-show="activate"> and activated </span> route from file {{file.name}}. Edit the route details <a
					href="#" x-ng-click="edit($event)">here</a>
			</div>

			<form name="uploadRouteForm" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data"
				x-file-upload="options" x-ng-class="{'fileupload-processing' : processing() || loadFiles}"
				class="form-horizontal ng-scope ng-pristine ng-valid">

				<div class="row">
					<div class="col-xs-12">
						<span x-ng-if="voyageInfo">From {{voyageInfo.dep}} <span x-ng-show="voyageInfo.depEta">({{formatDateTime(voyageInfo.depEta)}})</span>
							to {{voyageInfo.des}} <span x-ng-show="voyageInfo.desEta">({{formatDateTime(voyageInfo.desEta)}})</span></span>
					</div>
				</div>
				<div class="row">
					<!-- The global progress information-->
					<div class="col-xs-8">
						<span class="btn fileinput-button btn-sm" x-ng-disabled="active()" x-ng-class="{disabled: disabled}"> <i
							class="fa fa-plus"></i> <span>Choose file</span> <input type="file" name="files[]" x-ng-disabled="disabled" />
						</span> <span class="txt"> <span class="data-label" x-ng-show="queue[0]"> <span>{{queue[0].name}}</span> <span
								class="size">{{queue[0].size | formatFileSize}}</span></span>
						</span>
					</div>
					<div class="col-xs-4">
						<div x-ng-show="names" class="extra">
							<select x-ng-show="fileSupport" x-ng-model="nameFromFile" x-ng-options="name for name in names"
								class="input-large">
							</select> <input x-ng-show="!fileSupport" type="text" placeholder="Name" x-ng-model="nameFromFile" class="input-large">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12" x-ng-class="{in: active()}">
						<!-- The global progress bar -->
						<div class="progress progress-success progress-striped active" x-file-upload-progress="progress()"
							x-ng-show="queue[0]">
							<div class="bar" x-ng-style="{width: num + '%'}"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<span class="pull-right fileupload-buttonbar">
							<button type="button" class="btn btn-sm" x-ng-click="reset()" x-ng-disabled="active()">Reset</button>
							<button type="button" class="btn btn-danger btn-sm cancel" x-ng-click="cancel()"
								x-ng-disabled="!active() || uploaded()">
								<i class="fa fa-ban"></i> <span>Cancel upload</span>
							</button>
							<button type="button" class="btn btn-primary btn-sm start" x-ng-click="submit()"
								x-ng-disabled="!queue[0] || activeVoyage() || uploaded() || uploadRouteForm.$invalid">
								<i class="fa fa-upload"></i> <span>Upload</span>
							</button>
							<button type="button" class="btn btn-primary btn-sm start" x-ng-click="activate.value=true;submit()" x-ng-if="route"
								x-ng-show="!voyageInfo.active" x-ng-disabled="!queue[0] || uploaded() || uploadRouteForm.$invalid">
								<i class="fa fa-upload"></i> <span>Upload and activate</span>
							</button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>