<div id="routeupload">
	<div>
		<h2>
			<a class="close embryo-close-panel" href="#" style="float: right">&times;</a> 
			Upload route
		</h2>
	</div>
	<div id="routeUpload" x-ng-controller="embryo.RouteUploadCtrl">

		<div x-ng-show="queue[0].error" class="alert alert-error">{{queue[0].error}}</div>
		<div x-ng-show="message" class="alert alert-info">{{message}}</div>

		<form name="uploadRouteForm" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data"
			x-file-upload="options" x-ng-class="{'fileupload-processing' : processing() || loadFiles}"
			class="form-horizontal ng-scope ng-pristine ng-valid">

			<div class="row-fluid">
				<div class="span12">
					<span>From {{voyageInfo.dep}} <span x-ng-show="voyageInfo.depEta">({{voyageInfo.depEta}})</span> to {{voyageInfo.des}} <span x-ng-show="voyageInfo.desEta">({{voyageInfo.desEta}})</span></span>
				</div>
			</div>
			<div class="row-fluid">
				<!-- The global progress information-->
				<div class="span5">
					<span class="btn fileinput-button" x-ng-disabled="active()" x-ng-class="{disabled: disabled}"> <i
						class="icon-plus icon-white"></i> <span>Choose file</span> <input type="file" name="files[]"
						x-ng-disabled="disabled">
					</span> <span class="txt"> <span class="data-label" x-ng-show="queue[0]"> <span>{{queue[0].name}}</span> <span
							class="size">{{queue[0].size | formatFileSize}}</span></span>
					</span>
				</div>

				<div class="span7 fade" x-ng-class="{in: active()}">
					<!-- The global progress bar -->
					<div class="progress progress-success progress-striped active" x-file-upload-progress="progress()"
						x-ng-show="queue[0]">
						<div class="bar" x-ng-style="{width: num + '%'}"></div>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<span class="pull-right fileupload-buttonbar">
						<button type="button" class="btn" x-ng-click="reset()" x-ng-disabled="active()">Reset</button>
						<button type="button" class="btn btn-danger cancel" x-ng-click="cancel()" x-ng-disabled="!active() || uploaded()">
							<i class="icon-ban-circle icon-white"></i> <span>Cancel upload</span>
						</button>
						<button type="button" class="btn btn-primary start" x-ng-click="submit()"
							x-ng-disabled="!queue[0] || active() || uploaded() || uploadRouteForm.$invalid">
							<i class="icon-upload icon-white"></i> <span>Upload</span>
						</button>
						<button type="button" class="btn btn-primary start" x-ng-click="uploadAndActivate()"
							x-ng-show="!voyageInfo.active" x-ng-disabled="!queue[0] || active() || uploaded() || uploadRouteForm.$invalid">
							<i class="icon-upload icon-white"></i> <span>Upload and activate</span>
						</button>
					</span>
				</div>
			</div>
		</form>
	</div>

</div>