<div id="scheduleview" class="schedule" x-ng-controller="ScheduleViewCtrl">
	<div id="scheduleViewPanel" e-reporting-panel x-ng-if="provider.doShow">
		<div>
			<h2>
				Schedule <a class="close" href="#" style="float: right" x-ng-hide="state.collapse" x-ng-click="close($event)">&times;</a>
				<button type="button" class="btn btn-primary btn-sm" style="float: right" x-ng-click="state.collapse=false"
					x-ng-hide="!state.collapse">Open Schedule</button>
			</h2>
		</div>

		<div x-ng-hide="state.collapse">
			<div x-ng-show="alertMessage" class="alert alert-danger">{{alertMessage}}</div>
			<div x-ng-show="message" class="alert alert-info">{{message}}</div>

			<form class="form-horizontal">
				<table class="table">
					<thead>
						<tr>
							<th>Location</th>
							<th>Latitude</th>
							<th>Longitude</th>
							<th>Arrival (UTC)</th>
							<th>Departure (UTC)</th>
							<th>Crew</th>
							<th>Passengers</th>
							<th>Doctor</th>
							<th style="width: 70px;"><input type="checkbox" x-ng-model="state.viewAll" x-ng-change="toggleViewAll()" /></th>
						</tr>
					</thead>
					<tbody x-ng-repeat="voyage in voyages" class="content">
						<tr class="voyage" x-ng-class="{warning : activeRouteId && activeRouteId == voyage.route.id}">
							<td>{{voyage.location}}</td>
							<td>{{formatLatitude(voyage.latitude)}}</td>
							<td>{{formatLongitude(voyage.longitude)}}</td>
							<td>{{formatDateTime(voyage.arrival)}}</td>
							<td>{{formatDateTime(voyage.departure)}}</td>
							<td>{{voyage.crew}}</td>
							<td>{{voyage.passengers}}</td>
							<td><span ng-show="voyage.doctor">Yes</span><span ng-show="voyage.doctor==false">No</span></td>
							<td>
								<div x-ng-if="voyage.showRoute">
									<label><input type="checkbox" x-ng-model="voyage.showRoute.value" x-ng-change="checkAll()" /> Show</label>
								</div>
							</td>
						</tr>
						<tr class="route" x-ng-class="{warning : activeRouteId && activeRouteId == voyage.route.id}">
							<td colspan="9"><span x-ng-if="voyage.route">Route <span style="font-style: italic;">{{voyage.route.name}}</span>
									from {{voyage.route.dep}} to {{voyage.route.des}} with {{voyage.route.waypointCount}} way points
							</span> <span x-ng-if="!voyage.route">No route</span></td>
						</tr>
					</tbody>
					<tbody>
						<tr class="lastRow">
							<td colspan="7"></td>
							<td colspan="2">
								<button type="button" class="btn btn-primary btn-sm" x-ng-click="view()">View on Map</button>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>