<div x-ng-controller="SelectedShipCtrl">
	<div id="selectedAesInformation">
		<h4>
			<small style="float: right"><a href="#" id="selectedAesInformationLink">view all</a></small>AIS Information
		</h4>
		<table class="table table-condensed"></table>
	</div>

	<h4>Additional Information</h4>

	<table class="table table-condensed">
		<tr id="viewHistoricalTrack">
			<th>Historical Track</th>
			<td><span class="label"></span></td>
			<td><a>view</a></td>
		</tr>

        <tr>
			<th>Planned Route</th>
			<td><span x-ng-class="routeLabel" class="label">{{routeTxt}}</span></td>
			<td><a x-ng-click="toggleShow()" x-ng-show="routeLinkTxt">{{routeLinkTxt}}</a></td>
		</tr>

        <tr>
			<th>METOC</th>
			<td><span x-ng-class="metocLabel" class="label">{{metocTxt}}</span></td>
			<td><a x-ng-click="toggleShowMetoc()" x-ng-show="metocLinkTxt">{{metocLinkTxt}}</a></td>
		</tr>

        <tr id="viewDistanceCircleSog">
            <th>3-6-9 hour distance circle based on SOG</th>
            <td><span class="label"></span></td>
            <td><a>view</a></td>
        </tr>

        <tr id="viewNearestShips">
            <th>Nearest Ships</th>
            <td><span class="label"></span></td>
            <td><a>view</a></td>
        </tr>
	</table>
</div>
