<div x-ng-controller="SettingsCtrl">
	<div e-reporting-panel x-ng-if="provider.doShow">
		<h2>
			<a class="close" href="#" style="float: right" x-ng-click="close($event)">&times;</a> Settings - {{title}}
		</h2>
		<form name="settingsForm" class="form-horizontal" novalidate>
			<div x-ng-show="alertMessages" class="alert alert-danger">
				<span x-ng-repeat="msg in alertMessages">{{msg}}<br /></span>
			</div>
			<div x-ng-show="message" class="alert alert-info">{{message}}</div>
			<div class="form-group" x-ng-repeat="setting in settings">
				<label for="setting{{$index}}" class="col-sm-5 control-label">{{setting.text}}</label>
				<div class="col-sm-5">
					<input type="{{setting.type}}" class="form-control input-sm" id="setting{{$index}}" x-ng-model="setting.value">
				</div>
				<span class="col-sm-2 control-label">{{setting.unit}}</label>
			</div>

			<div class="form-group">
				<span class="pull-right">
					<button type="button" class="btn btn-primary btn-sm" x-ng-click="save()">Save</button>
				</span>
			</div>
		</form>
	</div>
</div>