
<!-- div ng-hide="!showgraphSidebar" ng-class="showgraphSidebar ? 'maritimeweb-sidebar col-xs-9 col-sm-3  col-md-3 sidebar' : 'hidden '" -->
<div uib-collapse="!showgraphSidebar" class="maritimeweb-sidebar col-xs-9 col-sm-3  col-md-3 sidebar" >

    <uib-tabset>

        <!-- Vessels tab -->
        <uib-tab>
            <uib-tab-heading>
                <img src="/img/vessel_gray.png" />
                &nbsp;Vessels
                <span class="badge sidebar-badge" ng-bind="vessels.length"></span>
            </uib-tab-heading>
            <div class="sidebar-panel">

                <div ng-if="!loggedIn" class="well">
                    <p>Log in to see vessels</p>
                    <button class="btn btn-default" ng-click="login()">Login</button>
                </div>

                <table class="table table-striped" >
                    <tr ng-repeat="vessel in vessels | orderBy: 'mmsi' | limitTo: 100">
                        <td width="24" class="vessel-item">
                            <img ng-src="{{iconForVessel(vessel)}}">
                        </td>
                        <td class="vessel-item"><span ng-if="vessel.mmsi">{{vessel.mmsi}}</span></td>
                        <td class="vessel-item"><a ng-href="#/vessel/{{vessel.mmsi}}">{{vessel.name}}</a></td>
                        <td class="vessel-item">{{toLonLat(vessel) | lonlat:{ decimals : 3, pp: true } }}</td>
                    </tr>
                </table>
            </div>
        </uib-tab>


        <!-- NW-NM tab -->
        <uib-tab>
            <uib-tab-heading>
                <img src="/img/nwnm/nw.png" height="16"/>
                NW-NM
                <span class="badge sidebar-badge" ng-bind="nwNmMessages.length"></span>
            </uib-tab-heading>

            <div class="panel" ng-class="(nwNmServicesStatus=='true') ? 'panel-primary' : 'panel-default'" >
                <div class="panel-heading">MC NW-NM Services  <small tooltip="Refresh" class="glyphicon glyphicon-refresh" ng-click="refreshNwNmServices()"></small>

                    <div class="small pull-right">
                        Display &nbsp;&nbsp;
                        <input type="checkbox" ng-model="nwNmType.NW" ng-change="nwNmTypeChanged()">&nbsp;NW
                        &nbsp;&nbsp;
                        <input type="checkbox" ng-model="nwNmType.NM" ng-change="nwNmTypeChanged()">&nbsp;NtM
                    </div>
                </div>

                <div class="panel-body">
                    <div class="message-service" ng-repeat="s in nwNmServices">
                        <input type="checkbox" ng-model="s.selected" ng-change="nwNmSelected(s)">&nbsp;{{s.name}}
                    </div>
                <table class="table table-striped">
                    <tr ng-repeat-start="msg in nwNmMessages" ng-if="$index == 0 || nwnmAreaHeading($index) != nwnmAreaHeading($index - 1)">
                        <td colspan="2"  class="message-area-heading">
                            {{nwnmAreaHeading($index)}}
                        </td>
                    </tr>
                    <tr ng-repeat-end>
                        <td width="20" align="left" class="message-item">
                            <img ng-if="msg.mainType == 'NM'" src="/img/nwnm/nm.png" height="20"/>
                            <img ng-if="msg.mainType == 'NW'" src="/img/nwnm/nw.png" height="20"/>
                        </td>
                        <td width="*" class="message-item">
                            <span ng-if="msg.shortId" class="badge label-message-id">{{msg.shortId}}</span>
                            <a href ng-click="showNwNmDetails(msg)">{{msg.descs[0].title}}</a>
                        </td>
                    </tr>
                </table>
                </div>
            </div>

        </uib-tab>

        <uib-tab>
            <uib-tab-heading>
                <span class="glyphicon glyphicon-globe"></span> Satellite
            </uib-tab-heading>
            <div class="panel panel-default">

                <!-- <div ng-if="!loggedIn" class="well">
                    <p>Log in to see satellite images</p>
                    <button class="btn btn-default" ng-click="login()">Login</button>
                </div>-->

                    <!-- Default panel contents -->
                    <div class="panel-heading"><span class="glyphicon glyphicon-globe"></span> Nasa Satellite images</div>
                    <div class="panel-body">
                        <p>Browse satellite imagery</p>
                    </div>

                    <!-- Table -->
                    <table class="table" ng-repeat="aService in mapWeatherLayers.getLayers().getArray()" >

                        <tr ng-class="{'active':aService.getVisible()}">
                        <td>    <a href="#" ng-bind="aService.get('title')" ng-click="toggleLayer(aService)" ></a></td>
                        </tr>

                    </table>
                <div class="panel-footer">
                    <p class="small">Disclamer: We acknowledge the use of data products or imagery from the Land, Atmosphere Near real-time
                        Capability for EOS (LANCE) system operated by the NASA/GSFC/Earth Science Data and Information System (ESDIS) with funding provided by NASA/HQ.</p>
                </div>

                </div>

        </uib-tab>


    </uib-tabset>

</div>
