<div x-ng-controller="VesselInformationEditCtrl" >
	<div e-reporting-panel x-ng-if="provider.doShow" id="vesselInformationEditPanel">
		<h2>
			<a class="close" href="#" style="float: right" x-ng-click="close($event)">&times;</a> Vessel Information
		</h2>
		<p>Static information is expected maintained mainly in the vessels' AIS transponder. Additional information
			valuable in the Arctic region may be shared below.</p>
		<form name="vesselForm" class="form-horizontal" novalidate>
			<div x-ng-show="alertMessages" class="alert alert-danger">
				<span x-ng-repeat="msg in alertMessages">{{msg}}<br /></span>
			</div>
			<div x-ng-show="message" class="alert alert-info">{{message}}</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="control-group form-group row">
						<label class="e-control-label">MMSI</label>
						<div class="controls txt">
							<span>{{vessel.mmsi}}</span>
						</div>
					</div>
					<div class="control-group form-group row">
						<label class="e-control-label" for="maxSpeed">Max Speed (kn)</label>
						<div class="controls col-xs-3">
							<input type="text" id="maxSpeed" name="maxSpeed" class="input-sm form-control" x-ng-model="vessel.maxSpeed"
								x-embryo-decimal />
						</div>
					</div>
					<div class="control-group form-group row">
						<label class="e-control-label" for="iceClass">Ice Class</label>
						<div class="controls col-xs-3">
							<input type="text" id="iceClass" class="input-sm form-control" x-ng-model="vessel.iceClass" />
						</div>
					</div>
				</div>

				<div class="col-xs-6">
					<div class="control-group form-group row">
						<label class="e-control-label" for="gTonnage">Gross Tonnage</label>
						<div class="controls col-xs-3">
							<input type="number" id="gTonnage" name="gTonnage" class="input-sm form-control" x-ng-model="vessel.grossTon"
								min="0" /> <span x-ng-show="vesselForm.gTonnage.$error.min" class="msg-invalid">Expected positive number</span>
						</div>
					</div>
					<div class="control-group form-group row">
						<label class="e-control-label" for="people">Estimated Rescue Capacity (Persons)</label>
						<div class="controls col-xs-3">
                            <input type="number" id="people" class="input-sm form-control"
                                   x-ng-model="vessel.maxPersons"/>
						</div>
					</div>
					<div class="control-group form-group row">
						<label class="e-control-label" for="helipad">Helipad</label>
						<div class="controls col-xs-3">
							<select id="helipad" x-ng-model="vessel.helipad" class="input-sm form-control"
								x-ng-options="value as key for (key, value) in helipadOptions">
								<option></option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="control-group form-group row">
						<label class="e-control-label" for="commCapabilities">Communication Capabilities</label>
						<div class="controls col-xs-6">
                            <input type="text" id="commCapabilities" name="commCapabilities"
                                   class="input-sm form-control" x-ng-model="vessel.commCapabilities"
                                   x-ng-maxlength="128"/>
                            <span x-ng-show="vesselForm.commCapabilities.$error.maxlength"
                                  class="msg-invalid">No more than 255 characters and numbers allowed</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<span class="pull-right">
					<button type="button" class="btn btn-sm" x-ng-click="reset()">Reset</button> &nbsp;
					<button type="button" class="btn btn-primary btn-sm" x-ng-click="save()"
                            x-ng-disabled="vesselForm.$invalid">Save
                    </button>
				</span>
			</div>
		</form>
	</div>
</div>