<div id="aesModal" class="modal hide fade" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h2>AIS Information</h2>
	</div>
	<div class="modal-body">
		<p>
		<table class="table table-condensed"></table>
		</p>
		<p>
		<form>
			<button class="btn btn-primary" role="button" data-toggle="modal" data-dismiss="modal">Close</button>
		</form>
		</p>
	</div>
</div>

<div id="vesselControlPanel" class="controlPanel">
	<div class="accordion" id="ycpAccordion">
		<div class="accordion-group">
			<div class="accordion-heading">
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#ycpAccordion" href="#vcpYourShip"> Your Vessel </a>
				</h4>
			</div>
			<div id="vcpYourShip" class="accordion-body collapse">
				<div class="accordion-inner">
					<div id="yourShipAesInformation">
						<h4>
							<small style="float: right"><a href="#" id="yourShipAesInformationLink">view all</a></small>AIS Information
						</h4>
						<table class="table table-condensed"></table>
					</div>

					<div x-ng-include="'partials/reportComp.html'"></div>

					<h4>Additional Information</h4>

					<table class="table table-condensed additional-information" id="yourShipAdditionalInformation">
					</table>

				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#ycpAccordion" href="#vcpSearch"> Search Ships
					</a>
				</h4>
			</div>
			<div id="vcpSearch" class="accordion-body collapse">
				<div class="accordion-inner">
					<form>
						<p>
							<input type="text" id="searchField" class="input-medium search-query" style="width: 235px">
						</p>

						<p id="searchLoad">
							<img src="img/load.gif">
						</p>
						<div id="searchResultsContainer"></div>
						<p id="searchMatch"></p>

					</form>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#ycpAccordion" href="#vcpSelectedShip">
						Selected Ship </a>
				</h4>
			</div>
			<div id="vcpSelectedShip" class="accordion-body collapse">
				<div class="accordion-inner">
                    <div id="selectedAesInformation">
                        <h4>
                            <small style="float: right"><a href="#" id="selectedAesInformationLink">view all</a></small>AIS Information
                        </h4>
                        <table class="table table-condensed"></table>
                    </div>

                    <h4>Additional Information</h4>

                    <table class="table table-condensed additional-information" id="selectedShipAdditionalInformation">
                    </table>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<h4>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#ycpAccordion" href="#vcpLegends"> Legends </a>
				</h4>
			</div>
			<div id="vcpLegends" class="accordion-body collapse">
				<div class="accordion-inner">
					<table class="table table-condensed">
						<tr>
							<td><img src="img/vessel_blue.png" /></td>
							<td>Passenger</td>
						</tr>
						<tr>
							<td><img src="img/vessel_green.png" /></td>
							<td>Cargo</td>
						</tr>
						<tr>
							<td><img src="img/vessel_red.png" /></td>
							<td>Tanker</td>
						</tr>
						<tr>
							<td><img src="img/vessel_yellow.png" /></td>
							<td>High speed craft and WIG</td>
						</tr>
						<tr>
							<td><img src="img/vessel_orange.png" /></td>
							<td>Fishing</td>
						</tr>
						<tr>
							<td><img src="img/vessel_purple.png" /></td>
							<td>Sailing and pleasure</td>
						</tr>
						<tr>
							<td><img src="img/vessel_turquoise.png" /></td>
							<td>Pilot, tug and others</td>
						</tr>
						<tr>
							<td><img src="img/vessel_gray.png" /></td>
							<td>Undefined / unknown</td>
						</tr>
						<tr>
							<td><img src="img/vessel_white.png" /></td>
							<td>Sailing</td>
						</tr>
						<tr>
							<td><img src="img/vessel_white_moored.png" /></td>
							<td>Anchored/Moored</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
