<div x-ng-controller="embryo.VesselInformationViewCtrl">
    <h2>
        <a class="close embryo-close-panel" href="#" style="float: right">&times;</a> Vessel Information
    </h2>
    <p>Static information about the vessel is expected maintained mainly in the vessels AIS transponder.</p>
    <form class="form-horizontal" novalidate>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <div class="control-label">MMSI</div>
                    <div class="controls" style="padding-top: 5px">{{vessel.mmsi}}</div>
                </div>
                <div class="control-group">
                    <div class="control-label">Max Speed (kn)</div>
                    <div class="controls txt">
                        {{vessel.maxSpeed}}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">Ice Class</div>
                    <div class="controls txt">
                        {{vessel.iceClass}}
                    </div>
                </div>
            </div>

            <div class="span6">
                <div class="control-group">
                    <div class="control-label">Gross Tonnage</div>
                    <div class="controls txt">
                        {{vessel.grossTon}}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">Estimated Rescue Capacity (Persons)</div>
                    <div class="controls txt">
                        {{vessel.maxPersons}}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">Helipad</div>
                    <div class="controls txt">
                        <span ng-show="vessel.helipad">Yes</span>
                        <span ng-show="!vessel.helipad">No</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <div class="control-label">Communication Capabilities</div>
                    <div class="controls txt">
                        {{vessel.commCapabilities}}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>