<div x-ng-controller="embryo.VesselInformationEditCtrl">
    <h2>
        <a class="close embryo-close-panel" href="#" style="float: right">&times;</a> Vessel Information
    </h2>
    <p>Static information is expected maintained mainly in the vessels' AIS transponder. Additional
        information valuable in the Arctic region may be shared below.</p>
    <form name="vesselForm" class="form-horizontal" novalidate>
        <div x-ng-show="alertMessages" class="alert alert-error">
			<span ng-repeat="msg in alertMessages">{{msg}}<br /></span>
	 	</div>
        <div x-ng-show="message" class="alert alert-info">{{message}}</div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">MMSI</label>
                    <div class="controls txt">
                        <span>{{vessel.mmsi}}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="maxSpeed">Max Speed (kn)</label>
                    <div class="controls">
                        <input type="text" id="maxSpeed" name="maxSpeed" class="input-small" x-ng-model="vessel.maxSpeed" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="iceClass">Ice Class</label>
                    <div class="controls">
                        <input type="text" id="iceClass" class="input-small" x-ng-model="vessel.iceClass" />
                    </div>
                </div>
            </div>

            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="gTonnage">Gross Tonnage</label>
                    <div class="controls">
                        <input type="number" id="gTonnage" name="gTonnage" class="input-small" x-ng-model="vessel.grossTon" min="0" /> <span
                            x-ng-show="vesselForm.gTonnage.$error.min" class="msg-invalid">Expected positive number</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="people">Estimated Rescue Capacity (Persons)</label>
                    <div class="controls">
                        <input type="text" id="people" class="input-small" x-ng-model="vessel.maxPersons" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="helipad">Helipad</label>
                    <div class="controls">
                        <select id="helipad" x-ng-model="vessel.helipad" class="input-small"
                                ng-options="value as key for (key, value) in helipadOptions">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <label class="control-label" for="commCapabilities">Communication Capabilities</label>
                    <div class="controls">
                        <input type="text" id="commCapabilities" class="input-xxlarge" x-ng-model="vessel.commCapabilities" />
                    </div>
                </div>

            </div>
        </div>

        <div class="row-fluid">
			<span class="pull-right">
				<button type="button" class="btn" x-ng-click="reset()">Reset</button>
                &nbsp;
				<button type="button" class="btn btn-primary" x-ng-click="save()">Save</button>
			</span>
        </div>
    </form>
</div>