<div x-ng-controller="VesselController">
	
	<div id="vesselControlPanel" accordion close-others="true" e-left-bar open-first="true" class="controlPanel2">
		<div requires-permissions="Reporting,Administration" accordion-group heading="Reports">
			<div x-ng-controller="ReportingController">
				<p>Vessel that have reported within the last 7 days.</p>

				<table class="table table-condensed">
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Time (UTC)</th>
						<th></th>
					</tr>
					<tbody>
						<tr x-ng-repeat="report in reports" x-ng-class="{alert : (selectedReport.mmsi == report.mmsi)}">
							<td>{{report.name}}</td>
							<td>{{report.type}}</td>
							<td>{{report.ts}}</td>
							<td><a x-ng-click="selectVessel($event, report)" href=#>view vessel</a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		
		<div accordion-group heading="Your Vessel {{vesselScope.yourVesselName ? ' - ' + vesselScope.yourVesselName : ''}}" requires-permissions="Sailor">
			<div x-ng-controller="YourVesselControl">
				<h4>
					AIS Information<small style="float: right"><a href="#" x-ng-click="viewAis($event)">view all</a></small>
				</h4>
				
				<span class='label label-important' x-ng-if="!yourAis">AIS UNAVAILABLE</span>

				<table class="table table-condensed" x-ng-if="yourAis">
					<tr x-ng-repeat="ais in yourAis">
						<th>{{ais.text}}</th>
						<td>{{ais.value}}</td>
					</tr>
				</table>

				<div x-ng-repeat="section in sections">
					<h4>{{section.name}}</h4>
					<table class="table table-condensed">
						<tr x-ng-repeat="service in section.services" class="alert" x-ng-class="service.alert()">
							<th>{{service.name}}</th>
							<td><span class="label" x-ng-class="service.statusClass()">{{service.statusText()}}</span></td>
							<td><a x-ng-if="service.type==='edit' || service.statusClass()==='label-success'" href=#
								x-ng-click="service.toggle($event)">{{service.text()}}</a></td>
						</tr>
					</table>
				</div>

				<div x-ng-controller="MapInformationController">
					<h4>Extra Information on Map</h4>
					<table class="table table-condensed">
						<tr class="alert">
							<th>Clear all information</th>
							<td><span class="label label-success" x-ng-if="selectedDrawnOnMap()">AVAILABLE</span><span
								class="label label-default" x-ng-if="!selectedDrawnOnMap()">NOT AVAILABLE</span></td>
							<td><a x-ng-if="selectedDrawnOnMap()" href=# x-ng-click="clearSelectedOnMap($event)">clear</a></td>
						</tr>
					</table>
				</div>

			</div>
		</div>
		<div accordion-group heading="Search Vessels">
			<form x-ng-controller="SearchVesselController">
				<p>
					<input type="text" x-ng-model="searchField" placeholder="Enter search term"
						class="input-sm search-query form-control" autocapitalize="off" autocorrect="off" autocomplete="off">
				</p>
				<div x-ng-if="searchResults.length <= searchResultsLimit">
					<div x-ng-repeat="vessel in searchResults" class="searchResultItem">
						<a href="#" class="panelText" x-ng-click="select($event, vessel)">{{vessel.name}} <font x-ng-if="vessel.inAW"
							color=#0080C0>AW</font>
						</a>
					</div>
				</div>
				<p id="searchMatch" x-ng-if="searchResults && searchResults.length > 0">{{searchResults.length}}
					vessel{{searchResults.length > 1 ? 's' : ''}} match
				<p>
			</form>
		</div>
		
		<!-- 
		e-left-bar-content-change="{{selected}}"
		 -->
		<div accordion-group heading="Selected Vessel {{selected.vesselName ? ' - ' + selected.vesselName : ''}}" is-open="selected.open" >
			<div x-ng-if="selected.vesselAis || selected.sections">
				<h4>
					AIS Information<small style="float: right"><a href="#" x-ng-click="viewAis($event)">view all</a></small>
				</h4>
				<span class='label label-important' x-ng-if="!selected.vesselAis">AIS UNAVAILABLE</span>

				<table class="table table-condensed" x-ng-if="selected.vesselAis">
					<tr x-ng-repeat="ais in selected.vesselAis">
						<th>{{ais.text}}</th>
						<td>{{ais.value}}</td>
					</tr>
				</table>

				<div x-ng-repeat="section in selected.sections">
					<h4>{{section.name}}</h4>
					<table class="table table-condensed">
						<tr x-ng-repeat="service in section.services" class="alert" x-ng-class="service.alert()">
							<th>{{service.name}}</th>
							<td><span class="label" x-ng-class="service.statusClass()">{{service.statusText()}}</span></td>
							<td><a x-ng-if="service.type==='edit' || service.statusClass()==='label-success'" href=#
								x-ng-click="service.toggle($event)">{{service.text()}}</a></td>
						</tr>
					</table>
				</div>
			</div>
			<div x-ng-controller="MapInformationController">
				<h4>Extra Information on Map</h4>
				<table class="table table-condensed">
					<tr class="alert">
						<th>Clear all information</th>
						<td><span class="label label-success" x-ng-if="selectedDrawnOnMap()">AVAILABLE</span><span
							class="label label-default" x-ng-if="!selectedDrawnOnMap()">NOT AVAILABLE</span></td>
						<td><a x-ng-if="selectedDrawnOnMap()" href=# x-ng-click="clearSelectedOnMap($event)">clear</a></td>
					</tr>
				</table>
			</div>
		</div>

		<div accordion-group heading="Legends">
			<table class="table table-condensed">
				<tr>
					<td><img src="img/vessel_blue.png" /></td>
					<td>Passenger</td>
				</tr>
				<tr>
					<td><img src="img/vessel_green.png" /></td>
					<td>Cargo</td>
				</tr>
				<tr>
					<td><img src="img/vessel_red.png" /></td>
					<td>Tanker</td>
				</tr>
				<tr>
					<td><img src="img/vessel_yellow.png" /></td>
					<td>High speed craft and WIG</td>
				</tr>
				<tr>
					<td><img src="img/vessel_orange.png" /></td>
					<td>Fishing</td>
				</tr>
				<tr>
					<td><img src="img/vessel_purple.png" /></td>
					<td>Sailing and pleasure</td>
				</tr>
				<tr>
					<td><img src="img/vessel_turquoise.png" /></td>
					<td>Pilot, tug and others</td>
				</tr>
				<tr>
					<td><img src="img/vessel_gray.png" /></td>
					<td>Undefined / unknown</td>
				</tr>
				<tr>
					<td><img src="img/vessel_white.png" /></td>
					<td>Sailing</td>
				</tr>
				<tr>
					<td><img src="img/vessel_white_moored.png" /></td>
					<td>Anchored/Moored</td>
				</tr>
				<tr>
					<td class="aw">AW</td>
					<td>Vessel participating in ArcticWeb</td>
				</tr>
			</table>
		</div>
	</div>
</div>