<div class="modal-header">
    <h3 class="modal-title">Welcome to BalticWeb - <strong>BETA</strong> version</h3>
    <p class="lead">the site is not operational yet. You are welcome to try-it out in its current state.</p>
</div>
<div class="modal-body">
    <div ng-include="'partials/about.html'"></div>
</div>

<div class="modal-footer">
    <div class="col-md-12 text-center">
        I hereby accept the use of cookies<br/>
        <button class="btn btn-success" type="button" ng-click="accept()">
            <i class="fa fa-check" aria-hidden="true"></i> Accept
        </button>
        <button class="btn btn-danger" type="button" ng-click="refuse()"><i class="fa fa-ban" aria-hidden="true"></i>
            Refuse
        </button>
    </div>
</div>