<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BalticWeb - Danish Maritime Authority </title>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="http://openlayers.org/en/v3.14.2/css/ol.css" type="text/css">
    <link rel="stylesheet" href="prototype/css/ext/ol3-layerswitcher.css" />
    <link rel="stylesheet" href="prototype/css/layerswitch/scroll.css" />
    <link rel="stylesheet" href="prototype/css/balticweb.css" />

    <script src="http://openlayers.org/en/v3.14.2/build/ol.js" type="text/javascript"></script>

    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body ng-app="maritimeweb">
<div ng-controller="MapController">
    <!--<div ng-controller="balticWebMap">-->


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BalticWeb</a>
                <span><a href="#"><div id="scale-line" class="scale-line"></div></a></span>
                <button type="button" class="navbar" >

                     <span class="active"><a href="#" id="pan-to-myposition"><span class="glyphicon glyphicon-screenshot"></span></a></span></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Home</a></li>-->
                    <!--<li class="active"><a href="#" id="pan-to-myposition"><span class="glyphicon glyphicon-screenshot"></span> Pan to my position</a></li>-->

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Basemaps <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="layer in layerGroupBasemaps" ><a href="#" ng-bind="layer.get('title')"></a></li>
                            <!--<li><a href="#">Page 1-1</a></li>-->
                        </ul>
                    </li>
                    <li><a href="#" id="client-position" class="mouse-position">{{myHDMSPosition}}</a></li>
                    <li><a href="#" id="mouse-position" class="mouse-position"></a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div id="map" class="col-md-10 col-sm-9" >
            </div>

            <div class="col-md-2 col-sm-3 sidebar">

                <uib-accordion >
                    <uib-accordion-group is-open="status.vessel.open">
                        <uib-accordion-heading>
                            Vessels <span class="badge info" ng-bind="layerGroupVessels.length"></span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.vessel.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>
                        <!-- List group -->
                        <ul class="list-group">
                             <li class="list-group-item text-primary" ng-repeat="layer in layerGroupVessels" ng-bind="layer.get('title')"></li>
                        </ul>
                    </uib-accordion-group>

                    <uib-accordion-group is-open="status.notices.open">
                        <uib-accordion-heading>
                            Notices <span class="badge info" ng-bind="layerGroupNotices.length"></span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.notices.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>
                        <div class="list-group-item text-primary" ng-repeat="layer in layerGroupNotices" ng-bind="layer.get('title')"></div>
                    </uib-accordion-group>

                    <uib-accordion-group is-open="status.weather.open">
                        <uib-accordion-heading>
                            Weather <span class="badge info" ng-bind="layerGroupWeather.length"></span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.weather.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>
                        <div class="list-group-item text-primary" ng-repeat="layer in layerGroupWeather" ng-bind="layer.get('title')"></div>
                    </uib-accordion-group>

                    <uib-accordion-group is-open="status.atons.open">
                        <uib-accordion-heading>
                            Atons <span class="badge info" ng-bind="layerGroupAtons.length"></span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.atons.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>
                        <div class="list-group-item text-primary" ng-repeat="layer in layerGroupAtons" ng-bind="layer.get('title')"></div>
                    </uib-accordion-group>
                </uib-accordion>


                <uib-accordion close-others="oneAtATime">
                    <uib-accordion-group >
                        <uib-accordion-heading>
                            Vessels within area <span class="badge info" ng-bind="vessels.length"></span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>


                        <div class="list-group-item text-primary" ng-repeat="vessel in vessels | limitTo: 100">
                            {{vessel.name}} x:{{vessel.x}} y:{{vessel.y}} angle:{{vessel.angle}}  {{vessel.type}} mmsi:{{vessel.mmsi}} {{vessel.callsign}} {{vessel.moored}}
                        </div>

                        <div class="list-group-item text-primary">
                            <span class="badge" ng-bind="clientBBox"></span> <span class="badge" ng-bind="vesselsStatus"></span> <!--span class="badge" ng-bind="lastFetchTimestamp"></span-->
                        </div>

                    </uib-accordion-group>
                </uib-accordion>

                <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="{{alert.timeout}}">{{alert.msg}}</uib-alert>

            </div>




        </div><!-- row end -->
        <div id="popup">O</div>
        <!--/div> container end -->
    </div><!-- container end -->
</div>

<script src="prototype/maps_and_layers/ol3-layerswitcher.js"></script>
<script src="prototype/maps_and_layers/maps_and_layers.js" type="text/javascript"></script>
<script src="prototype/vessel/vessel-layer.js" type="text/javascript"></script>
<script src="prototype/vessel/vessel-ais-service.js" type="text/javascript"></script>
<script src="prototype/nw-nm/nw-nm-layer.js" type="text/javascript"></script>
<script src="prototype/maps_and_layers/location-service.js" type="text/javascript"></script>

<script src="prototype/js/position.js" type="text/javascript"></script>
<script src="prototype/js/app.js" type="text/javascript"></script>

</body>
</html>