<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>ArcticWeb - Greenland</display-name>

    <context-param>
        <param-name>shiroEnvironmentClass</param-name>
        <param-value>dk.dma.arcticweb.site.ShiroWebEnvironment</param-value>
    </context-param>

    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>CacheForeverFilter</filter-name>
        <filter-class>dk.dma.embryo.servlets.CacheForeverFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CacheForeverFilter</filter-name>
        <url-pattern>/map/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SetCacheManifestContentTypeFilter</filter-name>
        <filter-class>dk.dma.embryo.servlets.SetContentTypeFilter</filter-class>
        <init-param>
            <param-name>ContentType</param-name>
            <param-value>text/cache-manifest</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>SetCacheManifestContentTypeFilter</filter-name>
        <url-pattern>/map.cache-manifest</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>front.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <description></description>
        <servlet-name>JsonProxyServlet</servlet-name>
        <servlet-class>dk.dma.arcticweb.site.proxy.JsonProxyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonProxyServlet</servlet-name>
        <url-pattern>/json_proxy/*</url-pattern>
    </servlet-mapping>

</web-app>
