<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>ArcticWeb - Greenland</display-name>

    <!-- Overwrite default security configuration -->
    <context-param>
        <param-name>shiroConfigLocations</param-name>
        <param-value>classpath:arcticweb-shiro.ini</param-value>
    </context-param>

    <filter>
        <filter-name>DynamicResourceLoggingFilter</filter-name>
        <filter-class>dk.dma.embryo.common.servlet.DynamicResourceLoggingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>DynamicResourceLoggingFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <!--
    <filter>
        <filter-name>StaticResourceLoggingFilter</filter-name>
        <filter-class>dk.dma.embryo.common.servlet.StaticResourceLoggingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>StaticResourceLoggingFilter</filter-name>
        <url-pattern>/docs/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaticResourceLoggingFilter</filter-name>
        <url-pattern>/css/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaticResourceLoggingFilter</filter-name>
        <url-pattern>/js/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaticResourceLoggingFilter</filter-name>
        <url-pattern>/img/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaticResourceLoggingFilter</filter-name>
        <url-pattern>/partials/*</url-pattern>
    </filter-mapping>
-->

    <filter>
        <filter-name>CacheForeverFilter</filter-name>
        <filter-class>dk.dma.embryo.common.servlet.CacheForeverFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CacheForeverFilter</filter-name>
        <url-pattern>/map/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SetCacheManifestContentTypeFilter</filter-name>
        <filter-class>dk.dma.embryo.common.servlet.SetContentTypeFilter</filter-class>
        <init-param>
            <param-name>ContentType</param-name>
            <param-value>text/cache-manifest</param-value>
        </init-param>
    </filter>

    <!--
    <filter>
        <filter-name>ExpiresFilter</filter-name>
        <filter-class>dk.dma.embryo.common.servlet.ExpiresFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ExpiresFilter</filter-name>
        <url-pattern>/js/ext/*</url-pattern>
    </filter-mapping>
-->

    <filter-mapping>
        <filter-name>SetCacheManifestContentTypeFilter</filter-name>
        <url-pattern>/map.appcache</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SetCacheManifestContentTypeFilter</filter-name>
        <url-pattern>/index.appcache</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SetCacheManifestContentTypeFilter</filter-name>
        <url-pattern>/content.appcache</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


</web-app>
