<div>

    <div class="modal-body print" style="padding-bottom: 0">

        <div ng-if="warning">
            <h2>{{warning}}</h2>
        </div>

        <div ng-if="msg">

            <ol-map ng-if="hasGeometry()" class="message-details-map">
                <map-tile-layer name="OSM" visible="true" source="OSM"></map-tile-layer>
                <map-nw-nm-layer name="Message" message="msg" fit-extent="true"></map-nw-nm-layer>
            </ol-map>

            <button type="button" class="close dialog-close-btn" ng-click="$dismiss('aborted')">x</button>

            <td class="message-details-item">


                <!-- Title line -->
                <div ng-if="msg.originalInformation">&#10029;</div>

                <div ng-if="msg.shortId"><span class="badge label-message-id">{{msg.shortId}}</span></div>
                <div>
                    <strong>{{msg.descs[0].title}}</strong>
                    <span ng-if="msg.descs[0].lang != 'en'" style="color: darkgray;">
                        <img ng-src="/img/nwnm/flags/{{msg.descs[0].lang}}.png" style="height: 12px; opacity: 0.5;"/>
                    </span>
                </div>

                <table class="message-details-item-fields">

                    <!-- Reference lines -->
                    <tr ng-if="msg.references && msg.references.length > 0">
                        <th>References</th>
                        <td>
                            <div ng-repeat="ref in msg.references">
                                <span>{{ref.messageId}}</span>
                                <span ng-switch="ref.type">
                                    <span ng-switch-when="REPETITION">(repetition)</span>
                                    <span ng-switch-when="REPETITION_NEW_TIME">(repetition with new time)</span>
                                    <span ng-switch-when="CANCELLATION">(cancellation)</span>
                                    <span ng-switch-when="UPDATE">(updated repetition)</span>
                                </span>
                                <span ng-if="ref.descs && ref.descs.length > 0 && ref.descs[0].description">
                                    - {{ref.descs[0].description}}
                                </span>
                            </div>
                        </td>
                    </tr>


                    <!-- Details line -->
                    <tr ng-if="msg.parts" ng-repeat="part in msg.parts">
                        <th>
                            <span ng-if="$index == 0 || msg.parts[$index].type != msg.parts[$index - 1].type">
                                {{part.type.toLowerCase()}}
                            </span>
                        </th>
                        <td class="message-description">
                            <div ng-if="part.descs">
                                <p ng-if="part.descs[0].subject"><strong>{{part.descs[0].subject}}</strong></p>
                                <div ng-if="part.descs[0].details" ng-bind-html="part.descs[0].details | toTrusted"></div>
                            </div>
                        </td>
                    </tr>


                    <!-- Charts line -->
                    <tr ng-if="msg.charts.length > 0">
                        <th>Charts</th>
                        <td>
                            <span ng-repeat="chart in msg.charts">
                                <span ng-if="!$first">, </span>
                                {{chart.chartNumber}}
                                <span ng-if="chart.internationalNumber">(INT {{chart.internationalNumber}})</span>
                            </span>
                        </td>
                    </tr>


                    <!-- Source line -->
                    <tr ng-if="msg.descs[0].source">
                        <td colspan="2" class="text-right">({{msg.descs[0].source}})</td>
                    </tr>

                </table>
            </div>

            <div class="row" style="margin: 10px 0">
                <div class="col-xs-12" style="text-align: right">
                    <button class="btn btn-primary btn-sm" ng-click="$dismiss('aborted')">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
