<footer class="footer" >
    <div class="container text-muted ">
        <hr>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-6">BalticWeb is an <a href="http://ec.europa.eu/programmes/horizon2020/">EU Horizon2020</a> project,
            part of <a  href="http://efficiensea2.org/">EfficienSea2</a> using the infrastructure provided by the <a  href="http://dev.maritimecloud.net/">MaritimeCloud</a>.</span>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-6" >
            <a class="col-xs-6 col-sm-3" href="http://dev.maritimecloud.net/"><img alt="Maritime Cloud" src="/img/MaritimeCloud_logo_mini_45.png"></a>
            <a class="col-xs-6 col-sm-3" href="http://www.dma.dk/"><img alt="Danish Maritime Authority" height="50px" src="http://efficiensea2.org/img/partners/dma.png"></a>
            <a class="col-xs-6 col-sm-3" href="http://efficiensea2.org/"><img alt="EfficienSea2" src="/img/E2_Logo_Marine_cropped.png"></a>
            <a class="col-xs-6 col-sm-3" href="http://ec.europa.eu/programmes/horizon2020/"><img alt="EU" height="50px" src="/img/eu_emblem_2.png"></a>
        </span>
    </div>
</footer>