
<!-- div ng-hide="!showgraphSidebar" ng-class="showgraphSidebar ? 'maritimeweb-sidebar col-xs-9 col-sm-3  col-md-3 sidebar' : 'hidden '" -->
<div uib-collapse="!showgraphSidebar" class="maritimeweb-sidebar col-xs-9 col-sm-3  col-md-3 sidebar" >

    <uib-tabset>

        <!-- Messages tab -->
        <!--uib-tab>
            <uib-tab-heading>
                <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Messages
            </uib-tab-heading>
            <div class="sidebar-panel">
                <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="{{alert.timeout}}">
                    {{alert.msg}}
                </uib-alert>
                &nbsp;
            </div>
        </uib-tab-->


        <!-- Vessels tab -->
        <uib-tab>
            <uib-tab-heading>
                <img src="/img/vessel_gray.png" />
                &nbsp;Vessels
                <span class="badge sidebar-badge" ng-bind="vessels.length"></span>
            </uib-tab-heading>
            <div class="sidebar-panel">

                <div ng-if="!loggedIn" class="vessel-login">
                    <p>Log in to see vessels</p>
                    <button class="btn btn-default" ng-click="login()">Login</button>
                </div>

                <table class="table table-striped" >
                    <tr ng-repeat="vessel in vessels | limitTo: 100">
                        <td width="24" class="vessel-item">
                            <img ng-src="{{iconForVessel(vessel)}}">
                        </td>
                        <td class="vessel-item"><span ng-if="vessel.mmsi"> <a href ng-click="showVesselDetails(vessel)" >{{vessel.mmsi}}</a></span></td>
                        <td class="vessel-item">{{vessel.name}}</td>
                        <td class="vessel-item">{{toLonLat(vessel) | lonlat:{ decimals : 3, pp: true } }}</td>
                    </tr>
                </table>
            </div>
        </uib-tab>


        <!-- NW-NM tab -->
        <uib-tab>
            <uib-tab-heading>
                <img src="/img/nwnm/msi.png" height="16"/>
                NW-NM
                <span class="badge sidebar-badge" ng-bind="nwNmMessages.length"></span>
            </uib-tab-heading>

            <div class="sidebar-panel">



                <table class="table table-striped">
                    <tr ng-repeat-start="msg in nwNmMessages" ng-if="$index == 0 || nwnmAreaHeading($index) != nwnmAreaHeading($index - 1)">
                        <td colspan="2"  class="message-area-heading">
                            {{nwnmAreaHeading($index)}}
                        </td>
                    </tr>
                    <tr ng-repeat-end>
                        <td width="24" align="left" class="message-item">
                            <img ng-if="msg.mainType == 'NM'" src="/img/nwnm/nm.png" height="18"/>
                            <img ng-if="msg.mainType == 'NW'" src="/img/nwnm/msi.png" height="18"/>
                        </td>
                        <td width="*" class="message-item">
                            <span ng-if="msg.shortId">{{msg.shortId}}:&nbsp;</span>
                            <a href ng-click="showNwNmDetails(msg)">{{msg.descs[0].title}}</a>
                        </td>
                    </tr>
                </table>
                <div class="message-services">
                    <table class="table table-striped" cellpadding="10">
                        <tr>
                            <td width="60" valign="top">
                                <img src="/img/servicereg_152.png" height="48">
                            </td>
                            <td width="*">
                                <strong>MC NW-NM Services</strong>&nbsp;
                                <small tooltip="Refresh" class="glyphicon glyphicon-refresh" ng-click="refreshNwNmServices()"></small>
                                <div class="message-service" ng-repeat="s in nwNmServices">
                                    <input type="checkbox" ng-model="s.selected" ng-change="nwNmSelected(s)">&nbsp;{{s.name}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </uib-tab>


    </uib-tabset>

</div>
